<!-- <html> -->
<div class="container">
  <div class="con5 ovh wrap-1200 con">
    <div class="left fll">
      <div class="subTitle2">설정</div>
      <ul class="fw500">
        <li>
          <a href="/settings">회원정보</a>
        </li>
        <li>
          <a href="/history" class="fcOrange">충전내역</a>
        </li>
        <li>
          <a href="/transactions">Transaction History</a>
        </li>
        <li>
          <a href="/salesHistory">Sales History</a>
        </li>
        <li>
          <a href="/myData">등록데이터 목록</a>
        </li>
      </ul>
    </div>
    <div class="right fll">
      <div class="subTitle">충전내역</div>
      <div class="desTitle fz12 fw500 fcGray">등록된 콘텐츠 리스트입니다.</div>
      <div class="con6 df fw700">
        <div class="fll">잔고내역</div>


        <!-- template-->

      </div>
      <div class="con7">
        <div class="table">
          <table>
            <colgroup>
              <col style="width:15%;">
              <col style="width:25%;">
              <col style="width:45%;">
              <col style="width:15%;">
            </colgroup>
            <thead>
              <tr>
                <th>일자</th>
                <th>충전</th>
                <th>충전 포인트</th>
                <th>확인</th>
              </tr>
            </thead>
            <tbody>

              <!-- template-->


            </tbody>

          </table>
        </div>
        <div class="pageNavi_inner">
          <div class="pageNavi ovf" id="paging">
            <a href="#!" class="fll"><i class="fas fa-angle-double-left"></i></a>
            <a href="#!" class="fll"><i class="fas fa-angle-left"></i></a>
            <a href="#!" class="fll on">1</a>
            <a href="#!" class="fll"><i class="fas fa-angle-right"></i></a>
            <a href="#!" class="fll"><i class="fas fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/paging.js"></script>

<script id="template-balance" type="text/template">
  <div class="fll">
    <ul>
      <li>NEMOPoint</li>
      <li class="fz20 fcOrange">${point}</li>
    </ul>
  </div>
  <span></span>
  <div class="fll">
    <ul>
      <li>NEMOCoin</li>
      <li class="fz20 fcOrange">${coin}</li>
    </ul>
  </div>
  <span></span>
  <div class="fll">
    <ul>
      <li>ETH</li>
      <li class="fz20 fcOrange">${eth}</li>
    </ul>
  </div>
</script>


<script id="template-charging-list" type="text/template">
  <tr>
    <td>${add_dt}</td>
    <td class="tar">${deposit_price_str} ${purchase_method} </td>
    <td class="tar">${purchase_amount_str} ${charge_type}</td>
    <td>{{html confirm_tag}}</td>
  </tr>
</script>

<script type="text/javascript">
  var page_num = 1;
  var cnt = 10;


  function depositConfirm(targetObj, charge_no) {
    showCommonPopup2('안내', '입금확인 요청 하시겠습니까?', 'CANCEL', function (){

      }, 'OK', function (){
        //입금확인 요청
        var dataMap_depositConfirm = {
          'call_url': '/api/charge/depositConfirm.do',
          charge_no: charge_no,
        }

        $.ajax({
          type: "GET",
          url: "/api/getApi",
          data: dataMap_depositConfirm,
          dataType: "json",
          success: function(response) {
            if (response.result.code === 0) {
              targetObj.outerHTML = "입금확인중";

            }else if(response.result.code === 999010 || response.result.code === 999011){
              location.href = '/member/login';
            } else {
              alert(`code : ${response.result.code} , msg : ${response.result.msg}`);
            }
          },
          error: function(data) {
            console.log('error');
            console.log(data);
          }

        });
      }
    );
  }


  function setMemInfo(memInfo) {
    //ETH 잔액확인
    var dataMap_selectWallet = {
      'call_url': '/api/wallet/selectWallet.do',
      wallet_type: "REGULAR",
    }

    $.ajax({
      type: "GET",
      url: "/api/getApi",
      data: dataMap_selectWallet,
      dataType: "json",
      success: function(response) {
        if (response.result.code === 0) {
          let eth = 0;
          if(!isEmpty(response.data)){
            eth = response.data.eth_balance;
          }


          //history-container rendering
          let dataMap = {
            'point' : addComma(gMemberInfo.point.toString()),
            'coin' : addComma(gMemberInfo.coin_balance.toString()),
            'eth' : addComma(eth.toString())
          }
          var html = $('#template-balance')[0].innerHTML;
          $.tmpl(html, dataMap).appendTo('.con6');

          getChargingList();
        }else if(response.result.code === 999010 || response.result.code === 999011){
          location.href = '/member/login';
        } else {
          alert(`code : ${response.result.code} , msg : ${response.result.msg}`);
        }
      },
      error: function(data) {
        console.log('error');
        console.log(data);
      }

    });
  }

  function financial(x) {
    return Number.parseFloat(x).toFixed(2);
  }

  function getChargingList() {
    //충전리스트
    var dataMap_selectChargeList = {
      'call_url': '/api/charge/selectChargeList.do',
      page_num: page_num,
      cnt: cnt
    }

    $.ajax({
      type: "GET",
      url: "/api/getApi",
      data: dataMap_selectChargeList,
      dataType: "json",
      success: function(response) {
        if (response.result.code === 0) {
          $('.table tbody').empty();

          let list = response.data.charge_list

          if(list.length > 0){
            for (var i = 0; i < list.length; i++) {
              var date = new Date(list[i].add_dt);
              list[i].add_dt = getFormatDate(date, '-');
              list[i].deposit_price_str = addComma(list[i].deposit_price_str);
              list[i].purchase_amount_str = addComma(list[i].purchase_amount_str);

              var confirm_tag = list[i].stat_str;
              if(list[i].purchase_method === 'CASH' && list[i].stat === '01'){
                confirm_tag = `<a href="javascript:void(0);" onclick="depositConfirm(this,'${list[i].charge_no}');">입금확인요청</a>`;
              }

              list[i].confirm_tag = confirm_tag;
            }
          }

          //charging-list rendering
          var chargingListTemplateHTML = $('#template-charging-list')[0].innerHTML;
          $.tmpl(chargingListTemplateHTML, list).appendTo('.table tbody');

          var page_viewList = Paging(response.data.total_cnt, 10, 5, page_num, "PagingView");
          $('#paging').empty().html(page_viewList);
        }else if(response.result.code === 999010 || response.result.code === 999011){
          location.href = '/member/login';
        } else {
          alert(`code : ${response.result.code} , msg : ${response.result.msg}`);
        }
      },
      error: function(data) {
        console.log('error');
        console.log(data);
      }
    });
  }


  var goPaging_PagingView = function(cPage) {
    page_num = cPage;
    getChargingList();
  };
</script>
