<!-- <html> -->
<div class="container">
  <div class="con5 ovh wrap-1200 con">
    <div class="left fll">
      <div class="subTitle2">설정</div>
      <ul class="fw500">
        <li>
          <a href="/settings">회원정보</a>
        </li>
        <li>
          <a href="/history">충전내역</a>
        </li>
        <li>
          <a href="/transactions">Transaction History</a>
        </li>
        <li>
          <a href="/salesHistory">Sales History</a>
        </li>
        <li>
          <a href="/myData" class="fcOrange">등록데이터 목록</a>
        </li>
      </ul>
    </div>
    <div class="right fll">
      <div class="subTitle">등록데이터</div>
      <div class="desTitle fz12 fw500 fcGray">등록된 컨텐츠 리스트입니다. </div>

      <div class="con10">
        <div class="table">
          <table>
            <colgroup>
              <col style="width:10%;">
              <col style="width:30%;">
              <col style="width:10%;">
              <col style="width:15%;">
              <col style="width:15%;">
              <col style="width:10%;">
              <col style="width:10%;">
            </colgroup>
            <thead>
              <tr>
                <th>일자</th>
                <th>제목</th>
                <th>타입</th>
                <th>파일수</th>
                <th>상태</th>
                <th>옵션</th>
                <th>삭제</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                <td>2019.01.01</td>
                <td class="tover">9급공무원 수학 2강 등차수열9급공무원 수열9급공무원수열원수열9원수열9원수열99</td>
                <td class="">111,085 NEMOPoint</td>
                <td class="">등록완료</td>
                <td>streaming+download</td>
                <td><a href="#">삭제</a></td>
              </tr> -->
            </tbody>

          </table>
        </div>
        <div class="pageNavi_inner">
          <div class="pageNavi ovf" id="paging">
            <a href="#!" class="fll"><i class="fas fa-angle-double-left"></i></a>
            <a href="#!" class="fll"><i class="fas fa-angle-left"></i></a>
            <a href="#!" class="fll on">1</a>
            <a href="#!" class="fll"><i class="fas fa-angle-right"></i></a>
            <a href="#!" class="fll"><i class="fas fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/js/paging.js"></script>

<script id="template-list-item" type="text/template">
  <tr>
    <td>${add_dt}</td>
    <td class="tover">${title}</td>
    <td class="">${type_str}</td>
    <td class="">${file_cnt} 개</td>
    <td class="">${stat_str}</td>
    <td>${opt_str}</td>
    <td><a href="javascript:contentDelete('${content_no}');">삭제</a></td>
  </tr>
</script>


<script type="text/javascript">
  var page_num = 1;
  var cnt = 10;

  $(document).ready(function() {
    //getFileList();
  });


  /*
    header에서 회원정보 호출된 후 이 함수를 호출하게 되어있음.
    회원정보가 필요하여 회원정보 후에 리스트를 호출하게 만들었음.
  */
  function setMemInfo(memberInfo) {
    getFileList();
  }

  function getFileList(){
    var dataMap = {
      'call_url': '/api/file/selectMyContentList.do',
      page_num: page_num,
      cnt: cnt
    }

    $.ajax({
      type: "GET",
      url: "/api/getApi",
      data: dataMap,
      dataType: "json",
      success: function(response) {
        console.log(response);

        if (response.result.code === 0) {
          $('.table tbody').empty();

          let html = $('#template-list-item')[0].innerHTML;
          let list = response.data.list;

          if(list.length > 0){
            for (var i = 0; i < list.length; i++) {
              var date = new Date(list[i].add_dt);
              list[i].add_dt = getFormatDate(date, '-');

              var opt_str = '';
              if(list[i].streaming_yn === 'Y' && list[i].download_yn === 'Y'){
                list[i].opt_str = 'STREAMING+DOWNLOAD'
              }else{
                if(list[i].streaming_yn === 'Y'){
                  list[i].opt_str = 'STREAMING';
                }else if(list[i].download_yn === 'Y'){
                  list[i].opt_str = 'DOWNLOAD';
                }
              }

              //타입
              if(list[i].type === 'ONE'){
                list[i].type_str = '단편';
              }else if(list[i].type === 'SERIES'){
                list[i].type_str = '시리즈';
              }

              //상태
              if(list[i].encrypt_complete){
                list[i].stat_str = '판매중';
              }else{
                list[i].stat_str = '암호화중';
              }

              $.tmpl(html, list[i]).appendTo('.table tbody');

              var page_viewList = Paging(response.data.total_cnt, 10, 5, page_num, "PagingView");

              $('#paging').empty().html(page_viewList);
            }
          }else{
            $('.table tbody').html('<div style="text-align: center; margin-top: 20px;">조회된 데이터가 없습니다.</div>');
          }
        }else if(response.result.code === 999010 || response.result.code === 999011){
          location.href = '/member/login';
        } else {
          alert(`code : ${response.result.code} , msg : ${response.result.msg}`);
        }
      },
      error: function(data) {
        console.log('error');
        console.log(data);
      }
    });
  }


  var goPaging_PagingView = function(cPage) {
    page_num = cPage;
    getFileList();
  };



  function contentDelete(content_no){
    showCommonPopup2('안내', '정말 삭제 하시겠습니까?', 'CANCEL', function (){

    }, 'OK', function (){

      var dataMap = {
        'call_url': '/api/file/deleteContent.do',
        'content_nos' : content_no
      }
      $.ajax({
        type: "GET",
        url: "/api/getApi",
        data: dataMap,
        dataType: "json",
        success: function(response) {
          if (response.result.code === 0) {
            showCommonPopup('안내', '삭제되었습니다.', 'OK', function (){
              location.reload();
            });
          }else if(response.result.code === 999010 || response.result.code === 999011){
            location.href = '/member/login';
          }else{
            alert(`code : ${response.result.code} , msg : ${response.result.msg}`);
          }
        }
      });
    });
  }


</script>
