<!-- <html> -->
<div class="container">
  <div class="con5 ovh wrap-1200 con">
    <div class="left fll">
      <div class="subTitle2">설정</div>
      <ul class="fw500">
        <li>
          <a href="/settings">회원정보</a>
        </li>
        <li>
          <a href="/history">충전내역</a>
        </li>
        <li>
          <a href="/transactions">Transaction History</a>
        </li>
        <li>
          <a href="/salesHistory" class="fcOrange">Sales History</a>
        </li>
        <li>
          <a href="/myData">등록데이터 목록</a>
        </li>
      </ul>
    </div>
    <div class="right fll">
      <div class="subTitle">SALES HISTORY</div>
      <div class="desTitle fz12 fw500 fcGray">판매된 컨텐츠 리스트입니다. </div>

      <div class="con10">
        <div class="table">
          <table>
            <colgroup>
              <col style="width:15%;">
              <col style="width:35%;">
              <col style="width:15%;">
              <col style="width:15%;">
              <col style="width:15%;">
            </colgroup>
            <thead align="center">
              <tr>
                <th>일시</th>
                <th>제목</th>
                <th>포인트</th>
                <th>메일</th>
                <th>옵션</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                <td>2019.01.01</td>
                <td class="">13:10</td>
                <td class="tover">9급공무원 수학 2강 등차수열9급공무원 수열9급공무원수열원수열9원수열9원수열99</td>
                <td class="">111,085 NEMOPoint</td>
                <td class="">kimnemo@nemolab.kr</td>
                <td>streaming+download</td>
              </tr> -->

            </tbody>
          </table>
        </div>
        <div class="pageNavi_inner">
          <div class="pageNavi ovf" id="paging">
            <a href="#!" class="fll"><i class="fas fa-angle-double-left"></i></a>
            <a href="#!" class="fll"><i class="fas fa-angle-left"></i></a>
            <a href="#!" class="fll on">1</a>
            <a href="#!" class="fll"><i class="fas fa-angle-right"></i></a>
            <a href="#!" class="fll"><i class="fas fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>

      <div class="pointc_wrap">
        <div class="subTitle mb30">포인트전환 신청<span class=""> (NEMOPoint <i class="fas fa-arrow-right"></i> NEMOCoin)</span></div>

        <div class="pointc_con mb20">
            <div class="top_list">
              <div class="df jsb mb20">
                <sapn>내 보유 포인트</sapn>
                <span class="fz18" id="my_point">0</span>
              </div>

              <div class="df jsb mb20">
                <sapn>전환 포인트</sapn>
                <input type="number" placeholder="전환하실 포인트를 입력해주세요." id="charge_point">
              </div>

              <div class="df jsb mb20">
                <sapn>전환예정 코인수량</sapn>
                <span class="fz18 fcOrange" id="charge_coin">0</span>
              </div>
            </div>

            <div class="tac" id="btn_bottom">
              <a href="javascript:poinCoin();" class="btn_bottom">신청하기</a>
            </div>
            <div class="tac hidden" id="btn_loading">
              <a href="javascript:void(0);" class="btn_bottom"><i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading</a>
            </div>

            <!-- <div class="top_list">
                <div class="tac fz26 fw700 fcOrange mb20">100,000,000 NEMOPoint</div>
                <div class="tac fz14 fw500 mb20">NEMOCoin 전환 신청이 완료 되었습니다.<br>
                Transaction이 완료 되면 Regular 지갑에서 확인하실 수 있습니다.
                </div>
            </div>

            <div class="tac">
              <a href="#" class="btn_bottom">완료</a>
            </div> -->

        </div>

        <div class="txt">
          <p>- NEMOPoint 전환 신청은 최소 10,000 NEMOPoint부터 신청하실 수 있습니다.</p>
          <p>- 코인의 가치는 CoinmarketCap을 기준으로 산정됩니다.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/js/paging.js"></script>

<script id="template-list-item" type="text/template">
  <tr>
    <td>${add_dt}</td>
    <td class="tover">${content_title}(${title})</td>
    <td class="">${point} NEMOPoint</td>
    <td class="">${mem_id}</td>
    <td>${purchase_method}</td>
  </tr>
</script>


<script id="template-point-complete" type="text/template">
  <div class="top_list">
      <div class="tac fz26 fw700 fcOrange mb20">${point} NEMOPoint</div>
      <div class="tac fz14 fw500 mb20">NEMOCoin 전환 신청이 완료 되었습니다.<br>
        Transaction이 완료 되면 Regular 지갑에서 확인하실 수 있습니다.<br>
        <div class=" fz12 fw500">
          <a href="${etherscan_url}" class="fcOrange" target="_blank"> OUT LINK TO Ethersac.IO</a>
        </div>
      </div>
  </div>

  <div class="tac">
    <a href="javascript:location.reload();" class="btn_bottom">완료</a>
  </div>
</script>

<script type="text/javascript">
  var page_num = 1;
  var cnt = 10;

  $(document).ready(function() {
    getSaleList();

    getChargeRate();

    //point로 coin 충전 계산
    $("#charge_point").keyup(function() {
      let cash_coin = rate.CASH_COIN; //1원이 몇코인인지..
      let point = $("#charge_point").val();

      if(point >= 10000){
        //계산방법 (포인트 - (포인트 * 수수료율 / 100) ) * 비율(cash_coin))
        let coin = (point - (point * gMemberInfo.commission / 100)) * cash_coin;
        //console.log(coin);
        $("#charge_coin").html(addComma(parseInt(coin) + ''));
      }


    });
    $('#charge_point').keypress(function (event) {
      if (event.which && (event.which <= 47 || event.which >= 58) && event.which != 8) {
        event.preventDefault();
      }
    });
  });


  function getSaleList() {
    var dataMap = {
      'call_url': '/api/file/selectSaleList.do',
      page_num: page_num,
      cnt: cnt
    }

    $.ajax({
      type: "GET",
      url: "/api/getApi",
      data: dataMap,
      dataType: "json",
      success: function(response) {
        console.log(response);

        if (response.result.code === 0) {
          $('.table tbody').empty();

          let html = $('#template-list-item')[0].innerHTML;
          let list = response.data.sale_list;

          if(list.length > 0){
            for (var i = 0; i < list.length; i++) {
              var date = new Date(list[i].add_dt);
              list[i].add_dt = getFormatDateTime(date, '-', ':');

              if(list[i].purchase_method === 'ALL'){
                list[i].purchase_method = 'STREAMING+DOWNLOAD';
              }

              list[i].point = addComma(list[i].point + '');

              $.tmpl(html, list[i]).appendTo('.table tbody');

              var page_viewList = Paging(response.data.total_cnt, 10, 5, page_num, "PagingView");

              $('#paging').empty().html(page_viewList);
            }
          }else{
            $('.table tbody').html('<div style="text-align: center; margin-top: 20px;">조회된 데이터가 없습니다.</div>');
          }
        }else if(response.result.code === 999010 || response.result.code === 999011){
          location.href = '/member/login';
        } else {
          alert(`code : ${response.result.code} , msg : ${response.result.msg}`);
        }
      },
      error: function(data) {
        console.log('error');
        console.log(data);
      }
    });

  }


  var goPaging_PagingView = function(cPage) {
    page_num = cPage;
    getSaleList();
  };


  //
  function setMemInfo(memInfo){
    $('#my_point').html(addComma(gMemberInfo.point + ''));

  }

  function poinCoin(){
    let point = $("#charge_point").val();
    let coin = removeComma($('#charge_coin').text());


    if(wallet_regular === undefined){
      showCommonPopup('안내', '지갑을 먼저 생성해야 합니다.', 'OK', function (){
      });
      return;
    }

    if(point < 10000){
      showCommonPopup('안내', '최소 10,000 NEMOPoint부터 신청하실 수 있습니다.', 'OK', function (){
      });
      return;
    }

    if(point > gMemberInfo.point){
      showCommonPopup('안내', '보유 포인트보다 많이 신청하실 수 없습니다.', 'OK', function (){
      });
      return;
    }

    //버튼 로딩 처리
    $('#btn_loading').removeClass('hidden');
    $('#btn_bottom').addClass('hidden');

    let dataMap = {
      'call_url' : '/api/charge/pointCoin.do',
      'purchase_amount' : coin,
      'deposit_price' : point
    };

    $.ajax({
      type: "POST",
      url: "/api/postApi",
      data : dataMap,
      dataType: "json",
      success: function( data ) {
        console.log(data);

        if(data.result.code === 0){

          let dMap = {
            'point' : addComma(point),
            'etherscan_url' : data.data.link
          };
          let html = $('#template-point-complete')[0].innerHTML;
          $('.pointc_con').empty();
          $.tmpl(html, dMap).appendTo('.pointc_con');
        }else if(data.result.code === 999010 || data.result.code === 999011){
          location.href = '/member/login';
        }else{
          alert(`code : ${data.result.code} , msg : ${data.result.msg}`);
        }
      },
      error: function( data ) {
        console.log('error');
        console.log(data);
      }
    });


  }

</script>
