<!-- <html> -->
<div class="container">
  <div class="con5 ovh wrap-1200 con">
    <div class="left fll">
      <div class="subTitle2">설정</div>
      <ul class="fw500">
        <li>
          <a href="/settings" class="fcOrange">회원정보</a>
        </li>
        <li>
          <a href="/history">충전내역</a>
        </li>
        <li>
          <a href="/transactions">Transaction History</a>
        </li>
        <li>
          <a href="/salesHistory">Sales History</a>
        </li>
        <li>
          <a href="/myData">등록데이터 목록</a>
        </li>
      </ul>
    </div>
    <!--
    <div class="right fll">
      <div class="subTitle ttu">회원정보</div>
      <div class="desTitle fz12 fw500 fcGray">회원님의 정보를 수정/확인하실 수 있습니다.</div>
      <div class="con13 ovh">
        <div class="form_type1 fll">
          <div class="form-input df">
            <label for="">아이디 *</label>
            <div class="item">
              <input id="email" type="email" placeholder="이메일을 입력해주세요." value="asjdha@naver.com" readonly>
            </div>
          </div>
          <div class="form-input df">
            <label for="">비밀번호 *</label>
            <div class="item">
              <input type="password" placeholder="비밀번호를 입력해주세요." value="123456789">
              <span class="er"></span>
            </div>
          </div>
          <div class="form-input df">
            <label for="">이름 *</label>
            <div class="item">
              <input type="text" placeholder="이름을 입력해주세요." readonly value="김네모">
              <span class="er"></span>
            </div>
          </div>
          <div class="form-input df">
            <label for="">생년월일</label>
            <div class="item df">
              <div class="form_input_inner">
                <input type="text" value="1990-06-24" readonly>
              </div>
            </div>
          </div>
          <div class="form-input df">
            <label for="">성별</label>
            <div class="item df">
              <div class="input-radio">
                <input type="radio" id="radio1_1" name="radio1">
                <label for="radio1_1">남자</label>
              </div>
              <div class="input-radio">
                <input type="radio" id="radio1_2" name="radio1">
                <label for="radio1_2">여자</label>
              </div>
            </div>
          </div>
          <div class="form-input df">
            <label for="">전화번호 *</label>
            <div class="item">
              <div class="item_inner df">
                <div class="wrap_select">
                  <select name="" id="">
                    <option value="">+82</option>
                    <option value="">+82</option>
                  </select>
                </div>
                <span class="w15"></span>
                <div class="form-input_inner w140">
                  <input type="text" placeholder="'-' 없이 입력해주세요." value="12345678">
                </div>
                <span class="w15"></span>
                <a href="#!" class="btn_01 orange">인증번호</a>
              </div>
              <div class="item_inner df mt10">
                <div class="form-input_inner w215">
                  <input type="text" disabled>
                </div>
                <span class="w15"></span>
                <a href="#!" class="btn_01">확인</a>
              </div>
              <span class="er">인증번호가 일치하지 않습니다.</span>
            </div>
          </div>
          <div class="form-input df">
            <label for="">소속</label>
            <div class="item">
              <input type="text" placeholder="강의바다" value="강의바다">
              <span></span>
            </div>
          </div>
          <div class="form-input df">
            <label for="">접속가능시간</label>
            <div class="item df jsb tac">
              <div class="wrap_select">
                <select name="" id="">
                  <option value="">HH</option>
                  <option value="" selected>20</option>
                </select>
              </div>
              <span class="w15 tac">:</span>
              <div class="wrap_select">
                <select name="" id="">
                  <option value="">MM</option>
                  <option value="" selected>00</option>
                </select>
              </div>
              <span class="w15 tac">~</span>
              <div class="wrap_select">
                <select name="" id="">
                  <option value="">HH</option>
                  <option value="" selected>22</option>
                </select>
              </div>
              <span class="w15 tac">:</span>
              <div class="wrap_select">
                <select name="" id="">
                  <option value="">MM</option>
                  <option value="" selected>00</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-input df">
            <label for="">인사말</label>
            <div class="item">
              <textarea name="" id="" placeholder="선생님의">안녕하세요 수학선생님 최영 입니다. 제 1강 수학 등차수열 수업입니다.안녕하세요 수학선생님 최영 입니다. 제 1강 수학 등차수열 수업입니다. 열심히 잘들어랏 두번들어라 세번들어라</textarea>
            </div>
          </div>
        </div>
        <div class="fll">
          <div class="img_wrap img_upload">
            <div class="bottom">사진변경</div>
            <input type="file" id="file_upload">
            <label for="file_upload"></label>
          </div>
        </div>
      </div>
      <div class="bar"></div>
      <div class="bottom">
        <div class="inner">
          <a href="#!" class="btn">취소</a>
          <a href="#!" class="btn orange">회원정보수정</a>
        </div>
      </div>
    </div>
    -->
  </div>
</div>

<script src="https://www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.0.1/firebase-auth.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
<script src="/js/sha256.js"></script>

<script id="template-member-info" type="text/template">
  <div class="right fll">
    <div class="subTitle ttu">회원정보</div>
    <div class="desTitle fz12 fw500 fcGray">회원님의 정보를 수정/확인하실 수 있습니다.</div>
    <div class="con13 ovh">
      <div class="form_type1 fll">
        <div class="form-input df">
          <label for="">아이디 *</label>
          <div class="item">
            <input type="email" placeholder="이메일을 입력해주세요." value="${mem_id}" readonly>
          </div>
        </div>
        <div class="form-input df">
          <label for="">비밀번호 *</label>
          <div class="item">
            <input type="password" id="opwd" placeholder="비밀번호를 입력해주세요." maxlength="20">
            <span class="er" id="opwd_msg"></span>
          </div>
        </div>
        <div class="form-input df">
          <label for="">비밀번호확인 *</label>
          <div class="item">
            <input type="password" id="cpwd" placeholder="비밀번호를 입력해주세요." maxlength="20">
            <span class="er" id="cpwd_msg"></span>
          </div>
        </div>
        <div class="form-input df">
          <label for="">이름 *</label>
          <div class="item">
            <input type="text" id="name" placeholder="이름을 입력해주세요." readonly value="${name}">
            <span class="er"></span>
          </div>
        </div>
        <div class="form-input df">
          <label for="">생년월일 *</label>
          <div class="item df">
            <div class="form_input_inner">
              <input type="text" id="birthday" value="${birthday}" readonly>
            </div>
          </div>
        </div>
        <div class="form-input df">
          <label for="">성별 *</label>
          <div class="item df">
            <div class="input-radio">
              <input type="radio" id="radio1_1" name="radio1" disabled>
              <label for="radio1_1">남자</label>
            </div>
            <div class="input-radio">
              <input type="radio" id="radio1_2" name="radio1" disabled>
              <label for="radio1_2" >여자</label>
            </div>
          </div>
        </div>
        <div class="form-input df">
          <label for="">전화번호 *</label>
          <div class="item">
            <div class="item_inner df">
              <div class="wrap_select">
                <select name="nation_cd" id="nation_cd">
                  <option value="+82" selected>+82</option>

                </select>
              </div>
              <span class="w15"></span>
              <div class="form-input_inner w140">
                <input type="text" id="phone" placeholder="'-' 없이 입력해주세요." value="${phone}">
              </div>
              <span class="w15"></span>
              <!--<a href="#!" class="btn_01 orange">인증번호</a>-->
              <button class="btn_01 orange" id="btn_code_send">인증번호</button>
            </div>
            <div class="item_inner df mt10">
              <div class="form-input_inner w215">
                <!-- <input type="text" disabled> -->
                <input type="text" id="code" name="code">
              </div>
              <span class="w15"></span>
              <!--<a href="#!" class="btn_01">확인</a> -->
              <a href="#!" class="btn_01" id="btn_verify">확인</a>
            </div>
            <span class="er" id="phone_msg">인증번호가 일치하지 않습니다.</span>
          </div>
        </div>
        <!-- <div class="form-input df">
          <label for="">소속</label>
          <div class="item">
            <input id="company" type="text" placeholder="소속" value="${company}" maxlength="40">
            <span></span>
          </div>
        </div> -->
        <div class="form-input df">
          <label for="">접속가능시간</label>
          <div>
            <div class="item df jsb tac">
              <div class="wrap_select">
                <select name="" id="down_start_time_hh">
                  <option value="">HH</option>
                  <option value="00">00</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                </select>
              </div>
              <span class="w15 tac">:</span>
              <div class="wrap_select">
                <select name="" id="down_start_time_mm">
                  <option value="">MM</option>
                  <option value="00">00</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
                </select>
              </div>
              <span class="w15 tac">~</span>
              <div class="wrap_select">
                <select name="" id="down_end_time_hh">
                  <option value="">HH</option>
                  <option value="00">00</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                </select>
              </div>
              <span class="w15 tac">:</span>
              <div class="wrap_select">
                <select name="" id="down_end_time_mm">
                  <option value="">MM</option>
                  <option value="00">00</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
                </select>
              </div>
            </div>
            <span class="er" id="down_time_msg"></span>
          </div>
        </div>
        <div class="form-input df">
          <label for="">인사말</label>
          <div class="item">
            <textarea name="" id="introduce" placeholder="선생님의" maxlength="200">${introduce}</textarea>
          </div>
        </div>
      </div>
      <div class="fll">
        <div class="img_wrap img_upload" style="overflow:hidden;">
          <img src="/images/04_personal-information_03.png" id="image_section" class="img_crop" onerror="imageError(this);">
          <div class="bottom">사진변경</div>

          <input type="file" id="file_upload">
          <label for="file_upload"></label>
        </div>
      </div>
    </div>
    <div class="bar"></div>
    <div class="bottom">
      <div class="inner">
        <a href="javascript:void(0);" class="btn" id="cancelBtn">취소</a>
        <a href="javascript:void(0);" class="btn orange" id="memInfoModifyBtn">회원정보수정</a>
      </div>
    </div>
  </div>
</script>



<script type="text/javascript">
  let authPhoneFlag = false;
  let authNationCd;
  let authPhone;

  // Initialize Firebase
  var firebaseConfig = {
    apiKey: "AIzaSyC5JrnP6AvJAKqb_AsmzpxePGrIRrHIW70",
    authDomain: "nemodax-f5926.firebaseapp.com",
    databaseURL: "https://nemodax-f5926.firebaseio.com",
    projectId: "nemodax-f5926",
    storageBucket: "nemodax-f5926.appspot.com",
    messagingSenderId: "987941163871",
    appId: "1:987941163871:web:2c8b3721732e6b5f"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

  //firebase.auth().languageCode = 'it';
  // To apply the default browser preference instead of explicitly setting it.
  firebase.auth().useDeviceLanguage();


  //AWS S3 Setting
  //var bucketName = 'nemodax-upload-dev';
  var bucketRegion = 'ap-northeast-2';
  var IdentityPoolId = 'ap-northeast-2:836df382-4633-4f5f-9e09-fa4ad2204706';

  AWS.config.update({
    region: bucketRegion,
    credentials: new AWS.CognitoIdentityCredentials({
      IdentityPoolId: IdentityPoolId
    })
  });

  var s3 = new AWS.S3({
    apiVersion: '2006-03-01',
    params: {
      Bucket: s3_bucket
    }
  });

  var page_num = 1;
  var cnt = 10;

  var local_memInfo

  $(document).ready(function() {

  });

  function setMemInfo(memInfo) {
    //console.log(memInfo);
    local_memInfo = memInfo;
    var memberInfoHTML = $('#template-member-info')[0].innerHTML;
    $.tmpl(memberInfoHTML, local_memInfo).appendTo('div .con5.ovh.wrap-1200.con');


    //representing gender
    if (local_memInfo.gender == "MALE") {
      $('#radio1_1').attr('checked', 'checked');
    } else {
      $('#radio1_2').attr('checked', 'checked');
    }


    //representing available download time
    let down_start_time_hh = '';
    let down_start_time_mm = '';
    let down_end_time_hh = '';
    let down_end_time_mm = '';
    if(!isEmpty(local_memInfo.down_start_time)){
      down_start_time_hh = local_memInfo.down_start_time.substr(0, 2);
      down_start_time_mm = local_memInfo.down_start_time.substr(2, 4);
    }
    if(!isEmpty(local_memInfo.down_end_time)){
      down_end_time_hh = local_memInfo.down_end_time.substr(0, 2);
      down_end_time_mm = local_memInfo.down_end_time.substr(2, 4);
    }


    $('#down_start_time_hh').val(down_start_time_hh).attr("selected", "selected");
    $('#down_start_time_mm').val(down_start_time_mm).attr("selected", "selected");
    $('#down_end_time_hh').val(down_end_time_hh).attr("selected", "selected");
    $('#down_end_time_mm').val(down_end_time_mm).attr("selected", "selected");

    //$('#image_section').attr('src', local_memInfo.image_url);

    //radio eventhandling
    $('#radio1_1').change(function() {
      $('#radio1_1').attr('checked', 'checked');
      $('#radio1_2').removeAttr('checked');
    });
    $('#radio1_2').change(function() {

      $('#radio1_1').removeAttr('checked');
      $('#radio1_2').attr('checked', 'checked');
    });

    if(!isEmpty(local_memInfo.image_url)){
      $('#image_section').attr('src', local_memInfo.image_url);
      $('.img_upload').css('background-image', `url('')`);
    }




    //인증코드 발송 버튼에 recaptcha 설정
    window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('btn_code_send', {
      'size': 'invisible',
      'callback': function(response) {
        // reCAPTCHA solved, allow signInWithPhoneNumber.
        //console.log('recaptchaVerifier callback :: ');
        //console.log(response);

        sendPhoneAuthCode();
      }
    });

    recaptchaVerifier.render().then(function(widgetId) {
      window.recaptchaWidgetId = widgetId;
    });


    //코드 확인 버튼
    $('#btn_verify').bind('click', function(e) {
      let code = $('#code').val();
      if ($.trim(code) === '') {
        showErrMsg($('#phone_msg'), '인증코드를 입력해주세요.');
        return false;
      }

      e.preventDefault();

      window.confirmationResult.confirm(code).then(function(result) {
        // User signed in successfully.
        var user = result.user;
        //console.log(user);

        window.confirmationResult = null;
        authPhoneFlag = true;
        authPhone = $('#phone').val();
        authNationCd = $("#nation_cd option:selected").val();

        alert('인증되었습니다.');

      }).catch(function(error) {
        // User couldn't sign in (bad verification code?)
        // ...
        alert('인증에 실패하였습니다.');
      });
    });


    //프로필 이미지 선택시.
    $('#file_upload').change(function() {
      path = this.value;
      if (this.files && this.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#image_section').attr('src', e.target.result);
        }

        reader.readAsDataURL(this.files[0]);

      }
    });

    $('#memInfoModifyBtn').bind('click', function() {
      $('.er').hide();

      //validation
      //비밀번호를 변경했다면 체크한다.
      let opwd = $('#opwd').val();
      let cpwd = $('#cpwd').val();
      let objMsg = $('#opwd_msg');

      if($.trim(opwd) !== ''){
        if(!checkPassword(opwd)){
            showErrMsg(objMsg, '영문+숫자 조합으로 최소 8자 이상 입력해주세요.');
            $('#opwd').focus();
            return false;
          }

          //비밀번호 확인 체크
          let cpwd = $('#cpwd').val();
          objMsg = $('#cpwd_msg');
          if(opwd !== cpwd){
            showErrMsg(objMsg, '비밀번호가 일치하지 않습니다.');
            $('#cpwd').focus();
            return false;
          }
      }


      //전화번호를 변경했다면 체크한다.
      let nation_cd = $("#nation_cd option:selected").val();
      let phone = $('#phone').val();
      objMsg = $('#phone_msg');
      if(gMemberInfo.nation_cd !== nation_cd || gMemberInfo.phone !== phone){
        if(!isValidPhone(phone)){
          showErrMsg(objMsg, '휴대폰 번호를 정확하게 입력해주세요.');
          return false;
        }
        if(!authPhoneFlag){
          showErrMsg(objMsg, '휴대폰 인증을 해주세요.');
          return false;
        }
        if(authPhone !== phone || authNationCd !== nation_cd){
          showErrMsg(objMsg, '인증된 휴대폰 번호를 변경하였습니다. 인증을 다시 해주세요.');
          return false;
        }
      }

      //접속가능시간 체크
      let down_start_time_hh = $('#down_start_time_hh option:selected').val();
      let down_start_time_mm = $('#down_start_time_mm option:selected').val();
      let down_end_time_hh = $('#down_end_time_hh option:selected').val();
      let down_end_time_mm = $('#down_end_time_mm option:selected').val();

      objMsg = $('#down_time_msg');
      //모두선택하거나 모두 선택안하거나를 제외
      if((down_start_time_hh !== '' && down_start_time_mm !== '' && down_end_time_hh !== '' && down_end_time_mm !== '')
        || (down_start_time_hh === '' && down_start_time_mm === '' && down_end_time_hh === '' && down_end_time_mm === '')){

      }else{
        showErrMsg(objMsg, '접속가능시간을 모두 선택해주세요.');
        return false;
      }


      //이미지 파일부터 업로드, 이미지 파일이 없다면 함수내에 아무것도 하지않는다.
      fileUpload();

    });


    $('#cancelBtn').click(function() {
      //회원정보 수정 취소
      location.reload();
    });

  }

  //인증코드 발송(firebase 이용)
  function sendPhoneAuthCode(){
    //국가코드,전화번호 체크
    let nation_cd = $("#nation_cd option:selected").val();
    let phone = $('#phone').val();
    let objMsg = $('#phone_msg');


    if(nation_cd === ''){
      showErrMsg(objMsg, '국가코드를 선택해주세요.');
      return false;
    }
    if($.trim(phone) === ''){
      showErrMsg(objMsg, '휴대폰번호를 입력해주세요.');
      return false;
    }
    if(!isValidPhone(phone)){
      showErrMsg(objMsg, '휴대폰 번호를 정확하게 입력해주세요.');
      return false;
    }

    var phoneNumber = "+" + $('#nation_cd option:selected').val() +  $('#phone').val();
    var appVerifier = window.recaptchaVerifier;
    // console.log(phoneNumber);
    // console.log(appVerifier);

    firebase.auth().signInWithPhoneNumber(phoneNumber, appVerifier)
      .then(function (confirmationResult) {
        // SMS sent. Prompt user to type the code from the message, then sign the
        // user in with confirmationResult.confirm(code).
        window.confirmationResult = confirmationResult;
        //console.log(confirmationResult);
        //alert('인증번호를 발송하였습니다.');
        showErrMsg($('#phone_msg'), '인증번호를 발송하였습니다.');

      }).catch(function (error) {
        // Error; SMS not sent
        // ...
        console.log(error);
        alert('인증번호 발송에 실패 하였습니다.');

      });

  }




  function updateInfo() {
    //회원정보 수정
    var dataMap_update = {
      'call_url': '/api/member/update.do',
      down_start_time: $('#down_start_time_hh option:selected').val() + $('#down_start_time_mm option:selected').val(),
      down_end_time: $('#down_end_time_hh option:selected').val() + $('#down_end_time_mm option:selected').val(),
      image_path: local_memInfo.image_path,
      introduce: $('#introduce').val(),
      nation_cd: $("#nation_cd option:selected").val(),
      phone: $('#phone').val()
    }

    let opwd = $('#opwd').val();
    if(opwd !== ''){
      dataMap_update.pwd = SHA256(opwd);
    }

    $.ajax({
      type: "GET",
      url: "/api/getApi",
      data: dataMap_update,
      dataType: "json",
      success: function(response) {
        if (response.result.code === 0) {
          location.reload();
        }else if(response.result.code === 999010 || response.result.code === 999011){
          location.href = '/member/login';
        } else {
          //alert(`code : ${response.result.code} , msg : ${response.result.msg}`);
          showCommonPopup('안내', response.result.msg, 'OK', function (){

          });
          return;
        }
      },
      error: function(data) {
        console.log('memberInfo Update Error: ' + data);
      }

    });
  }


  //이미지 업로드.
  function fileUpload() {
    var files = $('#file_upload')[0].files;

    if (!files.length) {
      updateInfo();

    } else {

      var file = files[0];
      var fileName = file.name;
      var ext = fileName.substring(fileName.lastIndexOf(".") + 1, fileName.length); //파일 확장자

      var timestap = getTimeStamp();
      var uploadKey = 'image/member/' + timestap.substring(0, 8) + '/' + timestap + '_' + getRandomStr(6) + '.' + ext;

      var params = {
        Key: uploadKey,
        Body: file,
        ACL: 'private'
      };
      var options = {
        partSize: 10 * 1024 * 1024,
        queueSize: 1
      };

      s3.upload(params, options).on('httpUploadProgress', function(evt) {

        var percentComplete = Math.round(evt.loaded * 100 / evt.total);
        // document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
        //$('.progress-bar-success').css('width', percentComplete.toString() + '%').html(percentComplete.toString()+'%');
        //console.log(percentComplete);

        // console.log("Uploaded :: " + parseInt((evt.loaded * 100) / evt.total)+'%');
      }).send(function(err, data) {
        if (!err) {
          //alert('upload complete');
          //$('#image_path').val(uploadKey);
          local_memInfo.image_path = uploadKey;
          updateInfo();
        }
      });
    }
  }

  function showErrMsg(obj, msg){
    obj.html(msg);
    //obj.show();
    obj.css("display", "block");

  }

  function imageError(t){
    setTimeout(function (){
      $('#image_section').attr('src', $(t).attr('src'));
      $('.img_upload').css('background-image', `url('')`);
    }, 2000);
  }
</script>
