<!-- <html> -->
<div class="container">
  <div class="con5 ovh wrap-1200 con">
    <div class="left fll">
      <div class="subTitle2">설정</div>
      <ul class="fw500">
        <li>
          <a href="/settings">회원정보</a>
        </li>
        <li>
          <a href="/history">충전내역</a>
        </li>
        <li>
          <a href="/transactions" class="fcOrange">Transaction History</a>
        </li>
        <li>
          <a href="/salesHistory">Sales History</a>
        </li>
        <li>
          <a href="/myData">등록데이터 목록</a>
        </li>
      </ul>
    </div>
    <div class="right fll">
      <div class="subTitle ttu">transaction history</div>
      <div class="desTitle fz12 fw500 fcGray">등록된 콘텐츠 리스트입니다.</div>
      <div class="con8">
        <div class="tab_header ovh">
          <div class="tab_list fll"><a href="#tab1_01" class="on">NEMOCoin</a></div>
          <div class="tab_list fll"><a href="#tab1_02">Transactions</a></div>
        </div>
        <div class="tab_container">
          <div id="tab1_01" class="tab_con">
            <div id="coinList">
              <!-- COIN LIST TEMPLATE  -->
            </div>
            <div class="pageNavi_inner">
              <div class="pageNavi ovf" id="paging">
                <a href="#!" class="fll"><i class="fas fa-angle-double-left"></i></a>
                <a href="#!" class="fll"><i class="fas fa-angle-left"></i></a>
                <a href="#!" class="fll on">1</a>
                <a href="#!" class="fll"><i class="fas fa-angle-right"></i></a>
                <a href="#!" class="fll"><i class="fas fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>


          <div id="tab1_02" class="tab_con">
            <div id="ethList">
              <!-- ETH LIST TEMPLATE  -->
            </div>
            <div class="pageNavi_inner">
              <div class="pageNavi ovf" id="paging2">
                <a href="#!" class="fll"><i class="fas fa-angle-double-left"></i></a>
                <a href="#!" class="fll"><i class="fas fa-angle-left"></i></a>
                <a href="#!" class="fll on">1</a>
                <a href="#!" class="fll"><i class="fas fa-angle-right"></i></a>
                <a href="#!" class="fll"><i class="fas fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/js/paging.js"></script>

<script id="template-coin-transactions" type="text/template">
  <div coinList>
    <div class="table type02">
      <table>
        <colgroup>
          <col style="width:15%;">
          <col style="width:35%;">
          <col style="width:15%;">
          <col style="width:35%;">
        </colgroup>
        <tr>
          <th>Transaction ID</th>
          <td> <a href="${link}" target="_blank"> ${hash} </a></td>
          <th>Time</th>
          <td>${readableTime}</td>
        </tr>
        <tr>
          <th>From</th>
          <td>${from}</td>
          <th>To</th>
          <td>${to}</td>
        </tr>
        <tr>
          <th>Value</th>
          <td>${value} NEMOCoin</td>
          <th>Status</th>
          <td>${status}</td>
        </tr>
      </table>
    </div>
  </div>
</script>

<script id="template-eth-transactions" type="text/template">
  <div id="ethList">
    <div class="table type02">
      <table>
        <colgroup>
          <col style="width:15%;">
          <col style="width:20px;">
          <col style="width:15%;">
          <col style="width:35%;">
        </colgroup>
        <tr>
          <th>Transaction ID</th>
          <td> <a href="${link}" target="_blank"> ${hash} </a></td>
          <th>Time</th>
          <td>${readableTime}</td>
        </tr>
        <tr>
          <th>From</th>
          <td>${from}</td>
          <th>To</th>
          <td>${to}</td>
        </tr>
        <tr>
          <th>Value</th>
          <td>${value} ETH</td>
          <th>Status</th>
          <td>${status}</td>
        </tr>
      </table>
    </div>
  </div>
</script>

<script type="text/javascript">
  var page_num1 = 1;
  var page_num2 = 1;
  var cnt = 5;

  var local_memInfo
  var local_ethBalance;
  var local_chargeList;

  function getTimestampToDate(timestamp){
    var date = new Date(timestamp*1000);
    var chgTimestamp = date.getFullYear().toString() + "년 "
                        +addZero(date.getMonth()+1) + "월 "
                        +addZero(date.getDate().toString()) + "일 "
                        +addZero(date.getHours().toString()) + ":"
                        +addZero(date.getMinutes().toString()) + ":"
                        +addZero(date.getSeconds().toString());
    return chgTimestamp;
  }

  function addZero(data){
    return (data<10) ? "0"+data : data;
  }


  function setMemInfo(memInfo) {
    getCOINTransactionList();
    getETHTransactionList();
  }


  function getCOINTransactionList() {
    //네모코인 트랜잭션 내역
    var dataMap_selectTransactionList = {
      'call_url': '/api/etc/selectTransactionList.do',
      wallet_type: "REGULAR",
      tx_type: "COIN",
      page_num: page_num1,
      cnt: cnt
    }

    $.ajax({
      type: "GET",
      url: "/api/getApi",
      data: dataMap_selectTransactionList,
      dataType: "json",
      success: function(response) {
        if (response.result.code === 0) {
          //$('#tab1_01').empty();
          $('#coinList').empty();

          var listTransactionsHTML = $('#template-coin-transactions')[0].innerHTML;
          receivedData = response.data.list;
          for(idx in receivedData){
            receivedData[idx].status = 'Success';
            receivedData[idx].readableTime = getTimestampToDate(receivedData[idx].timeStamp);
          }

          //$.tmpl(listTransactionsHTML, receivedData).appendTo('#tab1_01');
          $.tmpl(listTransactionsHTML, receivedData).appendTo('#coinList');

          var page_viewList = Paging(response.data.total_cnt, 5, 15, page_num1, "PagingView1");

          $('#paging').empty().html(page_viewList);
        }else if(response.result.code === 999010 || response.result.code === 999011){
          location.href = '/member/login';
        } else {
          alert(`section3 code : ${response.result.code} , msg : ${response.result.msg}`);
        }
      },
      error: function(data) {
        console.log('error');
        console.log(data);
      }
    });
  }

  function getETHTransactionList() {

    //이더 트랜잭션 내역
    var dataMap_selectTransactionList = {
      'call_url': '/api/etc/selectTransactionList.do',
      wallet_type: "REGULAR",
      tx_type: "ETH",
      page_num: page_num2,
      cnt: cnt
    }

    $.ajax({
      type: "GET",
      url: "/api/getApi",
      data: dataMap_selectTransactionList,
      dataType: "json",
      success: function(response) {
        if (response.result.code === 0) {
          //console.log(response);
          //$('#tab1_02').empty();
          $('#ethList').empty();

          var listTransactionsHTML = $('#template-eth-transactions')[0].innerHTML;
          var receivedData = response.data.list;
          for(idx in receivedData){
            if(receivedData[idx].isError === '1'){
              receivedData[idx].status = 'Fail';
            }else{
              receivedData[idx].status = 'Success';
              //receivedData[idx].readableTime = new Date(receivedData[idx].timeStamp*1000);
              receivedData[idx].readableTime = getTimestampToDate(receivedData[idx].timeStamp);
            }
          }
          //$.tmpl(listTransactionsHTML, receivedData).appendTo('#tab1_02');
          $.tmpl(listTransactionsHTML, receivedData).appendTo('#ethList');
          var page_viewList2 = Paging(response.data.total_cnt, 5, 15, page_num2, "PagingView2");

          $('#paging2').empty().html(page_viewList2);
        }else if(response.result.code === 999010 || response.result.code === 999011){
          location.href = '/member/login';
        } else {
          alert(`section3 code : ${response.result.code} , msg : ${response.result.msg}`);
        }
      },
      error: function(data) {
        console.log('error');
        console.log(data);
      }

    });
  }

  var goPaging_PagingView1 = function(cPage) {
    page_num1 = cPage;
    getCOINTransactionList();
  };

  var goPaging_PagingView2 = function(cPage) {
    page_num2 = cPage;
    getETHTransactionList();
  };

</script>
