<!-- <html> -->
<div class="container">
  <div class="wrap-1200 con">
    <div class="subTitle ttu">콘텐츠 및 데이터 등록</div>
  </div>
  <div class="bar"></div>
  <div class="con14 wrap-1200 ovh">
    <form name="create_form" id="create_form">
      <input type="hidden" name="streaming_yn" id="streaming_yn" value="Y"/>
      <input type="hidden" name="download_yn" id="download_yn" value="N"/>
      <input type="hidden" name="file_size" id="file_size" value=""/></p>
      <input type="hidden" name="play_sec" id="play_sec" value=""/></p>
      <input type="hidden" name="image_path" id="image_path" value=""/>
      <input type="hidden" name="server_file_path" id="server_file_path" value=""/>
      <input type="hidden" name="file_name" id="file_name" value=""/>
      <input type="hidden" name="call_url" id="call_url" value="/api/file/create.do"/>

      <video controls id="player" hidden></video>

      <div class="fll left">
        <div class="subTitle03 mb10 mt30">판매자정보</div>
        <div class="con15 ovh">
          <div class="fll create2_crop">
            <img src="" alt="" id="mem_image_path" class="img_crop">
          </div>
          <div class="fll con17">
            <div class="df">
              <div class="tx1">아이디</div>
              <div class="tx2" id="mem_id"></div>
              <div class="tx1 w110">접속가능시간</div>
              <div class="tx2" id="down_time"></div>
            </div>
            <div class="df">
              <div class="tx1">이름</div>
              <div class="tx2" id="name"></div>
              <!-- <div class="tx1">소속</div>
              <div class="tx2 w270">
                <input type="text" id="company" maxlength="40">
              </div> -->
            </div>
            <div class="df aib">
              <div class="tx1">인사말</div>
              <div class="tx3" id="introduce">
                <!-- 안녕하세요 수학선생님 최영 입니다. 제 1강 수학 등차수열 수업입니다. 수학선생님 최영 입니다. 제 1강 수학 등차수열 수업입니다. 열심히 잘들어랏 두번들어라 세번들어라 -->
              </div>
            </div>
          </div>
        </div>
        <div class="subTitle03 mb10 mt60">데이터 등록 정보</div>
        <div class="con18">
          <div class="row mt40">
            <div class="col1 df">
              <label for="">대표<br>이미지</label>
              <!-- <div class="img_wrap">
                <input type="file" id="image_upload">
                <label for="image_upload"></label>
                <div class="tx1">사진변경</div>
              </div> -->
              <div class="create2_crop">
                <span>
                  <img src="/images/default_thumbnail02.png" alt="" id="image_section" class="img_crop">
                </span>
                <input type="file" id="image_upload">
                <div class="tx1 hidden">사진변경</div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col2 df">
              <label for="">제목*</label>
              <input type="text" placeholder="제목을 입력해주세요." name="title" id="title" maxlength="50">
            </div>
            <div class="col2 df">
              <label for="">과목</label>
              <input type="text" placeholder="과목을 추가해주세요." name="subject" id="subject" maxlength="40">
            </div>
          </div>
          <div class="row">
            <div class="col2 df">
              <label for="">시험정보</label>
              <input type="text" placeholder="시험정보를 입력해주세요." name="test_info" id="test_info" maxlength="40">
            </div>
            <div class="col2 df">
              <label for="">카테고리*</label>
              <div class="wrap_select">
                <select name="category_no" id="category_no">
                  <option value="">선택</option>
                  <option value="5">STUDY</option>
                </select>
              </div>
              <span style="width:10px;"></span>
              <div class="wrap_select">
                <select name="sub_category_no" id="sub_category_no">
                  <option value="">선택</option>
                  <option value="19">자격증</option>
                  <option value="20">공무원</option>
                  <option value="21">외국어</option>
                  <option value="24">IT</option>
                  <option value="23">인문지식</option>
                  <option value="22">기타</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col1 df">
              <label for="">설명*</label>
              <textarea name="desc" id="desc" placeholder="상세설명을 입력해주세요." maxlength="900"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col2 df">
              <label for="">소속</label>
              <input type="text" placeholder="소속을 입력해주세요." name="company" id="company" maxlength="40">
            </div>
            <div class="col2 df">
              <label for="">강사명</label>
              <input type="text" placeholder="강사명을 입력해주세요." name="speaker" id="speaker" maxlength="40">
            </div>
          </div>
          <div class="row">
            <div class="col2 df">
              <label for="">파일 업로드*</label>
              <div class="file_up">
                <input type="text" disabled>
                <input type="file" id="upload" onchange="loadFile(event)">
                <label for="upload">
                  <span>FIND</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fll right con16">
        <div class="subTitle03 fw700 mb40">파일정보</div>
        <div class="fz14 fw500">파일명</div>
        <div class="fz14 fw500 fcGray mb10" id="file_name_str">-</div>
        <div class="fz14 fw500">용량</div>
        <div class="fz14 fw500 fcGray mb50" id="file_size_str">-</div>

        <div class="subTitle03 fw700 mb20">가격정보</div>
        <div class="fz14 fw500">네모닥 산정가격</div>
        <div class="fz18 fcOrange fw700 mb30" id="cal_price">
          -
        </div>

        <div class="fz14 fw500 mb10">희망가격</div>
        <div class="box mb20">
          <input type="text" placeholder="희망 가격" class="mb10" name="price" id="price">
          <div class="df jsb fw500 fz12">
            <div class="mb10">다운로드</div>
            <div class="" id="download_price">-</div>
          </div>
          <div class="df jsb fw500 fz12">
            <div class="">스트리밍</div>
            <div class="" id="streaming_price">-</div>
          </div>
        </div>

        <div class="fz12 fcGray mb10">
          - Streaming 옵션을 선택하실 경우 등록하신 콘텐츠는
          NEMOStudy(Android)에도 노출 됩니다.
        </div>
        <div class="fz12 fcGray">
          - Streaming 옵션은 NEMOLab에서 운영상 Storage + Traffic
          비용이 발생하여 등록하신 희망 가격에 10%를 추가하여
          판매되지만, 판매자에게 희망가격 외 추가되는 10%가
          판매수익으로 계산되지 않습니다.
        </div>

        <div class="bottom_btn df mt50">
          <a href="javascript:void(0);" class="btn orange" id="btn_create">완료</a>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
<script>
  let memberInfo;
  var file;
  var loadFile = function(event) {
    file = event.target.files[0];

    var blob = new Blob([file], {type: 'video/webm'});
    var url = URL.createObjectURL(blob);
    var player = document.getElementById("player");
    player.src = url;
    player.load();

    player.onloadeddata = function() {
        //alert("Browser has loaded the current frame");

        $('#play_sec').val(parseInt(document.getElementById("player").duration));
        $('#file_size').val(file.size);
        $('#file_size_str').html(getFileSize(file.size));
        $('#file_name').val(file.name);
        $('#file_name_str').html(file.name);

        //용량과 시간으로 추천 가격 계산
        let p = (parseInt(file.size / 1024 / 1024) * 1) + (parseInt(document.getElementById("player").duration) * 2);

        $('#cal_price').html(`₩${addComma(p+'')} / ${addComma(p+'')} NEMOPoint`);
        $('#download_price').html(`₩${addComma(p+'')} / ${addComma(p+'')} NEMOPoint`);

        let streming_p = parseInt((p * 110) / 100)
        $('#streaming_price').html(`₩${addComma(streming_p+'')} / ${addComma(streming_p+'')} NEMOPoint`);

        //$('#price').val(p);
    };
  }

  //AWS S3 Setting
  //var bucketName = 'nemodax-upload-dev';
  var bucketRegion = 'ap-northeast-2';
  var IdentityPoolId = 'ap-northeast-2:836df382-4633-4f5f-9e09-fa4ad2204706';

  AWS.config.update({
    region: bucketRegion,
    credentials: new AWS.CognitoIdentityCredentials({
      IdentityPoolId: IdentityPoolId
    })
  });

  var s3 = new AWS.S3({
    apiVersion: '2006-03-01',
    params: {Bucket: s3_bucket}
  });

  var canvas;
  $(document).ready(function(){
    $("#image_upload").change(function(e1){
      if (this.files && this.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          const image = e1.target.files[0];
          loadImage.parseMetaData(image, function(data) {
            //default image orientation
            var orientation = 0;
            //if exif data available, update orientation
            if (data.exif) {
                orientation = data.exif.get('Orientation');
            }

            var loadingImage = loadImage(
               image,
               function (canvas) {
                 //here's the base64 data result
                  var base64data = canvas.toDataURL('image/jpeg');
                  //here's example to show it as on imae preview
                  var img_src = base64data.replace(/^data\:image\/\w+\;base64\,/, '');
                  $('#image_section').attr('src', base64data);

               },
               { orientation: orientation, canvas: true }
            );
          })
        }

        reader.readAsDataURL(this.files[0]);
      }
    });

    $('#btn_create').bind('click',function (e){
      if(!validation()){
        return;
      }

      /*
        이미지 업로드 -> 파일 업로드 -> 데이터 등록 -> 소속 변경
      */
      showProgress();
      imageUpload();

    });


    //입력한 희망가격에 대한 계산
    $("#price").keyup(function() {
      let p = $("#price").val();
      $('#download_price').html(`₩${addComma(p+'')} / ${addComma(p+'')} NEMOPoint`);

      let streming_p = parseInt((p * 110) / 100)
      $('#streaming_price').html(`₩${addComma(streming_p+'')} / ${addComma(streming_p+'')} NEMOPoint`);
    });

    $('#price').keypress(function (event) {
      if (event.which && (event.which <= 47 || event.which >= 58) && event.which != 8 && event.which != 46) {
        event.preventDefault();
      }
    });
  });

  /*
    유효성 검사
  */
  function validation(){
    //제목
    let title = $('#title').val();
    if($.trim(title) === ''){
      showCommonPopup('안내', '제목을 입력해주세요.', 'OK', function (){
        $('#title').focus();
      });

      return false;
    }

    //카테고리
    let category_no = $('#category_no option:selected').val();
    if(category_no === ''){
      showCommonPopup('안내', '카테고리를 선택해주세요.', 'OK', function(){
        $('#category_no')[0].focus();
        $('#popup-common').hide();
      });

      return false;
    }

    //서브카테고리 (TODO. 추후 서브카테고리가 존재하는 것만 구분하여 체크하기.)
    let sub_category_no = $('#sub_category_no option:selected').val();
    if(sub_category_no === ''){
      showCommonPopup('안내', '서브 카테고리를 선택해주세요.', 'OK', function(){
        $('#sub_category_no')[0].focus();
        $('#popup-common').hide();
      });

      return false;
    }

    //설명
    let desc = $('#desc').val();
    if($.trim(desc) === ''){
      showCommonPopup('안내', '설명을 입력해주세요.', 'OK', function(){
        $('#desc').focus();
      });

      return false;
    }

    //소속 또는 강사명 둘중 하나는 필수
    let company = $('#company').val();
    let speaker = $('#speaker').val();
    if($.trim(company) === '' && $.trim(speaker) === ''){
      showCommonPopup('안내', '소속 또는 강사명중 하나는 반드시 입력해주세요.', 'OK', function(){
        $('#desc').focus();
      });

      return false;
    }

    //파일
    if(file === undefined){
      showCommonPopup('안내', '파일을 선택해주세요.');
      return false;
    }

    //파일용량
    if(file.size > 500 * 1024 * 1024){
      showCommonPopup('안내', '파일 용량은 최대 500M 입니다.');
      return false;
    }

    //파일 확장자
    let ext = file.name.slice(file.name.lastIndexOf('.') + 1).toLowerCase();
    //if(ext != 'mp4' && ext != 'avi' && ext != 'wmv'){
    if(ext != 'mp4'){
      showCommonPopup('안내', 'mp4 파일만 지원됩니다.');
      return false;
    }

    //가격
    let price = $('#price').val();
    if(price === '' || price < 0){
      showCommonPopup('안내', '가격을 입력해주세요.', 'OK', function(){
        $('#price').focus();
      });

      return false;
    }

    return true;

  }



  /*
    이미지 업로드
  */
  function imageUpload() {
    let files = document.getElementById('image_upload').files;

    if (!files.length) {
      fileUpload();
    }else{
      var file = files[0];
      var fileName = file.name;
      var ext = fileName.substring(fileName.lastIndexOf(".")+1, fileName.length); //파일 확장자

      var timestap = getTimeStamp();
      var uploadKey = 'image/file/' + timestap.substring(0,8) + '/' + timestap + '_' + getRandomStr(6) + '.' + ext;

      var blob = dataURItoBlob($('#image_section').attr('src'));
      var f = new File([blob], fileName);

      //var uploadKey = key + fileName;
      var params = {
          Key: uploadKey,
          Body: f,
          ACL: 'private'
        };
      var options = {partSize: 10 * 1024 * 1024, queueSize: 1};

      s3.upload(params, options).on('httpUploadProgress', function(evt) {

          var percentComplete = Math.round(evt.loaded * 100 / evt.total);
          // document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
          //$('.progress-bar-success').css('width', percentComplete.toString() + '%').html(percentComplete.toString()+'%');
          //console.log(percentComplete);

          // console.log("Uploaded :: " + parseInt((evt.loaded * 100) / evt.total)+'%');
      }).send(function(err, data) {
          if(!err) {
            //alert('upload complete');

            $('#image_path').val(uploadKey);
            fileUpload();
          }
      });
    }
  }

  /*
    파일 업로드
  */
  function fileUpload() {
    let files = document.getElementById('upload').files;
    if (!files.length) {
      return alert('Please choose a file to upload first.');
    }

    var file = files[0];
    var fileName = file.name;
    var ext = fileName.substring(fileName.lastIndexOf(".")+1, fileName.length); //파일 확장자

    var timestap = getTimeStamp();
    var uploadKey = 'file/original/' + timestap.substring(0,8) + '/' + timestap + '_' + getRandomStr(6) + '.' + ext;
    var params = {
        Key: uploadKey,
        Body: file,
        ACL: 'private'
      };
    var options = {partSize: 10 * 1024 * 1024, queueSize: 1};

    s3.upload(params, options).on('httpUploadProgress', function(evt) {

        var percentComplete = Math.round(evt.loaded * 100 / evt.total);
        // document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
        //$('.progress-bar-success').css('width', percentComplete.toString() + '%').html(percentComplete.toString()+'%');
        //console.log(percentComplete);
        setProgress(percentComplete);

        // console.log("Uploaded :: " + parseInt((evt.loaded * 100) / evt.total)+'%');
    }).send(function(err, data) {
        if(!err) {
          $('#server_file_path').val(uploadKey);
          fileCreate();
        }
    });
  }

  /*
    데이터 등록 API호출
  */
  function fileCreate(){
    var dataMap = $('#create_form').serialize();

    $.ajax({
      type: "POST",
      url: "/api/postApi",
      data : dataMap,
      dataType: "json",
      success: function( data ) {
        hideProgress();

        if(data.result.code === 0){
          showCommonPopup('안내', '데이터가 정상적으로 등록되었습니다.', 'OK', function(){
            document.location.href = '/myData';
          });

        }else if(data.result.code === 999010 || data.result.code === 999011){
                location.href = '/member/login';
        }else{
          alert(`code : ${data.result.code} , msg : ${data.result.msg}`);
        }
      },
      error: function( data ) {
        console.log('error');
        console.log(data);
      }

    });
  }



  //회원정보 셋팅
  function setMemInfo(_memberInfo){
    memberInfo = _memberInfo;
    $('#mem_id').html(memberInfo.mem_id);

    let down_time = '';
    if(memberInfo.down_start_time !== undefined && memberInfo.down_start_time != null && memberInfo.down_start_time != ''){
      let down_start_hh = memberInfo.down_start_time.substring(0,2);
      let down_start_mm = memberInfo.down_start_time.substring(2,4);

      let down_end_hh = memberInfo.down_end_time.substring(0,2);
      let down_end_mm = memberInfo.down_end_time.substring(2,4);
      down_time = `${down_start_hh}:${down_start_mm} ~ ${down_end_hh}:${down_end_mm}`;
    }
    $('#down_time').html(down_time);
    $('#name').html(memberInfo.name);

    let introduce = '-';
    if(!isEmpty(memberInfo.introduce)){
      introduce = memberInfo.introduce.replace(/(?:\r\n|\r|\n)/g, '<br />');
    }
    $('#introduce').html(introduce);

    let img_src = '/images/default_thumbnail02.png';
    if(!isEmpty(memberInfo.image_url)){
      img_src = memberInfo.image_url
    }

    $('#mem_image_path').attr('src', img_src);

  }



</script>
