<!-- <html> -->
<div class="container">
	<div class="wrap_1000">
		<div class="con_wrap">
			<div class="wrap_title">
				콘텐츠 및 데이터 등록
			</div>
			<div class="con_tab">
				<ul>
					<li class="btn"><a href="javascript:tab();">단편 등록</a></li>
					<li class="btn btn_orange"><a href="javascript:void(0);">시리즈 등록</a></li>
				</ul>
			</div>

			<form name="create_form" id="create_form">
				<input type="hidden" name="type" id="type" value="SERIES"/>
				<input type="hidden" name="image_path" id="image_path" value=""/>
				<input type="hidden" name="call_url" id="call_url" value="/api/file/create.do"/>
				<input type="hidden" name="streaming_yn" value="Y"/>
	      <input type="hidden" name="download_yn" value="N"/>

				<div class="con_title">콘텐츠 기본정보</div>

				<div class="dff jsb">
					<div class="con_l">
						<div class="">
							<label>대표이미지</label>
							<div class="create2_crop">
								<span><img src="/images/default_thumbnail02.png" alt id="image_section" class="img_crop" style="width:228px;"></span>
								<input type="file" id="image_upload">
							</div>
						</div>
					</div>
					<div class="con_r">
						<div class="row row_50">
							<label for="">카테고리</label>
							<div class="df jsb">
								<div class="wrap_select mr10">
									<select name="category_no" id="category_no">
	                  <option value="">선택</option>
	                  <option value="5">STUDY</option>
	                </select>
								</div>
								<div class="wrap_select">
									<select name="sub_category_no" id="sub_category_no">
	                  <option value="">선택</option>
	                  <option value="19">자격증</option>
	                  <option value="20">공무원</option>
	                  <option value="21">외국어</option>
	                  <option value="24">IT</option>
	                  <option value="23">인문지식</option>
	                  <option value="22">기타</option>
	                </select>
								</div>
							</div>
						</div>
						<div class="row">
							<label for="">제목</label>
							<input type="text" placeholder="제목을 입력해주세요." name="title" id="title" maxlength="50">
						</div>
						<div class="df jsb">
							<div class="mr10">
								<label for="">과목</label>
								<input type="text" placeholder="" name="subject" id="subject" maxlength="40">
							</div>
							<div class="mr10">
								<label for="">시험정보</label>
								<input type="text" placeholder="" name="test_info" id="test_info" maxlength="40">
							</div>
							<div class="mr10">
								<label for="">소속</label>
								<input type="text" placeholder="" name="company" id="company" maxlength="40">
							</div>
							<div class="">
								<label for="">강사명</label>
								<input type="text" placeholder="" name="speaker" id="speaker" maxlength="40">
							</div>
						</div>
						<div class="row">
							<label for="">설명</label>
							<textarea name="desc" id="desc" placeholder="상세설명을 입력해주세요." maxlength="900"></textarea>
						</div>
					</div>
				</div>

				<div class="con_title">콘텐츠/가격정보</div>

				<div id="create_div">



				</div>

			</form>


			<div class="tar">
				<a class="add_btn" href="javascript:addCreateTemplate();">+ 파일 추가</a>
			</div>
			<div class="register df jsb">
				<div class="txt_box">
					<p>- Streaming 옵션을 선택하실 경우 등록하신 콘텐츠는 NEMOStudy(Android)에 노출되는 것을 의미합니다.</p>
					<p>- Streaming 옵션은 NEMOLab에서 운영상 Storage + Traffic 비용이 발생하여 등록하신 희망가격에 10%를  추가하여 판매되지만,<br>
					판매자에게 희망가격 외 추가되는 10%가 판매수익으로 계산되지 않습니다.</p>
				</div>
				<a class="btn" href="javascript:create();">완료</a>
			</div>

		</div>
	</div>
</div>




<!-- 로딩 파일 템플릿 -->
<script id="template-loading" type="text/template">
	<div class="file list">
		<div class="file_name">
			<span>${file_name}</span>
		</div>
		<div class="load">
			<div class="loading_bg">
				<div class="loadingbar" id="${upload_key}"></div>
			</div>
		</div>
	</div>
</script>

<!-- 파일 등록 -->
<script id="template-create" type="text/template">

	<div class="con_border">
		<input type="hidden" name="idx" id="idx" value="${idx}"/>
		<input type="hidden" name="sale_file_list['${idx}'].streaming_yn" id="streaming_yn" value="Y"/>
		<input type="hidden" name="sale_file_list['${idx}'].download_yn" id="download_yn" value="N"/>
		<input type="hidden" name="sale_file_list['${idx}'].file_size" id="file_size" value=""/></p>
		<input type="hidden" name="sale_file_list['${idx}'].play_sec" id="play_sec" value=""/></p>
		<input type="hidden" name="sale_file_list['${idx}'].server_file_path" id="server_file_path" value=""/>
		<input type="hidden" name="sale_file_list['${idx}'].file_name" id="file_name" value=""/>

		<video controls id="player" hidden></video>

		<div class="dff jsb">
			<div class="con_num">
				<label for="">순서</label>
				<input type="text" placeholder="1" name="sale_file_list['${idx}'].sort" id="sort" value="${sort}">
			</div>
			<div class="con_file">
				<div class="row">
					<label for="">파일등록</label>
					<div class="con_info">
						<p>파일시간 : <span id="play_sec_str">-</span></p>
						<p>용량 : <span id="file_size_str">-</span></p>
					</div>
					<div class="file_up">
						<input type="text" class="input_bg" disabled>
						<input type="file" id="file_${idx}" onchange="loadFile('${idx}', event)">
						<label for="file_${idx}">
							<span>찾기</span>
						</label>
					</div>
				</div>
				<div class="row">
					<input type="text" placeholder="제목을 입력해주세요." name="sale_file_list['${idx}'].title" id="title">
				</div>
			</div>
			<div class="con_price mt20">
				<div class="row">
					<!-- <div class="box_bg">
						<div class="best_price df jsb">
							<span>추천가격</span>
							<div class="row_40 df jsb">
								<label for="" class="mb0 mr15">NEMOPoint</label>
								<input type="text" placeholder="희망가격" class="mb0" name="sale_file_list['${idx}'].price" id="price">
							</div>
						</div>
					</div> -->
					<div class="">
						<div class="best_price df jsb">
							<span>추천가격</span>
							<div class="df jsb row_50">
								<label for="" class="mb0">NEMOPoint</label>
								<input type="text" class="mb0 input_bg input_w50 " disabled id="cal_price">
							</div>
						</div>
						<div class="wish_price df jsb ">
							<span>희망가격</span>
							<div class="df jsb row_50">
								<label for="" class="mb0">NEMOPoint</label>
								<input type="text" placeholder="희망가격" class="mb0 input_w50 wish_price" name="sale_file_list['${idx}'].price" id="price">
							</div>
						</div>
					</div>
					<div class="slaes_price dff jsb box_bg">
						<span>판매가격</span>
						<div class="price_ds">
							<div>
								<p class="txt_bg">다운로드</p>
								<span>NEMOPoint</span>
								<div id="download_price" class="download_price">0</div>
							</div>
							<div>
								<p class="txt_bg">스트리밍</p>
								<span>NEMOPoint</span>
								<div id="streaming_price" class="download_price">0</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</script>




<script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
<script>
  let memberInfo;
	let total_cnt = 0;
	let complete_cnt = 0;

  var loadFile = function(idx, event) {
		let obj;
		$('.con_border').each(function(index){
			if($(this).find('#idx').val() === idx){
				obj = $(this);

				return false;
			}
		});

    var file = event.target.files[0];

    var blob = new Blob([file], {type: 'video/webm'});
    var url = URL.createObjectURL(blob);
    var player = obj.find("#player")[0];
		console.log(player);
		console.log(document.getElementById("player"));
    player.src = url;
    player.load();

    player.onloadeddata = function() {
        obj.find('#play_sec').val(parseInt(player.duration));
				obj.find('#play_sec_str').html(parseInt(player.duration) + 's');

        obj.find('#file_size').val(file.size);
        obj.find('#file_size_str').html(getFileSize(file.size));
        obj.find('#file_name').val(file.name);


        //용량과 시간으로 추천 가격 계산
        let p = (parseInt(file.size / 1024 / 1024) * 1) + (parseInt(player.duration) * 2);

        // obj.find('#download_price').html(`${addComma(p+'')}`);
        // let streming_p = parseInt((p * 110) / 100)
        // obj.find('#streaming_price').html(`${addComma(streming_p+'')}`);

        obj.find('#cal_price').val(p);
    };
  }

  //AWS S3 Setting
  //var bucketName = 'nemodax-upload-dev';
  var bucketRegion = 'ap-northeast-2';
  var IdentityPoolId = 'ap-northeast-2:836df382-4633-4f5f-9e09-fa4ad2204706';

  AWS.config.update({
    region: bucketRegion,
    credentials: new AWS.CognitoIdentityCredentials({
      IdentityPoolId: IdentityPoolId
    })
  });

  var s3 = new AWS.S3({
    apiVersion: '2006-03-01',
    params: {Bucket: s3_bucket}
  });

  var canvas;
  $(document).ready(function(){
		$("#image_upload").change(function(e1){
      if (this.files && this.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          const image = e1.target.files[0];
          loadImage.parseMetaData(image, function(data) {
            //default image orientation
            var orientation = 0;
            //if exif data available, update orientation
            if (data.exif) {
                orientation = data.exif.get('Orientation');
            }

            var loadingImage = loadImage(
               image,
               function (canvas) {
                 //here's the base64 data result
                  var base64data = canvas.toDataURL('image/jpeg');
                  //here's example to show it as on imae preview
                  var img_src = base64data.replace(/^data\:image\/\w+\;base64\,/, '');
                  $('#image_section').attr('src', base64data);

               },
               { orientation: orientation, canvas: true }
            );
          })
        }

        reader.readAsDataURL(this.files[0]);
      }
    });

    //첫번째 등록 템플릿 추가.
    addCreateTemplate();


  });


	function tab(){
		showCommonPopup2('안내', '입력사항이 모두 지워집니다. 탭 전환 하시겠습니까?', 'CANCEL', function (){

      }, 'OK', function (){
        //시리지등록 화면으로
				location.href = '/file/create_new'
      }
    );
	}

  /*
    유효성 검사
  */
	function validation(){
		let obj = $('.con_r');

    //제목
    let title = obj.find('#title').val();
    if($.trim(title) === ''){
      showCommonPopup('안내', '제목을 입력해주세요.', 'OK', function (){
        obj.find('#title').focus();
      });

      return false;
    }

    //카테고리
    let category_no = obj.find('#category_no option:selected').val();
    if(category_no === ''){
      showCommonPopup('안내', '카테고리를 선택해주세요.', 'OK', function(){
        obj.find('#category_no')[0].focus();
        $('#popup-common').hide();
      });

      return false;
    }

    //서브카테고리 (TODO. 추후 서브카테고리가 존재하는 것만 구분하여 체크하기.)
    let sub_category_no = obj.find('#sub_category_no option:selected').val();
    if(sub_category_no === ''){
      showCommonPopup('안내', '서브 카테고리를 선택해주세요.', 'OK', function(){
        obj.find('#sub_category_no')[0].focus();
        $('#popup-common').hide();
      });

      return false;
    }

    //설명
    let desc = obj.find('#desc').val();
    if($.trim(desc) === ''){
      showCommonPopup('안내', '설명을 입력해주세요.', 'OK', function(){
        obj.find('#desc').focus();
      });

      return false;
    }

    //소속 또는 강사명 둘중 하나는 필수
    let company = obj.find('#company').val();
    let speaker = obj.find('#speaker').val();
    if($.trim(company) === '' && $.trim(speaker) === ''){
      showCommonPopup('안내', '소속 또는 강사명중 하나는 반드시 입력해주세요.', 'OK', function(){
        obj.find('#company').focus();
      });

      return false;
    }


		//파일
		let valid = false;
		$('.con_border').each(function(index){
			let obj2 = $(this);

			let idx = obj2.find('#idx').val()
			let files = obj2.find('#file_' + idx)[0].files;
			if (!files.length) {
				showCommonPopup('안내', '파일을 선택해주세요.');
				valid = false;
	      return false;
			}

			if($.trim(obj2.find('#title').val()) === ''){
	      showCommonPopup('안내', '제목을 입력해주세요.', 'OK', function (){
	        obj2.find('#title').focus();
	      });

				valid = false;
	      return false;
	    }

			if(obj2.find('#file_name').val() === undefined || obj2.find('#file_name').val() === ''){
	    	showCommonPopup('안내', '파일을 선택해주세요.');
				valid = false;
	    	return false;
	    }

	    //파일용량
	    if(obj2.find('#file_size').val() > 500 * 1024 * 1024){
	      showCommonPopup('안내', '파일 용량은 최대 500M 입니다.');
				valid = false;
	      return false;
	    }

	    //파일 확장자
	    let ext = obj2.find('#file_name').val().slice(obj2.find('#file_name').val().lastIndexOf('.') + 1).toLowerCase();
	    //if(ext != 'mp4' && ext != 'avi' && ext != 'wmv'){
	    if(ext != 'mp4'){
	      showCommonPopup('안내', 'mp4 파일만 지원됩니다.');
				valid = false;
	      return false;
	    }

	    //가격
	    let price = obj2.find('#price').val();
	    if(price === '' || price < 0){
	      showCommonPopup('안내', '가격을 입력해주세요.', 'OK', function(){
	        obj2.find('#price').focus();
	      });
				valid = false;
	      return false;
	    }

			valid = true;

		});

		if(!valid){
			return false;
		}



    return true;

  }


  /*
    파일 업로드
  */
  function fileUpload() {
		//이미지 업로드 키를 가지고 객체를 찾아 파일 업로드를 한다.

		$('.con_border').each(function(index){
			let obj = $(this);
			let idx = obj.find('#idx').val();

			let files = obj.find('#file_' + idx)[0].files;
	    if (!files.length) {
	      return alert('Please choose a file to upload first.');
	    }

	    var file = files[0];
	    var fileName = file.name;
	    var ext = fileName.substring(fileName.lastIndexOf(".")+1, fileName.length); //파일 확장자

	    var timestap = getTimeStamp();
	    var uploadKey = 'file/original/' + timestap.substring(0,8) + '/' + timestap + '_' + getRandomStr(6) + '.' + ext;
	    var params = {
	        Key: uploadKey,
	        Body: file,
	        ACL: 'private'
	      };
	    var options = {partSize: 10 * 1024 * 1024, queueSize: 1};

			//uploadKry settings
			obj.find("#server_file_path").val(uploadKey);

			//프로그레스 로딩...
			let html = $('#template-loading')[0].innerHTML;

			//프로그레스 로딩 팝업에 추가.
			$.tmpl(html, {idx : form_idx, upload_key : uploadKey.split('/')[3].split('.')[0], file_name : obj.find('#file_name').val()}).appendTo('.pop_scroll');
			$('.popup_fix').show();



	    s3.upload(params, options).on('httpUploadProgress', function(evt) {

	        var percentComplete = Math.round(evt.loaded * 100 / evt.total);
	        // document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
	        //$('.progress-bar-success').css('width', percentComplete.toString() + '%').html(percentComplete.toString()+'%');
	        //console.log(percentComplete);
	        //setProgress(percentComplete);

					$("#" + evt.key.split('/')[3].split('.')[0]).css('width', `${percentComplete}%`);

	        console.log("Uploaded :: " + parseInt((evt.loaded * 100) / evt.total)+'%');
	    }).send(function(err, data) {
	        if(!err) {
						console.log('data', data);

						complete_cnt++;

						if(complete_cnt === total_cnt){
	          	fileCreate();
						}
	        }
	    });

		});


  }

  /*
    데이터 등록 API호출
  */
  function fileCreate(){
    var dataMap = $('#create_form').serialize();

    $.ajax({
      type: "POST",
      url: "/api/postApi",
      data : dataMap,
      dataType: "json",
      success: function( data ) {
        //hideProgress();

        if(data.result.code === 0){

					if(complete_cnt === total_cnt){
						$('.popup_fix').hide();
						showCommonPopup('안내', '데이터가 정상적으로 등록되었습니다.', 'OK', function(){
	            document.location.href = '/myData';
	          });
					}


        }else if(data.result.code === 999010 || data.result.code === 999011){
                location.href = '/member/login';
        }else{
          alert(`code : ${data.result.code} , msg : ${data.result.msg}`);
        }
      },
      error: function( data ) {
        console.log('error');
        console.log(data);
      }

    });
  }



  //회원정보 셋팅
  function setMemInfo(_memberInfo){
    memberInfo = _memberInfo;
    $('#mem_id').html(memberInfo.mem_id);

    let down_time = '';
    if(memberInfo.down_start_time !== undefined && memberInfo.down_start_time != null && memberInfo.down_start_time != ''){
      let down_start_hh = memberInfo.down_start_time.substring(0,2);
      let down_start_mm = memberInfo.down_start_time.substring(2,4);

      let down_end_hh = memberInfo.down_end_time.substring(0,2);
      let down_end_mm = memberInfo.down_end_time.substring(2,4);
      down_time = `${down_start_hh}:${down_start_mm} ~ ${down_end_hh}:${down_end_mm}`;
    }
    $('#down_time').html(down_time);
    $('#name').html(memberInfo.name);

    let introduce = '-';
    if(!isEmpty(memberInfo.introduce)){
      introduce = memberInfo.introduce.replace(/(?:\r\n|\r|\n)/g, '<br />');
    }
    $('#introduce').html(introduce);

    let img_src = '/images/default_thumbnail02.png';
    if(!isEmpty(memberInfo.image_url)){
      img_src = memberInfo.image_url
    }

    $('#mem_image_path').attr('src', img_src);

  }

	/*
		파일 추가 버튼 액션
	*/
  let form_idx = 0;
  function addCreateTemplate(){
		//최대 50개

		if($('.con_border').length >= 50){
			showCommonPopup('안내', '최대 50개까지 등록 가능합니다.');
			return;
		}



		//sort 값 셋팅(현재 값중 제일 높은 수에서 더하기 1로 셋팅)
		let tmp_sort = 0;
		$('.con_border').each(function(index){
			let obj = $(this);
			let s = Number(obj.find('#sort').val());
			if(tmp_sort < s){
				tmp_sort = s;
			}
		});

    let html = $('#template-create')[0].innerHTML;

    $.tmpl(html, {idx : form_idx, sort : (tmp_sort + 1)}).appendTo('#create_div');



		//파일 이벤트
    $("[type=file]").on("change", function () {
      // Name of file and placeholder
			if(this.files.length != 0){
				var file = this.files[0].name;
	      var fileName = $(this).attr("placeholder");
	      if ($(this).val() != "") {
	        $(this).next().text(file);
	      } else {
	        $(this).next().text(fileName);
	      }
				//파일 선택창에서 취소 선택시...파일 객체가 초기화 되네...
			}else{
				$(this).next().text('');
			}

    });

		//입력한 희망가격에 대한 계산
    $('.con_border').eq(form_idx).find("#price").keyup(function() {

      //let p = $('.con_border').eq(form_idx).find("#price").val();
			let p = $(this).val();
			$(this).parents('.con_border').find('#download_price').html(`${addComma(p+'')}`);

      let streming_p = parseInt((p * 110) / 100)
      $(this).parents('.con_border').find('#streaming_price').html(`${addComma(streming_p+'')}`);
    });

    $('.con_border').eq(form_idx).find('#price').keypress(function (event) {
      if (event.which && (event.which <= 47 || event.which >= 58) && event.which != 8 && event.which != 46) {
        event.preventDefault();
      }
    });


    form_idx++;

  }

	function removeCreateTemplate(idx){
		$('.con_border').each(function(index){
			if($(this).find('#idx').val() === idx){
				$(this).remove();

				return false;
			}

		});
	}


  function create(){
		//validation -> 이미지 업로드 -> 파일 업로드 -> 서버 연동.
		if(!validation()){
			return;
		}

//		console.log('...success');

		total_cnt = $('.con_border').length;

		//이미지 업로드.
		let files = $('#image_upload')[0].files;

    if (!files.length) {
      fileUpload();
    }else{
      var file = files[0];
      var fileName = file.name;
      var ext = fileName.substring(fileName.lastIndexOf(".")+1, fileName.length); //파일 확장자

      var timestap = getTimeStamp();
      var uploadKey = 'image/file/' + timestap.substring(0,8) + '/' + timestap + '_' + getRandomStr(6) + '.' + ext;

			//image_path uploadKry settings
			$("#image_path").val(uploadKey);

      var blob = dataURItoBlob($('#image_section').attr('src'));
      var f = new File([blob], fileName);

      //var uploadKey = key + fileName;
      var params = {
          Key: uploadKey,
          Body: f,
          ACL: 'private'
        };
      var options = {partSize: 10 * 1024 * 1024, queueSize: 1};

      s3.upload(params, options).on('httpUploadProgress', function(evt) {
          var percentComplete = Math.round(evt.loaded * 100 / evt.total);

          console.log("Image Uploaded :: " + parseInt((evt.loaded * 100) / evt.total)+'%');
      }).send(function(err, data) {
          if(!err) {
						console.log('complete :: ', data);
            fileUpload();
          }
      });
    }


  }



</script>
