<!-- <html> -->
<div class="bar"></div>
<div class="partner_section wrap-1200">
  <div class="tac">
  <!--  <a href="http://gangebada.com/" target="_blank"><img src="/images/logo_bada.png" alt=""></a>
    <a href="#!"><img src="/images/logo_keyword.png" alt=""></a>
    <a href="http://www.creativetv.co.kr" target="_blank"><img src="/images/logo_creative.png" alt=""></a>
    <a href="http://www.cscul.com/" target="_blank"><img src="/images/logo_cscul.png" alt=""></a>

    <a href="https://www.ib96.com/study/" target="_blank"><img src="/images/logo_ib96.png" alt=""></a>
    <a href="http://www.metv.co.kr/live" target="_blank"><img src="/images/logo_metv.png" alt=""></a>
    <a href="http://xn--2e0bt1sn9bysq8ka.com/" target="_blank"><img src="/images/logo_no.png" alt=""></a>
    <a href="http://powerschool.co.kr/" target="_blank"><img src="/images/logo_power.png" alt=""></a>
    <a href="https://play.google.com/store/apps/details?id=jgs.power.english&hl=ko" target="_blank"><img src="/images/logo_powere.png" alt=""></a>
    <a href="http://www.goodeconomy.co.kr/main/index.jsp" target="_blank"><img src="/images/logo_usstock.png" alt=""></a>
    -->
  </div>
</div>
<div class="footer">
  <div class="wrap-1400">
    <div class="top df jsb">
      <a href="#!" class="logo">
        <img src="/images/nemodax3.png" alt="">
      </a>
      <div class="wrap-sns df">
        <a href="https://blog.naver.com/nemodax" target="_blank"><img src="/images/sns1.png" alt=""></a>
        <a href="https://www.facebook.com/TheNEMODaX" target="_blank"><img src="/images/sns2.png" alt=""></a>
        <a href="https://twitter.com/THENEMODaX" target="_blank"><img src="/images/sns3.png" alt=""></a>
      </div>
    </div>
    <div class="middle fz14">
      <span>주식회사</span> NEMOLab<br>
      <span>contact</span> nemodax@nemolab.kr<br>
      NEMODaX(네모닥) / NEMOStudy(네모스터디) mobile streaming sercive<br>
      서울 특별시 강남구 삼성로 96길 6 1501호(LG트윈텔)
    </div>
    <div class="bottom fz12">
      <div class="siteMap df">
        <a href="/service/noticeList">공지사항</a>
        <a href="/service/terms.html" target="_blank">이용약관</a>
        <a href="/service/privacy.html" target="_blank">개인정보취급방침</a>
        <a href="mailto:nemodax@nemolab.kr">서비스/제휴문의</a>
      </div>
      <div class="copy">© 2019. NEMOLab All rights reserved</div>
    </div>
  </div>
</div>

<script id="cp_logo" type="text/template">
    <a href="${link}" target="_blank"><img src="${img_url}" alt=""></a>
</script>

<script type="text/javascript">


  $(document).ready(function(){
    dataMap = {
      'call_url':"/api/etc/selectCpLogoList.do"
    };

    $.ajax({
      type:"GET",
      data:dataMap,
      dataType:"json",
      url:"/api/getApi",
      success:function(response){
        let html = $('#cp_logo')[0].innerHTML;
        console.log("response: ",response);
        $.tmpl(html, response.data.list).appendTo('.partner_section.wrap-1200');
      },
      error: function(data){
        console.log("error:", data);
      }
    })
  })
</script>
