<!-- <html> -->
<div class="header wrap-1400 fw500 df jsb">
  <div class="left df">
    <a href="/" class="logo">
      <img src="/images/nemodax.png" alt="">
    </a>
    <a href="/guide/roadmap">ROADMAP</a>
    <div class="wrap_dropdown">
      <a href="#!" class="drop">WHITEPAPER</a>
      <div class="down fw500">
        <div class="df">
          <div class="item">
            <span class="fz14">KOREAN</span>
            <i class="fas fa-arrow-alt-circle-down"></i>
            <a href="/doc/nemodax_onepage_k.pdf" class="fz12" target="_blank">ONE PAGE</a>
            <a href="/doc/NEMODaX_White_Paper_ver.1.0_KOR.pdf" class="fz12" target="_blank">WHITE PAPER</a>
          </div>
          <div class="item">
            <span class="fz14">ENGLISH</span>
            <i class="fas fa-arrow-alt-circle-down"></i>
            <a href="/doc/nemodax_onepage_e.pdf" class="fz12" target="_blank">ONE PAGE</a>
            <a href="/doc/NEMODaX_White_Paper_ver.1.0_ENG.pdf" class="fz12" target="_blank">WHITE PAPER</a>
          </div>
          <div class="item">
            <span class="fz14">JAPANESE</span>
            <i class="fas fa-arrow-alt-circle-down"></i>
            <a href="/doc/nemodax_onepage_j.pdf" class="fz12" target="_blank">ONE PAGE</a>
            <a href="/doc/NEMODaX_White_Paper_ver.1.0_JP.pdf" class="fz12" target="_blank">WHITE PAPER</a>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap_dropdown">
      <a href="#!" class="mr0">안내</a>
      <div class="down fw500">
        <div class="df">
          <div class="item">
            <ul>
              <li><a href="/service/guide" class="fz14">사용 가이드</a></li>
              <li><a href="/service/dividend" class="fz14">DIVIDEND</a></li>
              <li><a href="/service/ieo" class="fz14" target="_blank">IEO</a></li>
              <li><a href="/service/reliability" class="fz14">신뢰도정책</a></li>
              <li><a href="/service/noticeList" class="fz14">공지</a></li>
              <li><a href="/service/terms.html" class="fz14" target="_blank">약관</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right fz12 df">
    <%if(!is_login){%>
    <a href="/member/login">로그인</a>
    <span></span>
    <a href="/member/terms">회원가입</a>
    <%}else{%>
    <div class="item" id="header_mem_id">

    </div>
    <a href="/member/logout" class="btn_logout">로그아웃</a>
    <div class="item ml30">
      NEMOPoint
    </div>
    <a href="#!" class="fcOrange" id="header_point"></a>
    <div class="item ml30">
      판매신뢰도
    </div>
    <a href="#!" class="fcOrange" id="header_reliabilty_level"></a>
    <div class="wrap_dropdown">
      <a href="#!" onclick="openPopup('wallet01');">지갑</a>
      <!-- <a href="#!" onclick="openPopup('wallet02');">임시(삭제)</a> -->
      <div class="popup wrap-370" id="popup-wallet01">
        <div class="tab_header df">
          <div class="tab_list"><a href="#wallet_REGULAR" class="on">REGULAR</a></div>
          <div class="tab_list"><a href="#wallet_DIVIDEND">DIVIDEND</a></div>
        </div>

        <div class="con_inner">
          <div class="tab_container">
            <div class="tab_con" id="wallet_REGULAR">
              <div class="fz14 tac fcGray mt100 mb100">
                지갑이 로딩중.....
              </div>
              <!-- <div class="tac">
                   <a href="javascript:showCreateWallet('REGULAR');" class="btn_bottom mt30">개인암호화폐 지갑 생성 시작하기</a>
                   <a href="javascript:showImportWallet('REGULAR');" class="btn_bottom mt30 bcred">개인암호화폐 IMPORT 시작하기</a>
                </div> -->
            </div>

            <div class="tab_con" id="wallet_DIVIDEND">
              <div class="fz14 tac fcGray mt100 mb100">
                지갑이 존재 하지 않습니다.
              </div>
              <div class="tac">
                <a href="javascript:showCreateWallet('DIVIDEND');" class="btn_bottom mt30">개인암호화폐 지갑 생성 시작하기</a>
                <a href="javascript:showImportWallet('DIVIDEND');" class="btn_bottom mt30 bcred">개인암호화폐 IMPORT 시작하기</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="popup wrap-370" id="popup-guide">
        <a href="#!" class="btn_popup_close" onclick="closeGuide();"><i class="fas fa-times"></i></a>
        <div class="con_inner">
          <div class="title mt20">
            <span>KeyStoreFIle 사용가이드</span>
          </div>
          <div class="fz13 mt30">
            NEMOStudy에 계정을 보유하시고 계신 회원님은
            같은 계정으로 NEMODaX.com 서비스를 사용하실 수 있으며,
            regular 지갑도 보유하신 상태입니다.<br>

            Transaction을 위해 Key Store File이 필요하며,
            아래 2가지 방법으로 Key Store File을 가져와 사용하실 수 있습니다.
          </div>

          <div class="bgc_f5f5f5 mt20">
            <div class="bgp_15">
              <div class="subTitle04 mb10">
                [Key Store File 내보내기]
              </div>
              <div class="fz12 fcGray">
                <ul>
                  <li>1. NEMOStudy(Mobile Streaming Service) 접속</li>
                  <li>2. 설정</li>
                  <li>3. Key Store File 내보내기</li>
                  <li>4. Email 전송</li>
                  <li>5. USB 또는 PC보관</li>
                  <li>6. NEMODaX.com 사용</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="bgc_f5f5f5 mt20">
            <div class="bgp_15">
              <div class="subTitle04 mb10">
                [NEMOStudy Private Key Export <br>& Import to NEMODaX]
              </div>
              <div class="fz12 fcGray">
                <ul>
                  <li>1. NEMOStudy(Mobile Streaming Service) 접속</li>
                  <li>2. 설정</li>
                  <li>3. Export(Private Key)</li>
                  <li>4. Private Key복사</li>
                  <li>5. NEMODaX.com 접속</li>
                  <li>6. 지갑</li>
                  <li>7. Import 클릭</li>
                  <li>8. Private Key Import</li>
                  <li>9. Key Store File 생성 및 보관</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <span></span>
    <div class="wrap_dropdown">
      <a href="#!" onclick="openPopup('charge01');">충전</a>
      <!-- <a href="#!" onclick="openPopup('charge02');">임시(삭제)</a> -->
      <div class="popup wrap-370" id="popup-charge01">




      </div>


    </div>
    <span></span>
    <a href="/file/create_new">등록</a>
    <a href="/settings" class="fz20 ml30"><i class="fas fa-cog"></i></a>
    <!-- <a href="#!" class="fz20"><i class="fas fa-bell"></i></a>
      <a href="#!" class="fz20"><i class="fas fa-comment-alt"></i></a> -->

    <%}%>
  </div>
</div>

<div class="con1">
  <div class="inner wrap-1400 df jsb fw500">
    <div class="left" id="category_list">
      <a href="/?p1=LATEST" id="LATEST">최신콘텐츠</a>
      <a href="/?p1=POPULAR" id="POPULAR">인기콘텐츠</a>
      <!-- <a href="#!">STUDY</a> -->
      <!-- <a href="#!">REPORT</a>
      <a href="#!">기타</a>
      <a href="#!">WHSHLIST</a> -->
    </div>
    <!-- <div class="right">
      <div class="wrap_dropdown">
        <a href="#!" class="drop fcOrange">다운로드</a>
        <div class="down fw500">
          <div class="item">
            <div class="fz13">[9급공무원] 수학 제 1강 등차수열.mp4</div>
            <div class="bottom df jsb">
              <div class="bar_per">
                <div class="inner" style="width: 40%;"></div>
              </div>
              <span>40%</span>
              <a href="#!">다운 중</a>
            </div>
          </div>
          <div class="item complete">
            <div class="fz13">[9급공무원] 수학 제 1강 등차수열.mp4</div>
            <div class="bottom df jsb">
              <div class="bar_per">
                <div class="inner" style="width: 100%;"></div>
              </div>
              <span>100%</span>
              <a href="#!">완료</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>


<!-- 카테고리 아이템 -->
<script id="template-category-item" type="text/template">
  <a href="/?p1=LATEST&p2=${category_no}" id="LATEST_${category_no}">${category_name}</a>
</script>


<!-- wallet exist -->
<script id="wallet_not_exist" type="text/template">
  <div class="fz14 tac fcGray mt100 mb100">
    지갑이 존재 하지 않습니다.
  </div>
  <div class="tac">
     <a href="javascript:showCreateWallet('${wallet_type}');" class="btn_bottom mt30">개인암호화폐 지갑 생성 시작하기</a>
     <a href="javascript:showImportWallet('${wallet_type}');" class="btn_bottom mt30 bcred">개인암호화폐 IMPORT 시작하기</a>
  </div>
</script>

<!-- wallet exist -->
<script id="wallet_item" type="text/template">
  <div class="my_wallet">
    <div class="wtxt df jsb">
      <p>내 지갑 주소</p><a href="javascript:selectWallet();"><i class="fas fa-sync"></i></a>
    </div>
    <div class="df jsb">
      <div class="waddress fz12 mr15" id="myAddress">${wallet_address}</div>
      <a href="javascript:addressCopy('${wallet_address}');"><i class="far fa-clone"></i></a>
    </div>

  </div>
  <div class="top_list">
    <div class="df jsb">
      <span>NEMOPoint</span>
      <span>${point}</span>
    </div>
    <div class="df jsb">
      <span>NEMOCoin</span>
      <span>${coin}</span>
    </div>
    <div class="df jsb">
      <span>ETH</span>
      <span>${eth}</span>
    </div>
  </div>
  <div class="form_type2">
    <div class="form-input">
      <div class="df jsb">
      <label for="">송금액 *</label>

      <div class="fee df jsb">
        <span >수수료 :</span>
        <div class="feeg">
          <span id="insufficient"> </span>
          <input id="estimatedGasLimit" value="" style="display:none"></span>
          <input id="estimatedGasPrice" value="" style="display:none"></span>
          <p id="ethFeeWrapper" style="display:none">ETH<span id="ethFee"></span></p>
          <p id="dollarFeeWrapper" style="display:none">$<span id="dollarFee"></span></p>
          <p id="estimatedTimeWrapper" style="display:none">시간<span id="estimatedTime"></span></p>
        </div>
      </div>

    </div>
      <div class="df">
        <div class="wrap_select">
          <select name="transaction_type" id="transaction_type">
            <option value="coin">NEMOCoin</option>
            <option value="eth">ETH</option>
          </select>
        </div>
        <span class="w15"></span>
        <input type="number" value="" min="0" class="tar" id="transaction_value">

      </div>
    </div>
    <div class="form-input">
      <label for="" class="df jsb">
        <span>ADDRESS</span>
        <!-- <a href="#!" class="btn_001">PASTE</a> -->
      </label>
      <input type="text" value="" id="transaction_to">
    </div>
    <div class="form-input">
      <label for="" class="df jsb">
        <span>KEY STORE FILE *</span>

        <div class="btn_circle">
          <a href="javascript:showGuide();">?</a>
        </div>
        <div class="wrap_file" onclick="showImportWallet('${wallet_type}');">
          <!-- <input type="file" id="file001"> -->
          <label class="btn_001">IMPORT</label>
        </div>

        <div class="wrap_file">
          <input type="file" id="file_${wallet_type}" onchange="loadFromKeyStoreFile(event, '${wallet_type}');">
          <label for="file_${wallet_type}" class="btn_001">FIND</label>
        </div>

      </label>
      <input type="text" value="필수 항목입니다." readonly class="fcOrange" id="file_name_${wallet_type}">
    </div>
    <div class="form-input">
      <label for="">PASSWORD</label>
      <input type="password" value="" id="transaction_pwd">
    </div>
    <!-- <div class="form-input">
      <label for="">Gas Limit</label>
      <input type="number" value="21000" class="tar" id="gas_limit">
    </div> -->
  </div>
  <div class="tac" id="transaction_btn">
    <a href="javascript:sendTransaction(`${wallet_type}`);" class="btn_bottom">SEND</a>
  </div>

  <div class="loading hidden">
    <div class="loadingbar"></div>
  </div>
</script>


<!-- wallet ransaction_complete -->
<script id="transaction_complete" type="text/template">
  <div class="top_list">
    <div class="df jsb">
      <span>NEMOPoint</span>
      <span>${point}</span>
    </div>
    <div class="df jsb">
      <span>NEMOCoin</span>
      <span>${coin}</span>
    </div>
    <div class="df jsb">
      <span>ETH</span>
      <span>${eth}</span>
    </div>
  </div>

  <div class="mt50 mb60">
    <div class="fz18">
      요청하신 Transaction이 완료되었습니다.
    </div>
    <div class="fz12 mt10 mb30 fcGray">
      자세한 진행 사항은 아래 링크를 따라 ethersac.io에서 확인하실 수 있습니다.
    </div>

    <div class="tal fz12 mb10 fw500">
      TRANSACTION ID
    </div>
    <div class="tal fz12 box mb20">
      ${tx}
    </div>

    <div class=" fz12 fw500">
      <a href="<%=config.info.etherscan_web_uri%>/tx/${tx}" class="fcOrange" target="_blank"> OUT LINK TO Ethersac.IO</a>
    </div>
  </div>

  <div class="tac df jsb">
    <a href="javascript:selectWallet();" class="btn_bottom white">완료</a>
    <a href="/transactions" class="btn_bottom ml15">Transaction History</a>
  </div>
</script>

<!-- wallet create step1 -->
<script id="wallet_create1" type="text/template">
  <div class="fz18">
    개인이 설정한 지갑에 접속을 위한<br>
    암호를 아래에 설정해주세요.
  </div>
  <div class="fz12 mt10 mb30 fcGray">
    암호 설정 후 다음 단계를 진행합니다.
  </div>
  <div class="form_type2">
    <div class="form-input">
      <label for="">암호 설정</label>
      <input type="password" value="" id='pwd_${wallet_type}'>
      <span class="err" id="pwd_msg_${wallet_type}"></span>
    </div>
    <div class="form-input">
      <label for="">암호 확인</label>
      <input type="password" value="" id='ppwd_${wallet_type}'>
      <span class="err" id="ppwd_msg_${wallet_type}"></span>
    </div>
  </div>

  <div class="tac mt50 df jsb">
    <a href="javascript:selectWallet();" class="btn_bottom white">뒤로가기</a>
    <a href="javascript:createWalletValidation('${wallet_type}');" class="btn_bottom ml15">KEY STORE FILE 생성 </a>
  </div>
</script>


<!-- wallet create process & complete -->
<script id="wallet_create2" type="text/template">
  <div class="fz18" id="msg1">
    KEY STORE FILE 생성 및<br>
    다운로드 중입니다.
  </div>
  <div class="fz12 mt10 fcGray" id="msg2">
    KEY STORE FILE 생성 및 다운로드가 완료되면<br>
    PERSONAL WALLET ADDRESS를 확인하실 수 있습니다.
  </div>

  <div class="fz12 mt30">
    KEY STORE FILE DOWNLOADING
  </div>

  <div class="loading">
    <div class="loadingbar"></div>
  </div>

  <div id="complete" class="hidden">
    <div class="fz12 fcOrange">
      생성 된 KEY STORE FILE 및 비밀번호는
      개인 자산보호를 위한 부분으로 직접 관리가 이루어져야 합니다.
      다운로드 된 KEY STORE FILE을 USB 또는 별도의 폴더에 보관해주세요!
    </div>

    <div class="tac">
       <a href="javascript:selectWallet();" class="btn_bottom mt30">완료</a>
    </div>
  </div>
  <a class="btn_download" href="#" role="button" class="hidden"></a>
</script>



<!-- wallet import -->
<script id="wallet_create3" type="text/template">
  <div class="fz18">
    PRIVATE KEY와 암호를<br>
    아래에 설정해주세요.
  </div>
  <div class="fz12 mt10 mb30 fcGray">
    PRIVATE KEY/암호 설정 후 다음 단계를 진행합니다.
  </div>
  <div class="form_type2">
    <div class="form-input">
      <label for="">PRIVATE KEY</label>
      <input type="text" value="" id='privatekey_${wallet_type}'>
      <span class="err" id="privatekey_msg_${wallet_type}"></span>
    </div>
    <div class="form-input">
      <label for="">암호</label>
      <input type="password" value="" id='pwd_${wallet_type}'>
      <span class="err" id="pwd_msg_${wallet_type}"></span>
    </div>
  </div>

  <div class="tac mt50 df jsb">
    <a href="javascript:selectWallet();" class="btn_bottom white">뒤로가기</a>
    <a href="javascript:importWalletValidation('${wallet_type}');" class="btn_bottom white ml15">KEY STORE FILE 생성 </a>
  </div>
</script>



<!-- 충전 START---------------------------------------------------->

<!-- charge main -->
<script id="charge_main" type="text/template">
  <div class="con_inner">
    <div class="fz18">
      원하시는 DIGITAL ASSET을 선택해주세요.
    </div>
    <div class="fz12 mt20 mb30 fcGray">
      선택하시면 다음 단계로 넘어갑니다.
    </div>
    <div class="coin_list">
      <a href="javascript:coinPoint1();">
        <div class="fz18">NEMOPonit</div>
        <div class="fz12">
          NEMOPoint는 NEMODaX에서 데이터 및
          콘텐츠를 구매 할 수 있는 가상화폐입니다.
        </div>
      </a>
      <!-- <a href="javascript:chargeConinSelect();">
        <div class="fz18">NEMOCoin</div>
        <div class="fz12">
          NEMOCoin은 ERC 20 TOKEN 기반으로
          만들어진 암호화폐이며, NEMOPoint를
          구매할 수 있는 유일한암호 화폐입니다.
        </div>
      </a> -->
      <!-- <a href="javascript:cashEth1();">
        <div class="fz18">ETH</div>
        <div class="fz12">
          ETH는 TRANSACTION(암호화페 송금)
          진행시이더리움 플랫폼에 지급되는 GAS
          지급 용도 입니다.
        </div>
      </a> -->
    </div>
  </div>
</script>

<!-- coin_point1 -->
<script id="charge_coin_point1" type="text/template">
  <div class="con_inner">
    <div class="title"><a href="javascript:chargeMain();"><i class="fas fa-angle-left mr15"></i></a>충전</div>
    <div class="fz18 mt60">구매를 희망하는<br> NEMOPoint 수량을 입력해 주세요.</div>
    <div class="h60-input mb10 mt30">
      <label for="">NEMOPoint</label>
      <input type="number" value="0" id="charge_point">
    </div>

    <div class="fee mb50 df jsb">
      <span >수수료 :</span>
      <div class="feeg">
        <span id="charge_insufficient"></span>
        <input id="charge_estimatedGasLimit" value="123123" style="display:none"></span>
        <input id="charge_estimatedGasPrice" value="" style="display:none"></span>
        <p id="charge_ethFeeWrapper" style="display:none">ETH<span id="charge_ethFee"></span></p>
        <p id="charge_dollarFeeWrapper" style="display:none">$<span id="charge_dollarFee"></span></p>
        <p id="charge_estimatedTimeWrapper" style="display:none">시간<span id="charge_estimatedTime"></span></p>
      </div>
    </div>

    <div class="fz18">환산 된<br> NEMOCoin의 판매가는 아래와 같습니다.</div>
    <div class="h60-input gray mt30 mb100">
      <label for="">NEMOCoin</label>
      <input type="text" value="0" readonly id="charge_coin">
    </div>

    <div class="tac">
      <a href="javascript:coinPoint2();" class="btn_bottom orange">NEMOPoint 충전 진행</a>
    </div>
  </div>
</script>


<!-- coin_point2 -->
<script id="charge_coin_point2" type="text/template">
  <div class="con_inner">

    <div class="title"><a href="javascript:coinPoint1();"><i class="fas fa-angle-left mr15"></i></a>충전</div>
    <div class="h60-input type02 mt30">
      <label for="">구매</label>
      <div class="inputFake">
        ${point} <span class="fz12">NEMOPoint</span>
      </div>
    </div>
    <div class="h60-input type02 mt10 mb50">
      <label for="">구매수단</label>
      <div class="inputFake">
        ${coin} <span class="fz12">NEMOCoin</span>
      </div>
    </div>


    <div class="form_type2">
      <div class="form-input">
        <label for="" class="df jsb">
          <span>KEY STORE FILE *</span>
          <div class="wrap_file">
            <input type="file" id="coin_point_file" onchange="loadFromKeyStoreFileCoin(event);">
            <label for="coin_point_file" class="btn_001">FIND</label>
          </div>
        </label>
        <input type="text" value="필수 항목입니다." readonly class="fcOrange" id="file_name_coin">
      </div>
      <div class="form-input">
        <label for="">PASSWORD</label>
        <input type="password" value="" id="charge_transaction_pwd">
      </div>
    </div>
    <div class="tac fz12 fcOrange hidden">KEY STORE FILE 및 PASSWORD가 확인되었습니다.</div>
    <div class="tac mt30" id="transaction_btn">
      <a href="javascript:void(0);" class="btn_bottom">충전신청</a>
    </div>

    <div class="loading hidden">
      <div class="loadingbar"></div>
    </div>

  </div>
</script>

<!-- coin_point3 -->
<script id="charge_coin_point3" type="text/template">
  <div class="con_inner">
    <div class="title">충전</div>
    <div class="h60-input type02 mt30">

      <label for="">구매</label>
      <div class="inputFake">
        ${point} <span class="fz12">NEMOPoint</span>
      </div>
    </div>
    <div class="h60-input type02 mt10 mb50">
      <label for="">구매수단</label>
      <div class="inputFake">
        ${coin} <span class="fz12">NEMOCoin</span>
      </div>
    </div>
    <div class="tal fz12 mb10 fw500">
      TRANSACTION ID
    </div>
    <div class="tal fz12 box mb20">
      ${transaction_id}
    </div>
    <div class="mt30 mb30 df jsb">
      <a href="/transactions" class="ttu">
        transaction histroy
        <i class="fas fa-chevron-right"></i>
      </a>
      <a href="<%=config.info.etherscan_web_uri%>/tx/${transaction_id}" class="ttu" target="_blank">
        Etherscan.io
        <i class="fas fa-chevron-right"></i>
      </a>
    </div>
    <div class="tal fz12 fcOrange mb60">
      Transaction이 완료 되면 NEMOCoin은 자동으로 충전 됩니다.
      진행사항은 Etherscan.io Address 혹은 Transaction History에서
      확인하실 수 있습니다.
    </div>
    <div class="tac mt60">
      <a href="javascript:chargeMain()" class="btn_bottom orange">완료</a>
    </div>
  </div>
</script>




<!-- charge coin select -->
<script id="charge_coin_select" type="text/template">
  <div class="con_inner">
    <div class="title"><a href="javascript:chargeMain();"><i class="fas fa-angle-left mr15"></i></a>충전</div>
    <div class="fz18 mt60">구매를 희망하는<br> NEMOCoin 수량을 입력해 주세요.</div>
    <div class="h60-input mb50 mt30">
      <label for="">NEMOCoin</label>
      <input type="number" value="0" min="0" id="charge_coin">
    </div>
    <div class="fz18">환산 된<br> NEMOCoin의 판매가는 아래와 같습니다.</div>
    <div class="tal fz12 mt10 mb20">
      Transaction이 완료 되면 NEMOCoin은 자동으로 충전 됩니다.
      진행사항은 Etherscan.io Address 혹은 Transaction History에서
      확인하실 수 있습니다.
    </div>
    <div class="h60-input orange">
      <label for="">￦</label>
      <input type="text" value="0" readonly style="cursor:pointer;" id="charge_cash" onclick="cashCoin1();">
    </div>
    <div class="h60-input mt10 orange">
      <label for="">ETH</label>
      <input type="text" value="0" readonly style="cursor:pointer;" id="charge_eth" onclick="ethCoin1();">
    </div>
  </div>
</script>

<!-- cash_coin1 -->
<script id="charge_cash_coin1" type="text/template">
  <div class="con_inner">
    <div class="title"><a href="javascript:chargeConinSelect();"><i class="fas fa-angle-left mr15"></i></a>충전</div>
    <div class="fz18 mt60">구매를 희망하는 NEMOCoin 수량</div>
    <div class="h60-input gray mb50 mt30">
      <label for="">NEMOCoin</label>
      <input type="text" value="${coin}" readonly id="charge_coin">
    </div>
    <div class="fz18">환산 된<br> NEMOCoin의 판매가는 아래와 같습니다.</div>
    <div class="h60-input gray mb50 mt30">
      <label for="">Won</label>
      <input type="text" value="${cash}" readonly id="charge_cash">
    </div>
    <div class="fz18">입금자명을 입력해 주세요.</div>
    <div class="h60-input mb50 mt30">
      <label for="">입금자명</label>
      <input type="text" value="" id="depositor">
    </div>
    <div class="tac">
      <a href="javascript:cashCoin2();" class="btn_bottom orange">NEMOCoin 구매 진행</a>
    </div>
  </div>
</script>

<!-- cash_coin2 -->
<script id="charge_cash_coin2" type="text/template">
  <div class="con_inner">
    <div class="title">충전</div>

    <div class="fz20 fw700 mt30 mb50 " style="">NEMOCoin 구매 요청이 완료 되었습니다.</div>

    <div class="h60-input type02 mt30">

      <label for="">구매</label>
      <div class="inputFake">
        ${coin} <span class="fz12">NEMOCoin</span>
      </div>
    </div>
    <div class="h60-input type02 mt10 mb50">
      <label for="">구매수단</label>
      <div class="inputFake">
        ${cash} <span class="fz12">Won</span>
      </div>
    </div>

    <div class=" mt10 mb50 df jsb fz14">
      <label for="">입금<br> 계좌정보</label>
      <span class=""> 신한은행 (주)네모랩 140-012-470810</span>
    </div>

    <div class="fz12">현금구매는 계좌이체로만 가능합니다.
    등록된 NEMOLab 계좌에 해당금액을 입금하시고
  입금확인 신청을 해주세요. NEMOLab에서 확인 후 NEMOCoin을 지급해드립니다.</div>

    <div class="fz12 mt30">입금확인 신청은 설정>충전내역에서 진행하실 수 있습니다.</div>

    <div class="tac mt50">
      <a href="/history" class="btn_bottom">입금 확인 신청</a>
    </div>
    <div class="tac mt10">
      <a href="javascript:chargeMain();" class="btn_bottom">완료</a>
    </div>
  </div>
</script>


<!-- eth_coin1 -->
<script id="charge_eth_coin1" type="text/template">
  <div class="con_inner">

    <div class="title"><a href="javascript:chargeConinSelect();"><i class="fas fa-angle-left mr15"></i></a>충전</div>
    <div class="h60-input type02 mt30">
      <label for="">구매</label>
      <div class="inputFake">
        ${coin} <span class="fz12">NEMOCoin</span>
      </div>
    </div>
    <div class="h60-input type02 mt10 mb50">
      <label for="">구매수단</label>
      <div class="inputFake">
        ${eth} <span class="fz12">ETH</span>
      </div>
    </div>
    <div class="form_type2">
      <div class="form-input">
        <label for="" class="df jsb">
          <span>KEY STORE FILE *</span>
          <div class="wrap_file">
            <input type="file" id="eth_coin_file" onchange="loadFromKeyStoreFileEth(event);">
            <label for="eth_coin_file" class="btn_001">FIND</label>
          </div>
        </label>
        <input type="text" value="필수 항목입니다." readonly class="fcOrange" id="file_name_eth">
      </div>
      <div class="form-input">
        <label for="">PASSWORD</label>
        <input type="password" value="" id="charge_transaction_pwd">
      </div>
    </div>
    <div class="tac fz12 fcOrange hidden">KEY STORE FILE 및 PASSWORD가 확인되었습니다.</div>
    <div class="tac mt30" id="transaction_btn">
      <a href="javascript:void(0);" class="btn_bottom">충전신청</a>
    </div>

    <div class="loading hidden">
      <div class="loadingbar"></div>
    </div>

  </div>
</script>

<!-- eth_coin2 -->
<script id="charge_eth_coin2" type="text/template">
  <div class="con_inner">
    <div class="title">충전</div>
    <div class="h60-input type02 mt30">
      <label for="">구매</label>
      <div class="inputFake">
        ${coin} <span class="fz12">NEMOCoin</span>
      </div>
    </div>
    <div class="h60-input type02 mt10 mb50">
      <label for="">구매수단</label>
      <div class="inputFake">
        ${eth} <span class="fz12">ETH</span>
      </div>
    </div>
    <div class="tal fz12 mb10 fw500">
      TRANSACTION ID
    </div>
    <div class="tal fz12 box mb20">
      ${transaction_id}
    </div>
    <div class="mt30 mb30 df jsb">
      <a href="/transactions" class="ttu">
        transaction histroy
        <i class="fas fa-chevron-right"></i>
      </a>
      <a href="<%=config.info.etherscan_web_uri%>/tx/${transaction_id}" class="ttu" target="_blank">
        Etherscan.io
        <i class="fas fa-chevron-right"></i>
      </a>
    </div>
    <div class="tal fz12 fcOrange mb60">
      Transaction이 완료 되면 NEMOCoin은 자동으로 충전 됩니다.
      진행사항은 Etherscan.io Address 혹은 Transaction History에서
      확인하실 수 있습니다.
    </div>
    <div class="tac mt60">
      <a href="javascript:chargeMain()" class="btn_bottom orange">완료</a>
    </div>
  </div>
</script>


<!-- eth_coin3 -->
<script id="charge_eth_coin3" type="text/template">
  <div class="con_inner">
    <div class="title">충전</div>
    <div class="btn_wrap_02 mt110 mb100">
      <a href="/transactions" class="ttu">
        transaction histroy
        <i class="fas fa-chevron-right"></i>
      </a>
      <a href="<%=config.info.etherscan_web_uri%>/tx/${transaction_id}" target="_blank" class="ttu">
        Etherscan.IO
        <i class="fas fa-chevron-right"></i>
      </a>
    </div>
    <div class="tal fz12 fcOrange mb60">
      Transaction이 완료 되면 NEMOCoin은 자동으로 충전 됩니다.
      진행사항은 Etherscan.io Address 혹은 Transaction History에서
      확인하실 수 있습니다.
    </div>
    <div class="tac">
      <a href="javascript:chargeMain();" class="btn_bottom">메인으로 돌아가기</a>
    </div>
  </div>
</script>

<!-- cash_eth1 -->
<script id="charge_cash_eth1" type="text/template">
  <div class="con_inner">
    <div class="title"><a href="javascript:chargeMain();"><i class="fas fa-angle-left mr15"></i></a>충전</div>
    <div class="fz18 mt60">구매를 희망하는<br> ETH 수량을 입력해 주세요.</div>
    <div class="h60-input mb50 mt30">
      <label for="">ETH</label>
      <input type="number" value="0" min="0" id="charge_eth">
    </div>
    <div class="fz18">환산 된<br> ETH의 판매가는 아래와 같습니다.</div>
    <div class="h60-input gray mb50 mt30">
      <label for="">Won</label>
      <input type="text" value="0" readonly id="charge_cash">
    </div>
    <div class="fz18">입금자명을 입력해 주세요.</div>
    <div class="h60-input mb50 mt30">
      <label for="">입금자명</label>
      <input type="text" value="" id="depositor">
    </div>
    <div class="tac">
      <a href="javascript:cashEth2();" class="btn_bottom orange">ETH 구매 진행</a>
    </div>
  </div>
</script>

<!-- cash_eth2 -->
<script id="charge_cash_eth2" type="text/template">
  <div class="con_inner">
    <div class="title">충전</div>

    <div class="fz20 fw700 mt30 mb50 " style="">ETH 구매 요청이 완료 되었습니다.</div>

    <div class="h60-input type02 mt30">
      <label for="">구매</label>
      <div class="inputFake">
        ${eth} <span class="fz12">ETH</span>
      </div>
    </div>
    <div class="h60-input type02 mt10 mb50">
      <label for="">구매수단</label>
      <div class="inputFake">
        ${cash} <span class="fz12">Won</span>
      </div>
    </div>

    <div class=" mt10 mb50 df jsb fz14">
      <label for="">입금<br> 계좌정보</label>
      <span class=""> 신한은행 (주)네모랩 140-012-470810</span>
    </div>

    <div class="fz12">현금구매는 계좌이체로만 가능합니다.
    등록된 NEMOLab 계좌에 해당금액을 입금하시고
  입금확인 신청을 해주세요. NEMOLab에서 확인 후 ETH를 지급해드립니다.</div>

    <div class="fz12 mt30">입금확인 신청은 설정>충전내역에서 진행하실 수 있습니다.</div>

    <div class="tac mt50">
      <a href="/history" class="btn_bottom">입금 확인 신청</a>
    </div>
    <div class="tac mt10">
      <a href="javascript:chargeMain();" class="btn_bottom">완료</a>
    </div>
  </div>
</script>



<!-- 충전 END------------------------------------------------------>



<script type="text/javascript">
  //카테고리 셋팅
  let html = $('#template-category-item')[0].innerHTML;
  for (var i in CATEGORY) {
    $.tmpl(html, CATEGORY[i]).appendTo('#category_list');
  }

  let gMemberInfo;

  <%if(is_login){%>
  let defaultProvider;
  if ('<%=config.info.id%>' === 'real') {
    defaultProvider = ethers.getDefaultProvider();
  } else {
    defaultProvider = ethers.getDefaultProvider('rinkeby');
  }

  var dataMap = {
    'call_url': '/api/member/selectMember.do',
    select_mem_no: <%=mem_no%>
  }

  $.ajax({
    type: "GET",
    url: "/api/getApi",
    data: dataMap,
    dataType: "json",
    success: function(response) {
      if (response.result.code === 0) {
        //console.log(response.data);

        $('#header_mem_id').html(response.data.mem_id);
        $('#header_point').html(response.data.point.format());
        $('#header_reliabilty_level').html(`${response.data.reliabilty_level} grade`);

        gMemberInfo = response.data;
        if (typeof setMemInfo == 'function') {
          setMemInfo(response.data);
        }

        selectWallet();
      } else if (response.result.code === 999010 || response.result.code === 999011) {
        location.href = '/member/login';
      } else {
        //alert(`code : ${response.result.code} , msg : ${response.result.msg}`);
      }
    },
    error: function(data) {
      console.log('error');
      console.log(data);
    }

  });

  //지갑정보 조회
  let wallet_regular;
  let wallet_dividend;

  function selectWallet() {
    var dataMap2 = {
      'call_url': '/api/wallet/selectWalletList.do'
    }
    $.ajax({
      type: "GET",
      url: "/api/getApi",
      data: dataMap2,
      dataType: "json",
      success: function(response) {
        if (response.result.code === 0) {

          for (let i in response.data) {
            let wallet = response.data[i];

            if (wallet.wallet_type === 'REGULAR') {
              wallet_regular = wallet;
            } else if (wallet.wallet_type === 'DIVIDEND') {
              wallet_dividend = wallet;
            }
          }

          //지갑존재 여부에 따라 화면을 그려준다.
          if (wallet_regular !== undefined) {
            let dataMap = {
              'wallet_address': wallet_regular.wallet_address,
              'point': wallet_regular.point.format(),
              'coin': wallet_regular.coin_balance.format(),
              'eth': wallet_regular.eth_balance.format(),
              'wallet_type': 'REGULAR'
            };

            let html = $('#wallet_item')[0].innerHTML;
            $('#wallet_REGULAR').empty();
            $.tmpl(html, dataMap).appendTo('#wallet_REGULAR');
            var oldVal;
            $("#wallet_REGULAR #transaction_value").on("propertychange change paste input", function() {
              var currentVal = $(this).val();
              if (currentVal == oldVal) {
                return;
              }
              oldVal = currentVal;

              estimateFee('REGULAR', wallet_regular.wallet_address, 'average');

            });

            $("#wallet_REGULAR #transaction_to").on("propertychange change paste input", function() {
              var currentVal = $(this).val();
              if (currentVal == oldVal) {
                return;
              }
              oldVal = currentVal;

              estimateFee('REGULAR', wallet_regular.wallet_address, 'average');

            });

          } else {
            let dataMap = {
              'wallet_type': 'REGULAR'
            };
            let html = $('#wallet_not_exist')[0].innerHTML;
            $('#wallet_REGULAR').empty();
            $.tmpl(html, dataMap).appendTo('#wallet_REGULAR');
          }

          if (wallet_dividend !== undefined) {
            let dataMap = {
              'wallet_address': wallet_dividend.wallet_address,
              'coin': wallet_dividend.coin_balance.format(),
              'eth': wallet_dividend.eth_balance.format(),
              'wallet_type': 'DIVIDEND'
            };

            let html = $('#wallet_item')[0].innerHTML;
            $('#wallet_DIVIDEND').empty();
            $.tmpl(html, dataMap).appendTo('#wallet_DIVIDEND');

            $("#wallet_DIVIDEND #transaction_value").on("propertychange change paste input", function() {
              var currentVal = $(this).val();
              if (currentVal == oldVal) {
                return;
              }
              oldVal = currentVal;
              estimateFee('DIVIDEND', wallet_dividend.wallet_address, 'average');
            });

            $("#wallet_DIVIDEND #transaction_to").on("propertychange change paste input", function() {
              var currentVal = $(this).val();
              if (currentVal == oldVal) {
                return;
              }
              oldVal = currentVal;
              estimateFee('DIVIDEND', wallet_dividend.wallet_address, 'average');
            });

            //DIVIDEND 는 상단에 포인트 안보여지게 처리함.
            $('#wallet_DIVIDEND .top_list div').eq(0).addClass('hidden');

          } else {
            let dataMap = {
              'wallet_type': 'DIVIDEND'
            };
            let html = $('#wallet_not_exist')[0].innerHTML;
            $('#wallet_DIVIDEND').empty();
            $.tmpl(html, dataMap).appendTo('#wallet_DIVIDEND');
          }
        } else if (response.result.code === 999010 || response.result.code === 999011) {
          location.href = '/member/login';
        } else {
          //alert(`code : ${response.result.code} , msg : ${response.result.msg}`);
        }
      },
      error: function(data) {
        console.log('error');
        console.log(data);
      }

    });
  }

  /*
    지갑 생성 화면을 보여준다.
  */
  function showCreateWallet(wallet_type) {
    let html = $('#wallet_create1')[0].innerHTML;
    $('#wallet_' + wallet_type).empty();

    $.tmpl(html, {
      'wallet_type': wallet_type
    }).appendTo('#wallet_' + wallet_type);
  }

  /*
    지갑 Import 화면을 보여준다.
  */
  function showImportWallet(wallet_type) {
    let html = $('#wallet_create3')[0].innerHTML;
    $('#wallet_' + wallet_type).empty();

    $.tmpl(html, {
      'wallet_type': wallet_type
    }).appendTo('#wallet_' + wallet_type);
  }

  /*
    지갑 생성전 Validation
  */
  async function createWalletValidation(wallet_type) {
    $('.err').hide();

    await tokenCheck();

    //비밀번호 9자리 이상 체크 pwd_${wallet_type}
    let pwd = $('#pwd_' + wallet_type).val();
    let objMsg = $('#pwd_msg_' + wallet_type);
    if ($.trim(pwd).length < 9) {
      showErrMsg(objMsg, '최소 9자 이상 입력해주세요.');
      $('#pwd_' + wallet_type).focus();
      return false;
    }


    //비밀번호 같은지 체크
    let ppwd = $('#ppwd_' + wallet_type).val();
    objMsg = $('#ppwd_msg_' + wallet_type);
    if (pwd !== ppwd) {
      showErrMsg(objMsg, '동일한 비밀번호를 입력해주세요.');
      $('#ppwd_' + wallet_type).focus();
      return false;
    }

    createWallet(wallet_type, '', pwd);
  }


  /*
    지갑 import전 Validation
  */
  async function importWalletValidation(wallet_type) {
    $('.err').hide();

    await tokenCheck();

    //privatekey 입력 체크
    let privatekey = $('#privatekey_' + wallet_type).val();
    let objMsg = $('#privatekey_msg_' + wallet_type);
    if ($.trim(privatekey) === '') {
      showErrMsg(objMsg, 'PRIVATEKEY를 입력해주세요.');
      $('#privatekey_' + wallet_type).focus();
      return false;
    }

    //비밀번호 입력 체크 pwd_${wallet_type}
    let pwd = $('#pwd_' + wallet_type).val();
    objMsg = $('#pwd_msg_' + wallet_type);
    if ($.trim(pwd) === '') {
      showErrMsg(objMsg, '암호를 입력해주세요.');
      $('#pwd_' + wallet_type).focus();
      return false;
    }

    createWallet(wallet_type, privatekey, pwd);
  }


  /*
    지갑생성/IMPORT(키스토어파일 다운로드)
  */
  function createWallet(wallet_type, private_key, pwd) {
    $(".loadingbar").css('width', `0%`);

    //keystore
    let privateKey = '';
    if (private_key !== undefined && private_key !== '') {
      privateKey = private_key;
    } else {
      let wallet = ethers.Wallet.createRandom();
      privateKey = wallet.privateKey;
    }

    var walletWithProvider = new ethers.Wallet(privateKey, defaultProvider);

    //지갑생성 프로세스 화면으로 전환
    let html = $('#wallet_create2')[0].innerHTML;
    $('#wallet_' + wallet_type).empty();

    $.tmpl(html, {
      'wallet_type': wallet_type
    }).appendTo('#wallet_' + wallet_type);

    let encryptPromise = walletWithProvider.encrypt(pwd, function(progress) {
      //console.log("Encrypting: " + parseInt(progress * 100) + "% complete");
      $(".loadingbar").css('width', `${parseInt(progress * 100)}%`);
    });

    encryptPromise.then(function(json) {
      var data = JSON.parse(json);

      //다른지갑주소를 import 하려고 할 시.
      if (private_key !== undefined && private_key !== '') {
        if (wallet_type === 'REGULAR') {
          if (!isEmpty(wallet_regular)) {
            let ad = '0x' + data.address
            if (wallet_regular.wallet_address !== ad) {
              showCommonPopup('안내', '기존에 등록된 지갑 주소와 다른 키 입니다.', 'OK', function() {});
              selectWallet();
              return;
            }
          }
        } else if (wallet_type === 'DIVIDEND') {
          if (!isEmpty(wallet_dividend)) {
            let ad = '0x' + data.address
            if (wallet_dividend.wallet_address !== ad) {
              showCommonPopup('안내', '기존에 등록된 지갑 주소와 다른 키 입니다.', 'OK', function() {});
              selectWallet();
              return;
            }
          }
        }
      }

      //keystore fils save..
      $('.btn_download').attr('href', 'data:text/json;charset=utf-8,' + encodeURIComponent(json))
        .attr('download', 'UTC--' + (new Date().toISOString().replace(/:/g, '-')) + '--' + data.address)
        .show();

      $('.btn_download').get(0).click();

      //완료 메시지 보이게 처리
      $('#wallet_' + wallet_type + ' #complete').removeClass('hidden');
      $('#wallet_' + wallet_type + ' #msg1').html('요청하신 KEY STORE FILE 생성 및 <br>다운로드가 완료되었습니다.');
      $('#wallet_' + wallet_type + ' #msg2').html('개인 PC-DOWNLOAD 폴더에서 확인하실 수 있으며, Transaction(송금) 진행 시 KEY STORE FILE을 통해<br> 이루어집니다.');


      //server에 wallet 등록 호출
      var dataMap = {
        'wallet_type': wallet_type,
        'wallet_address': '0x' + data.address,
        'call_url': '/api/wallet/create.do'
      };

      $.ajax({
        type: "POST",
        url: "/api/postApi",
        data: dataMap,
        dataType: "json",
        success: function(data) {
          if (data.result.code === 0) {
            //location.href = '/';

            //이미 등록되어있을경우도 아무것도 안한다.
          } else if (data.result.code === 999006) {

          } else if (data.result.code === 999010 || data.result.code === 999011) {
            location.href = '/member/login';
          } else {
            alert(`code : ${data.result.code} , msg : ${data.result.msg}`);
          }
        },
        error: function(data) {
          console.log('error');
          console.log(data);
        }

      });
    });
  }

  /*
    키스토어파일 로드
  */
  let keyStoreJson_regular;
  let keyStoreJson_dividend;

  function loadFromKeyStoreFile(event, wallet_type) {
    var keystoreFile = event.target.files[0];

    if (!keystoreFile) {
      return;
    }
    var fileReader = new FileReader();
    fileReader.readAsText(keystoreFile);

    fileReader.onloadend = async function(e) {
      if (wallet_type === 'REGULAR') {
        keyStoreJson_regular = e.target.result;
      } else if (wallet_type === 'DIVIDEND') {
        keyStoreJson_dividend = e.target.result;
      }

      $('#file_name_' + wallet_type).val(keystoreFile.name);
    };
  }


  async function estimateFee(wallet_type, address, speed) {
    //console.log("estimateFee: wallt_type(" +wallet_type + ") speed(" + speed + ")")


    let gasPrice;
    let waitTime;

    $.ajax({
        url: "https://ethgasstation.info/json/ethgasAPI.json", // 클라이언트가 요청을 보낼 서버의 URL 주소
        data: {

        }, // HTTP 요청과 함께 서버로 보낼 데이터
        type: "GET", // HTTP 요청 방식(GET, POST)
        dataType: "json" // 서버에서 보내줄 데이터의 타입
      })
      // HTTP 요청이 성공하면 요청한 데이터가 done() 메소드로 전달됨.

      .done(function(res) {
        jsonResult = res;
        if (speed == 'slow') {
          gasPrice = jsonResult.safeLow * 100000000;
          waitTime = jsonResult.safeLowWait;
        } else if (speed == 'average') {
          gasPrice = jsonResult.average * 100000000;
          waitTime = jsonResult.avgWait;
        } else if (speed == 'fast') {
          gasPrice = jsonResult.fast * 100000000;
          waitTime = jsonResult.fastWait;
        } else if (speed == 'fastest') {
          gasPrice = jsonResult.fastest * 100000000;
          waitTime = jsonResult.fastestWait;
        }

        var tx_data;
        var to = $('#wallet_' + wallet_type + ' #transaction_to').val();
        var value = $('#wallet_' + wallet_type + ' #transaction_value').val();

        $('#wallet_' + wallet_type + ' .fee #ethFeeWrapper').hide();
        $('#wallet_' + wallet_type + ' .fee #dollarFeeWrapper').hide();
        $('#wallet_' + wallet_type + ' .fee #estimatedTimeWrapper').hide();

        if(to == '' || to == 'undefined' || to == null ||
           value=='0' ||  value == '' || value =='undefined' || value == null){
          // 수신자 주소가 없다면 수수료 UI 감추기
          $('#wallet_' + wallet_type + ' .fee #insufficient').html('');
          return false
        }else {
          $('#wallet_' + wallet_type + ' .fee #insufficient').html('수수료 계산중..');
        }


        if ($('#wallet_' + wallet_type + ' #transaction_type option:selected').val() === 'eth') {
          tx_data = "0x";
        } else if ($('#wallet_' + wallet_type + ' #transaction_type option:selected').val() === 'coin') {
          if (value == "")
            value = "0";

          tx_data = getFuncHexData("transfer(address,uint256)", to, ethers.utils.parseEther(value)._hex)
          to = erc20_sc_address;
          value = "0";
        }

        //from = $('#wallet_' + wallet_type + ' #myAddress').html();
        // console.log('==============================')
        // console.log('from:', from)
        // console.log('to:', to)
        // console.log('value:', value)
        // console.log('value hex:', ethers.utils.parseEther(value)._hex)
        // console.log('tx_data:', tx_data)
        // console.log('gasPrice:', gasPrice)
        let transaction = {
          from: address,
          to: to,
          value: ethers.utils.parseEther(value)._hex,
          data: tx_data,
          gasPrice: gasPrice,
        }

        defaultProvider.estimateGas(transaction).then(function(estimate) {
          //console.log(estimate);
          transaction.gasLimit = estimate;
          let etherscanProvider = new ethers.providers.EtherscanProvider();
          etherscanProvider.getEtherPrice().then(function(etherPrice) {
            let weiFee = estimate * gasPrice;
            console.log("gasLimit:", estimate.toString(16));
            console.log("gasPrice:", gasPrice / 1000000000 + ' gwei');
            let ethFee = ethers.utils.formatEther(weiFee);
            let dollarFee = etherPrice * ethFee;
            let estimatedTime = '~' + (waitTime * 60).toString() + 's';
            console.log("from: ", address)
            defaultProvider.getBalance(address).then(async (res) => {
              let currentBalance = res.toString(16)
              $('#wallet_' + wallet_type + ' .fee #estimatedGasLimit').val(estimate);
              $('#wallet_' + wallet_type + ' .fee #estimatedGasPrice').val(gasPrice);
              $('#wallet_' + wallet_type + ' .fee #ethFee').html(ethFee.toString().slice(0, 7));
              $('#wallet_' + wallet_type + ' .fee #dollarFee').html(dollarFee.toString().slice(0, 5));
              $('#wallet_' + wallet_type + ' .fee #estimatedTime').html(estimatedTime.toString().split('.')[0]);

              //이더옵션 선택
              if ($('#wallet_' + wallet_type + ' #transaction_type option:selected').val() === 'eth') {
                // console.log("weiFee: ",  parseInt(weiFee))
                // console.log("value(eth): ", parseInt(value * 1000000000000000000));
                // console.log("weiFee + value: ", parseInt(weiFee)+parseInt(value * 1000000000000000000));
                // console.log("currentBalance: ", parseInt(currentBalance));
                if (parseInt(weiFee)+parseInt(value * 1000000000000000000) > parseInt(currentBalance)) { // 1-1 이더 잔액부족
                  $('#wallet_' + wallet_type + ' .fee #insufficient').html('이더부족');
                  $('#wallet_' + wallet_type + ' .fee #ethFeeWrapper').show();
                  $('#wallet_' + wallet_type + ' .fee #dollarFeeWrapper').hide();
                  $('#wallet_' + wallet_type + ' .fee #estimatedTimeWrapper').hide();
                } else { // 잔액 충분

                  $('#wallet_' + wallet_type + ' .fee #insufficient').html('');
                  $('#wallet_' + wallet_type + ' .fee #ethFeeWrapper').show();
                  $('#wallet_' + wallet_type + ' .fee #dollarFeeWrapper').show();
                  $('#wallet_' + wallet_type + ' .fee #estimatedTimeWrapper').show();
                }
              } else { // 코인옵션 선택
                if (parseInt(weiFee) > parseInt(currentBalance)) { // 1-1 이더 잔액부족
                  $('#wallet_' + wallet_type + ' .fee #insufficient').html('가스비용 이더부족');
                  $('#wallet_' + wallet_type + ' .fee #ethFeeWrapper').show();
                  $('#wallet_' + wallet_type + ' .fee #dollarFeeWrapper').hide();
                  $('#wallet_' + wallet_type + ' .fee #estimatedTimeWrapper').hide();
                } else {
                  $('#wallet_' + wallet_type + ' .fee #insufficient').html('');
                  $('#wallet_' + wallet_type + ' .fee #ethFeeWrapper').show();
                  $('#wallet_' + wallet_type + ' .fee #dollarFeeWrapper').show();
                  $('#wallet_' + wallet_type + ' .fee #estimatedTimeWrapper').show();
                }

              }
            }).catch(function(e) {
              $('#wallet_' + wallet_type + ' .fee #insufficient').html('계좌 잔액조회 실패');
            });
          }).catch(function(e){
            $('#wallet_' + wallet_type + ' .fee #insufficient').html('이더 시세조회 실패');
            console.log(e)
          });
        }).catch(function(e) {
          // 트랜잭션이 불가한 경우 수수료 UI 감추기
          $('#wallet_' + wallet_type + ' .fee #insufficient').html('잔액부족 혹은 트랜잭션 문제발생');
          $('#wallet_' + wallet_type + ' .fee #ethFeeWrapper').hide();
          $('#wallet_' + wallet_type + ' .fee #dollarFeeWrapper').hide();
          $('#wallet_' + wallet_type + ' .fee #estimatedTimeWrapper').hide();
        });
      })
      // HTTP 요청이 실패하면 오류와 상태에 관한 정보가 fail() 메소드로 전달됨.
      .fail(function(xhr, status, errorThrown) {
        console.log("ETHGas station으로부터 값을 받아오는데 실패했습니다.")
        $("#estimatedFee").val("오류가 발생했습니다.<br>" + "오류명: " + errorThrown + "<br>" + "상태: " + status)
      })
  }

  async function estimateFeeForCharge(speed) {


    let gasPrice;
    let waitTime;

    $.ajax({
        url: "https://ethgasstation.info/json/ethgasAPI.json", // 클라이언트가 요청을 보낼 서버의 URL 주소
        data: {

        }, // HTTP 요청과 함께 서버로 보낼 데이터
        type: "GET", // HTTP 요청 방식(GET, POST)
        dataType: "json" // 서버에서 보내줄 데이터의 타입
      })
      // HTTP 요청이 성공하면 요청한 데이터가 done() 메소드로 전달됨.

      .done(function(res) {

        jsonResult = res;
        if (speed == 'slow') {
          gasPrice = jsonResult.safeLow * 100000000;
          waitTime = jsonResult.safeLowWait;
        } else if (speed == 'average') {
          gasPrice = jsonResult.average * 100000000;
          waitTime = jsonResult.avgWait;
        } else if (speed == 'fast') {
          gasPrice = jsonResult.fast * 100000000;
          waitTime = jsonResult.fastWait;
        } else if (speed == 'fastest') {
          gasPrice = jsonResult.fastest * 100000000;
          waitTime = jsonResult.fastestWait;
        }

        var tx_data;

        var value = $('#charge_coin').val().replace(/,/gi,'');


        if (value == "")
          value = "0";

        to = erc20_sc_address;
        tx_data = getFuncHexData("transfer(address,uint256)", to, ethers.utils.parseEther(value)._hex)

        $('.feeg #charge_ethFeeWrapper').hide();
        $('.feeg #charge_dollarFeeWrapper').hide();
        $('.feeg #charge_estimatedTimeWrapper').hide();

        if(value=='0' ||  value == '' || value =='undefined' || value == null){
          // 수신자 주소가 없다면 수수료 UI 감추기
          $('.feeg #charge_insufficient').html('');
          return false
        }else {
          $('.feeg #charge_insufficient').html('수수료 계산중..');

        }


        // from = $('#myAddress').html();
        from = wallet_regular.wallet_address;
        console.log('from:', from);
        let transaction = {
          from: from,
          to: to,
          data: tx_data,
          gasPrice: gasPrice,
        }

        defaultProvider.estimateGas(transaction).then(function(estimate) {

          transaction.gasLimit = estimate;
          let etherscanProvider = new ethers.providers.EtherscanProvider();
          etherscanProvider.getEtherPrice().then(function(etherPrice) {
            let weiFee = estimate * gasPrice;

            let ethFee = ethers.utils.formatEther(weiFee);
            let dollarFee = etherPrice * ethFee;
            let estimatedTime = '~' + (waitTime * 60).toString() + 's';
            defaultProvider.getBalance(from).then((res) => {
              let currentBalance = res.toString(16)
              $('.feeg #charge_estimatedGasLimit').val(estimate);
              $('.feeg #charge_estimatedGasPrice').val(gasPrice);
              $('.feeg #charge_ethFee').html(ethFee.toString().slice(0, 7));
              $('.feeg #charge_dollarFee').html(dollarFee.toString().slice(0, 5));
              $('.feeg #charge_estimatedTime').html(estimatedTime.toString().split('.')[0]);

              if (weiFee > currentBalance) { // 이더 잔액부족
                $('.feeg #charge_insufficient').html('가스비용 이더부족');
                $('.feeg #charge_ethFeeWrapper').show();
                $('.feeg #charge_dollarFeeWrapper').hide();
                $('.feeg #charge_estimatedTimeWrapper').hide();
              } else { // 모든 잔액 충분
                $('.feeg #charge_insufficient').html('');
                $('.feeg #charge_ethFeeWrapper').show();
                $('.feeg #charge_dollarFeeWrapper').show();
                $('.feeg #charge_estimatedTimeWrapper').show();
              }
            }).catch(function(e) {
              $('#wallet_' + wallet_type + ' .fee #insufficient').html('계좌 잔액조회 실패');
            });
          }).catch(function(e){
            $('#wallet_' + wallet_type + ' .fee #insufficient').html('이더 시세조회 실패');
          });
        }).catch(function(e) {
          // 트랜잭션이 불가한 경우 수수료 UI 감추기

          $('.feeg #charge_insufficient').html('잔액이 부족하거나 트랜잭션에 문제가 있습니다.');
          $('.feeg #charge_ethFeeWrapper').hide();
          $('.feeg #charge_dollarFeeWrapper').hide();
          $('.feeg #charge_estimatedTimeWrapper').hide();
        });
      })
      // HTTP 요청이 실패하면 오류와 상태에 관한 정보가 fail() 메소드로 전달됨.
      .fail(function(xhr, status, errorThrown) {
        console.log("ETHGas station으로부터 값을 받아오는데 실패했습니다.")
        $("#estimatedFee").val("오류가 발생했습니다.<br>" + "오류명: " + errorThrown + "<br>" + "상태: " + status)
      })
  }


  async function sendTransaction(wallet_type) {
    let keyStoreJson;
    let curWallet;
    //키스토어 파일 체크
    //등록된 주소와 키스토어 주소 체크
    if (wallet_type === 'REGULAR') {
      if (isEmpty(keyStoreJson_regular)) {
        showCommonPopup('안내', 'KEY STORE FILE을 선택해주세요.', 'OK', function() {

        });
        return;
      }

      if (wallet_regular.wallet_address !== ('0x' + JSON.parse(keyStoreJson_regular).address)) {
        showCommonPopup('안내', '등록된 지갑과 다른 KEY STORE FILE 입니다.', 'OK', function() {

        });
        return;
      }

      keyStoreJson = keyStoreJson_regular;
      curWallet = wallet_regular;
    } else if (wallet_type === 'DIVIDEND') {
      if (isEmpty(keyStoreJson_dividend)) {
        showCommonPopup('안내', 'KEY STORE FILE을 선택해주세요.', 'OK', function() {

        });
        return;
      }

      if (wallet_dividend.wallet_address !== ('0x' + JSON.parse(keyStoreJson_dividend).address)) {
        showCommonPopup('안내', '등록된 지갑과 다른 KEY STORE FILE 입니다.', 'OK', function() {

        });
        return;
      }
      keyStoreJson = keyStoreJson_dividend;
      curWallet = wallet_dividend;
    }


    //받는 사람 주소 입력 체크
    let to_address = $('#wallet_' + wallet_type + ' #transaction_to').val();
    if ($.trim(to_address) === '') {
      showCommonPopup('안내', '받는 사람 ADDRESS를 입력해주세요.', 'OK', function() {
        $('#wallet_' + wallet_type + ' #transaction_to').focus();
      });
      return;
    }

    //송금액 입력 체크
    let transaction_value = $('#wallet_' + wallet_type + ' #transaction_value').val();
    if ($.trim(transaction_value) === '' || transaction_value <= 0) {
      showCommonPopup('안내', '송금액을을 입력해주세요.', 'OK', function() {
        $('#wallet_' + wallet_type + ' #transaction_value').focus();
      });
      return;
    }

    //비밀번호 입력체크
    let transaction_pwd = $('#wallet_' + wallet_type + ' #transaction_pwd').val();
    if ($.trim(transaction_pwd) === '') {
      showCommonPopup('안내', '비밀번호를 입력해주세요.', 'OK', function() {
        $('#wallet_' + wallet_type + ' #transaction_pwd').focus();
      });
      return;
    }

    //gasLimit 체크
    // let gas_limit = $('#wallet_' + wallet_type + ' #gas_limit').val();
    // if($.trim(gas_limit) === '' || gas_limit <= 0){
    //   showCommonPopup('안내', 'Gas Limit를 입력해주세요.', 'OK', function (){
    //     $('#wallet_' + wallet_type + ' #transaction_pwd').focus();
    //   });
    //   return;
    // }


    //트랜잭션 타입에 따라 트랜잭션 호출
    let progressObj = $('#wallet_' + wallet_type + ' .loading');
    $('#wallet_' + wallet_type + ' #transaction_btn').hide();
    let estimatedGasLimit = $('#wallet_' + wallet_type + ' #estimatedGasLimit').val();
    let estimatedGasPrice = $('#wallet_' + wallet_type + ' #estimatedGasPrice').val();

    let tx;
    if ($('#wallet_' + wallet_type + ' #transaction_type option:selected').val() === 'eth') {
      tx = await etherTransfer(to_address, transaction_pwd, transaction_value, keyStoreJson, progressObj, estimatedGasPrice, estimatedGasLimit)
        .catch(function(e) {
          //progressObj.hide();
          progressObj.addClass('hidden');
          $('#wallet_' + wallet_type + ' #transaction_btn').show();
          showCommonPopup('안내', e.message, 'OK', function() {});
        });
    } else if ($('#wallet_' + wallet_type + ' #transaction_type option:selected').val() === 'coin') {
      tx = await tokenTransfer(to_address, transaction_pwd, transaction_value, keyStoreJson, progressObj, estimatedGasPrice, estimatedGasLimit)
        .catch(function(e) {
          //progressObj.hide();
          progressObj.addClass('hidden');
          $('#wallet_' + wallet_type + ' #transaction_btn').show();
          showCommonPopup('안내', e.message, 'OK', function() {});
        });
    }

    if (!isEmpty(tx)) {
      var dataMap = {
        'point': gMemberInfo.point.format(),
        'coin': curWallet.coin_balance.format(),
        'eth': curWallet.eth_balance.format(),
        'wallet_type': curWallet.wallet_type,
        'tx': tx.hash
      };
      let html = $('#transaction_complete')[0].innerHTML;
      $('#wallet_' + wallet_type).empty();
      $.tmpl(html, dataMap).appendTo('#wallet_' + wallet_type);

    }
  }

  /*
    etherTransfer
  */
  async function etherTransfer(to, pwd, value, keyStoreJson, progressObj, gasPrice, gasLimit) {
    try {
      var wallet = await ethers.Wallet.fromEncryptedJson(keyStoreJson, pwd, function(progress) {
        //console.log("Encrypting: " + parseInt(progress * 100) + "% complete");
        //progressObj.show();
        progressObj.removeClass('hidden');
        progressObj.children('.loadingbar').css('width', `${parseInt(progress * 100)}%`);

      });

      //let gasPrice = await defaultProvider.getGasPrice();
      let walletWithProvider = new ethers.Wallet(wallet.privateKey, defaultProvider);
      let nonce = await walletWithProvider.getTransactionCount();

      let transaction = {
        nonce: nonce,
        //gasLimit: ethers.utils.bigNumberify(gasLimit),
        gasPrice: ethers.utils.bigNumberify(gasPrice),
        to: to,
        value: ethers.utils.parseEther(value)
      }
      /*
            await defaultProvider.estimateGas(transaction).then(function(estimate) {
              //console.log(estimate);
              transaction.gasLimit = estimate;
            })
      */
      transaction.gasLimit = ethers.utils.bigNumberify(gasLimit);
      let signedTransaction = await wallet.sign(transaction);

      // This can now be sent to the Ethereum network
      let tx = await defaultProvider.sendTransaction(signedTransaction);

      return tx;
    } catch (e) {
      console.log(e);
      throw e;
    }

  }


  /*
    tokenTransfer
  */
  async function tokenTransfer(to, pwd, value, keyStoreJson, progressObj, gasPrice, gasLimit) {
    var wallet = await ethers.Wallet.fromEncryptedJson(keyStoreJson, pwd, function(progress) {
      progressObj.removeClass('hidden');
      progressObj.children('.loadingbar').css('width', `${parseInt(progress * 100)}%`);

    });

    //let gasPrice = await defaultProvider.getGasPrice();
    let walletWithProvider = new ethers.Wallet(wallet.privateKey, defaultProvider);
    let nonce = await walletWithProvider.getTransactionCount();

    //data 구하기...
    let data = getFuncHexData("transfer(address,uint256)", to, ethers.utils.parseEther(value)._hex);
    //console.log(data);


    let transaction = {
      from: walletWithProvider.address,
      to: erc20_sc_address,
      data: data,
      nonce: nonce
    }
    // let overrides = {
    //     nonce: nonce,
    //     gasPrice: gasPrice
    // }
    /*
        //console.log(transaction);
        await defaultProvider.estimateGas(transaction).then(function(estimate) {
          //console.log(estimate);
          //측정된 gasLimit 에서 10000 을 더한다.
          transaction.gasLimit = estimate.add(ethers.utils.bigNumberify(10000));
          transaction.gasPrice = gasPrice;
        })
    */
    transaction.gasLimit = ethers.utils.bigNumberify(gasLimit).add(ethers.utils.bigNumberify(10000));
    transaction.gasPrice = ethers.utils.bigNumberify(gasPrice);
    delete transaction.from; //gasLimit 계산할때는 필요하고 실제 트랜잭션 발생시 from키가 있으면 에러발생을함

    //console.log(transaction.gasLimit);
    let signedTransaction = await wallet.sign(transaction);

    // This can now be sent to the Ethereum network
    let tx = await defaultProvider.sendTransaction(signedTransaction);
    console.log('data: ', data);
    console.log('tx: ', tx);

    //
    // var contract = new ethers.Contract(erc20_sc_address, abi, walletWithProvider);
    //
    // var numberOfDecimals = 18;
    // var numberOfTokens = ethers.utils.parseUnits(value, numberOfDecimals);
    //
    // var tx = await contract.transfer(to, numberOfTokens, overrides);

    return tx;
  }


  function showErrMsg(obj, msg) {
    obj.html(msg);
    //obj.show();
    obj.css("display", "block");

  }

  function showGuide() {
    $('#popup-guide').show();
  }

  function closeGuide() {
    $('#popup-guide').hide();
  }


  function addressCopy(str) {
    var t = document.createElement("textarea");
    document.body.appendChild(t);
    t.value = str;
    t.select();
    document.execCommand('copy');
    document.body.removeChild(t);

    toastr.options = {
      closeButton: true,
      progressBar: false,
      showMethod: 'slideDown',
      timeOut: 3000
    };
    toastr.success('', '복사되었습니다.');
  }


  function pad(n, width) {
    n = n + '';
    return n.length >= width ? n : new Array(width - n.length + 1).join('0') + n;
  }

  function getFuncHexData() {
    var arg = new Array();
    var param = new Array();

    let i = 0;
    for (let val of arguments) {
      arg[i++] = val;
    }

    funcHex = ethers.utils.id(arg[0]).slice(0, 10);

    var data = funcHex;
    for (i = 1; i < arg.length; i++) {
      param[i] = pad(arg[i].slice(2), 64);
      data += param[i];
    }

    return data;

  }


  <%}%>
</script>
