<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/images/favicon.ico">

  <meta name="description" content="가치 연결의 시작 NEMODaX(네모닥)">

  <meta property="og:title" content="NEMODaX">
	<meta property="og:url" content="https://www.nemodax.com/">
	<meta property="og:image" content="https://www.nemodax.com/images/nemodax_logo2.jpg">
	<meta property="og:description" content="가치 연결의 시작 NEMODaX(네모닥)"/>

  <link rel="canonical" href="https://www.nemodax.com/">

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/common_new.css">
  <link rel="stylesheet" href="/css/nemodax.css">
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/toastr.min.css">

  <title>NEMODaX / 네모닥</title>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/constants.js"></script>
  <script src="/js/charge.js"></script>
  <script src="/js/abi.js"></script>
  <script src="https://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
  <script src="https://cdn.ethers.io/scripts/ethers-v4.min.js" charset="utf-8" type="text/javascript"></script>
  <!-- <script src="/js/jquery.exif.js"></script> -->
  <!-- <script src="/js/jqueryRotate.2.3.js"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/exif-js"></script> -->
  <script src="/js/load-image.all.min.js"></script>
  <!-- <script src="/js/canvas-to-blob.js"></script> -->


  <script src="/js/toastr.min.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141541744-1"></script>
  <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-141541744-1');
  </script>

  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window,document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
   fbq('init', '674162256346141');
  fbq('track', 'PageView');
  </script>
  <noscript>
   <img height="1" width="1"
  src="https://www.facebook.com/tr?id=674162256346141&ev=PageView
  &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->

  <script>
    let erc20_sc_address = '<%=config.info.erc20_sc_address%>';
    let point_charge_address = '<%=config.info.point_charge_address%>';

    let s3_bucket = '<%=config.info.s3_bucket%>';
    let s3_download_url = '<%=config.info.s3_download_url%>';
  </script>

</head>

<body>
  <div class="m_popup_overlay hidden">
    <div class="m_popup_wrap">
      <div class="m_popup">
        <img class="mb100" src="/images/icon_study.svg">
        <div class="txt1">
          <a href="javascript:void(0);">NEMOStudy는<br>모바일 전용 서비스입니다.<br>App으로 확인해주세요.</a>
        </div>
        <!-- <a class="btn" href="/service/androidDownload.html">설치하기</a> -->
        <a class="btn" href="Intent://action#Intent;scheme=nemostudy;package=kr.nemolab.nemodax_mobile;end">설치하기</a>
        <div class="txt2">
          <a href="javascript:void(0);">CP(Contents Provider) 참여는<br>PC에서 nemodax.com으로 접속해주세요.</a>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper main">
    <div class="popup_fix" style="display:none;">
    	<div class="popup_loading">
    		<div class="popup_con">
    			<p class="popup_title">파일 업로드</p>
    			<div class="pop_scroll" >

    				<!-- <div class="file list">
    					<div class="file_name">
    						<span>1)</span>미리보는 공무원 7급.mp4
    					</div>
    					<div class="load">
    						<div class="loading_bg">
    							<div class="loadingbar"></div>
    						</div>
    					</div>
    				</div> -->


    			</div>
    		</div>
    	</div>
    </div>
    
    <div class="banner-top-1">

      <!-- <div class="wrap-1400 df jsb">
        <div class="fz12 fw500">
          <span>2019.01.30</span>
          <span>[네모닥 1차 배당 진행완료]</span>
          <span>네모닥에서 1차 접수를 받았던 배당건은 금일모든 참여자분들께 배당금 지급을 완료 하였습니다. 자세한 사항은 noemodax 블로그 및 개인배당지갑에서 확인하세요.</span>
        </div>
        <i class="fas fa-angle-down btn_banner_01"></i>
      </div> -->


    </div>
    <div class="banner-top-2 on">
      <div class="wrap-1200">
        <a class="banner_btnO btn1" href="https://play.google.com/store/apps/details?id=kr.nemolab.nemodax_mobile" target="_blank">설치하기</a>
        <a class="banner_btnB btn2" href="https://kr.dcoin.com/currencyTrading/NEMO_ETH/" target="_blank">Dcoin</a>
        <a class="banner_btnB btn3" href="https://www.probit.kr/app/exchange/NEMO-KRW" target="_blank">PROBIT</a>
      </div>
    </div>

    <% include ./header %>

    <%- body %>

    <% include ./footer %>



    <div id="popup-common" class="popup fix">
      <div class="popup_inner wrap-450">
        <div class="tx1"></div>
        <div class="tx2"></div>
        <div class="btn_wrap">
          <a href="javascript:void(0);" class="hidden">버튼1</a>
          <a href="javascript:void(0);" class="orange hidden">버튼2</a>
        </div>
        <!-- <a href="#!" class="btn_popup_close">
          <i class="fas fa-times"></i>
        </a> -->
      </div>
    </div>


    <div id="popup-progress" class="popup fix">
      <div class="popup_inner wrap-450">
        <div id="myProgress">
          <div id="myBar"></div>
        </div>
        <div>Loading..</div>
      </div>
    </div>

  </div>

  <!-- top-notice -->
  <script id="top_notice" type="text/template">
    <div class="wrap-1400 df jsb">
      <div class="fz12 fw500">
        <span>${date}</span>
        <span class="cursor"><a href="${link}" target="_blank" style="color:white">${title}</a></span>
        <span class="cursor"><a href="${link}" target="_blank" style="color:white">${desc}</a></span>
      </div>
      <i class="${cls}"></i>
    </div>
  </script>

  <script>
    // let erc20_sc_address = '<%=config.info.erc20_sc_address%>';
    // let point_charge_address = '<%=config.info.point_charge_address%>';
    //
    // let s3_bucket = '<%=config.info.s3_bucket%>';


    var top_notice;

    $(document).ready(function() {

      dataMap = {
        'call_url':"/api/notice/selectTopNoticeList.do"
      };
      $.ajax({
        type: "GET",
        url:"/api/getApi",
        data:dataMap,
        dataType:"json",
        success:function(response){

          top_notice = response.data.notice_list;
          console.log("top_notice:", top_notice);

          hideTopNotice();
        },
        error: function(data){
          console.log("error:", data)
        }
      });

    });

    function showAllTopNotice(){
      let html = $('#top_notice')[0].innerHTML;
      $('.banner-top-1').empty();
      for(idx in top_notice){
        if(idx == top_notice.length - 1){
          top_notice[idx].cls = 'fas fa-angle-up btn_banner_01';
        }else{
          top_notice[idx].cls = '';
        }

        $.tmpl(html, top_notice[idx]).appendTo('.banner-top-1');
        $('.fa-angle-up.btn_banner_01').click(function () {
          hideTopNotice();
        })
      }
    }

    function hideTopNotice(){
      let html = $('#top_notice')[0].innerHTML;
      top_notice[0].cls = 'fas fa-angle-down btn_banner_01';
      $('.banner-top-1').empty();
      $.tmpl(html, top_notice[0]).appendTo('.banner-top-1');
      $('.fa-angle-down.btn_banner_01').click(function () {
        showAllTopNotice();
      })
    }

    function showProgress(){
      $('#popup-progress').show();
      $("#myBar").css('width', '1%');
    }
    function setProgress(per){
      $("#myBar").css('width', `${per}%`);

    }
    function hideProgress(){
      $('#popup-progress').hide();
    }

    function showCommonPopup(txt1, txt2, btn1_str, btn1_fn){
      //초기화
      $('#popup-common .btn_wrap a').eq(0).addClass('hidden');
      $('#popup-common .btn_wrap a').eq(1).addClass('hidden');
      $('#popup-common .btn_wrap a').eq(0).unbind();
      $('#popup-common .btn_wrap a').eq(1).unbind();

      $('#popup-common .tx1').html(txt1);
      $('#popup-common .tx2').html(txt2);


      if(btn1_fn !== undefined){
        $('#popup-common .btn_wrap a').eq(1).html(btn1_str);
        $('#popup-common .btn_wrap a').eq(1).bind('click', function(e){
          //$('#popup-common').hide();
          closePopupCommon();
          $('#popup-common .btn_wrap a').eq(1).unbind();
        });
        $('#popup-common .btn_wrap a').eq(1).bind('click', btn1_fn);
        $('#popup-common .btn_wrap a').eq(1).removeClass('hidden');
      }else{
        $('#popup-common .btn_wrap a').eq(1).html('OK');
        $('#popup-common .btn_wrap a').eq(1).bind('click', function(e){
          //$('#popup-common').hide();
          closePopupCommon();
          $('#popup-common .btn_wrap a').eq(1).unbind();
        });
        $('#popup-common .btn_wrap a').eq(1).removeClass('hidden');
      }

      //$('#popup-common').show();
      openPopup('common');
    }

    function showCommonPopup2(txt1, txt2, btn1_str, btn1_fn, btn2_str, btn2_fn){
      //초기화
      $('#popup-common .btn_wrap a').eq(0).addClass('hidden');
      $('#popup-common .btn_wrap a').eq(1).addClass('hidden');
      $('#popup-common .btn_wrap a').eq(0).unbind();
      $('#popup-common .btn_wrap a').eq(1).unbind();

      $('#popup-common .tx1').html(txt1);
      $('#popup-common .tx2').html(txt2);


      if(btn1_fn !== undefined){
        $('#popup-common .btn_wrap a').eq(0).html(btn1_str);
        $('#popup-common .btn_wrap a').eq(0).bind('click', function(e){
          //$('#popup-common').hide();
          closePopupCommon();
          $('#popup-common .btn_wrap a').eq(0).unbind();
        });
        $('#popup-common .btn_wrap a').eq(0).bind('click', btn1_fn);
        $('#popup-common .btn_wrap a').eq(0).removeClass('hidden');
      }else{
        $('#popup-common .btn_wrap a').eq(0).html('OK');
        $('#popup-common .btn_wrap a').eq(0).bind('click', function(e){
          //$('#popup-common').hide();
          closePopupCommon();
          $('#popup-common .btn_wrap a').eq(0).unbind();
        });
        $('#popup-common .btn_wrap a').eq(0).removeClass('hidden');
      }

      if(btn2_fn !== undefined){
        $('#popup-common .btn_wrap a').eq(1).html(btn2_str);
        $('#popup-common .btn_wrap a').eq(1).bind('click', function(e){
          //$('#popup-common').hide();
          closePopupCommon();
          $('#popup-common .btn_wrap a').eq(1).unbind();
        });
        $('#popup-common .btn_wrap a').eq(1).bind('click', btn2_fn);
        $('#popup-common .btn_wrap a').eq(1).removeClass('hidden');
      }else{
        $('#popup-common .btn_wrap a').eq(1).html('OK');
        $('#popup-common .btn_wrap a').eq(1).bind('click', function(e){
          //$('#popup-common').hide();
          closePopupCommon();
          $('#popup-common .btn_wrap a').eq(1).unbind();
        });
        $('#popup-common .btn_wrap a').eq(1).removeClass('hidden');
      }

      //$('#popup-common').show();
      openPopup('common');
    }

    async function tokenCheck(){
      var dataMap2 = {
        'call_url': '/api/member/tokenCheck.do'
      }
      await $.ajax({
        type: "GET",
        url: "/api/getApi",
        data: dataMap2,
        dataType: "json",
        success: function(response) {
          if(response.result.code === 0){
            if(response.data < 600){
              location.href = '/member/login';
              return;
            }

          }else if(response.result.code === 999010 || response.result.code === 999011){
              location.href = '/member/login';
              return;
          }else{
            alert(`code : ${response.result.code} , msg : ${response.result.msg}`);

            return;
          }
        },
        error: function( data ) {
          console.log('error');
          console.log(data);
        }

      });
    }

  </script>
</body>

</html>
