<!-- <html> -->
<div class="container">

  <div class="con wrap-1200">
    <div class="subTitle df jsb">
      <span id="subTitle">STUDY</span>
      <div class="searchBox df jsb">
        <input type="text" id="search_value">
        <a href="javascript:void(0);">
          <i class="fz16 fas fa-search fcOrange"></i>
        </a>
      </div>
    </div>
    <div class="con2">
      <div class="top df jsb">
        <div class="tab_header fw500 df" id="sub_category_list">
          <!-- <div class="tab_list"><a href="#tab1_01" class="on">공무원</a></div>
          <div class="tab_list"><a href="#tab1_02">자격증</a></div>
          <div class="tab_list"><a href="#tab1_03">기타</a></div> -->
        </div>

      </div>
      <div class="tab_container">
        <div id="tab1_01" class="tab_con bottom ovh">
          <!-- <div class="fll">
            <div class="wrap_img">
              <img src="images/01_front-page-logout_05.png">
              <a class="heart"><i class="fas fa-heart"></i></a>
            </div>
            <div class="card-content">
              <div class="fz16 fw500">
                [9급 공무원] 수학 제 1강 등차수열
                수학 제 1강 등차수열수학 제 1강
              </div>
              <div class="fz13">최영 선생님</div>
              <div class="fz12">2019-01-30</div>
            </div>
          </div>
          <div class="fll">
            <div class="wrap_img">
              <img src="images/01_front-page-logout_05.png">
              <a class="heart fcOrange"><i class="fas fa-heart"></i></a>
            </div>
            <div class="card-content">
              <div class="fz16 fw500">
                [9급 공무원] 수학 제 1강 등차수열
                수학 제 1강 등차수열수학 제 1강
              </div>
              <div class="fz13">최영 선생님</div>
              <div class="fz12">2019-01-30</div>
            </div>
          </div>
          <div class="fll">
            <div class="wrap_img">
              <img src="images/01_front-page-logout_05.png">
              <a class="heart"><i class="fas fa-heart"></i></a>
            </div>
            <div class="card-content">
              <div class="fz16 fw500">
                [9급 공무원] 수학 제 1강 등차수열
                수학 제 1강 등차수열수학 제 1강
              </div>
              <div class="fz13">최영 선생님</div>
              <div class="fz12">2019-01-30</div>
            </div>
          </div>
          <div class="fll">
            <div class="wrap_img">
              <img src="images/01_front-page-logout_05.png">
              <a class="heart fcOrange"><i class="fas fa-heart"></i></a>
            </div>
            <div class="card-content">
              <div class="fz16 fw500">
                [9급 공무원] 수학 제 1강 등차수열
                수학 제 1강 등차수열수학 제 1강
              </div>
              <div class="fz13">최영 선생님</div>
              <div class="fz12">2019-01-30</div>
            </div>
          </div>
          <div class="fll">
            <div class="wrap_img">
              <img src="images/01_front-page-logout_05.png">
              <a class="heart fcOrange"><i class="fas fa-heart"></i></a>
            </div>
            <div class="card-content">
              <div class="fz16 fw500">
                [9급 공무원] 수학 제 1강 등차수열
                수학 제 1강 등차수열수학 제 1강
              </div>
              <div class="fz13">최영 선생님</div>
              <div class="fz12">2019-01-30</div>
            </div>
          </div>
          <div class="fll">
            <div class="wrap_img">
              <img src="images/01_front-page-logout_05.png">
              <a class="heart fcOrange"><i class="fas fa-heart"></i></a>
            </div>
            <div class="card-content">
              <div class="fz16 fw500">
                [9급 공무원] 수학 제 1강 등차수열
                수학 제 1강 등차수열수학 제 1강
              </div>
              <div class="fz13">최영 선생님</div>
              <div class="fz12">2019-01-30</div>
            </div>
          </div>
          <div class="fll">
            <div class="wrap_img">
              <img src="images/01_front-page-logout_05.png">
              <a class="heart fcOrange"><i class="fas fa-heart"></i></a>
            </div>
            <div class="card-content">
              <div class="fz16 fw500">
                [9급 공무원] 수학 제 1강 등차수열
                수학 제 1강 등차수열수학 제 1강
              </div>
              <div class="fz13">최영 선생님</div>
              <div class="fz12">2019-01-30</div>
            </div>
          </div>
          <div class="fll">
            <div class="wrap_img">
              <img src="images/01_front-page-logout_05.png">
              <a class="heart"><i class="fas fa-heart"></i></a>
            </div>
            <div class="card-content">
              <div class="fz16 fw500">
                [9급 공무원] 수학 제 1강 등차수열
                수학 제 1강 등차수열수학 제 1강
              </div>
              <div class="fz13">최영 선생님</div>
              <div class="fz12">2019-01-30</div>
            </div>
          </div>
          <div class="fll">
            <div class="wrap_img">
              <img src="images/01_front-page-logout_05.png">
              <a class="heart"><i class="fas fa-heart"></i></a>
            </div>
            <div class="card-content">
              <div class="fz16 fw500">
                [9급 공무원] 수학 제 1강 등차수열
                수학 제 1강 등차수열수학 제 1강
              </div>
              <div class="fz13">최영 선생님</div>
              <div class="fz12">2019-01-30</div>
            </div>
          </div>
          <div class="fll">
            <div class="wrap_img">
              <img src="images/01_front-page-logout_05.png">
              <a class="heart fcOrange"><i class="fas fa-heart"></i></a>
            </div>
            <div class="card-content">
              <div class="fz16 fw500">
                [9급 공무원] 수학 제 1강 등차수열
                수학 제 1강 등차수열수학 제 1강
              </div>
              <div class="fz13">최영 선생님</div>
              <div class="fz12">2019-01-30</div>
            </div>
          </div> -->
        </div>
        <!-- <div id="tab1_02" class="tab_con bottom ovh">test2</div>
        <div id="tab1_03" class="tab_con bottom ovh">test3</div> -->


        <div id="popup-detail" class="popup_detail">
          <div class="popup_inner con2_popup">
            <div class="ovh">
              <div class="fll card01">
                <!-- <div class="img_wrap">

                </div>
                <div class="tx_wrap">
                  <div class="fz18 fw700">최영</div>
                  <div class="fz12 fw500">
                    <span>Available</span>
                    <span class="gray">12:00 ~ 16:00</span>
                    <span class="bullet"></span>
                  </div>
                  <div class="fz13 fw500">
                    안녕하세요!<br>
                    <br>
                    수학 제 1강 등차<br>
                    수열 최영 선생님입니다.<br>
                    학 제 1강 등차수열 최영 선생님입니다.
                  </div>
                </div> -->
              </div>
              <div class="fll card02">
                <!-- <div class="fz26 fw700">[9급 공무원] 수학 제 1강 등차수열</div>
                <div class="table type03">
                  <table>
                    <colgroup>
                      <col style="width:10%;">
                      <col style="width:30%;">
                      <col style="width:15%;">
                      <col style="width:45%;">
                    </colgroup>
                    <tr>
                      <th>시험</th>
                      <td>2019 9급 공무원</td>
                      <th>파일명</th>
                      <td>9급 공무원 수학 제 1강 등차수열.mp4</td>
                    </tr>
                    <tr>
                      <th>과목</th>
                      <td>수학</td>
                      <th>시간</th>
                      <td>23분 30초</td>
                    </tr>
                    <tr>
                      <th>종류</th>
                      <td>영강강의</td>
                      <th>수강방식</th>
                      <td>
                        Mobile streaming
                        <span class="fz12 fcGray">수강신청 후 모바일 전용 Streaming으로 학습이 가능합니다.</span>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="ovh con9">
                  <div class="fll fw500">강의내용</div>
                  <div class="fll">
                    <div class="fz13 fcGray">
                      실전개념이라는 단어를 탄생시킨 강좌,현우진 선생님의 뉴런이 개강합니다.<br>
                      <br>
                      1. 수능에서 사용이 가능한 ‘실전개념’ 학습 뉴런 강좌는 각 과목의 기본 개념을 학습하고 왔다는 전제하에 학습한 내용을 문제에서 어떻게 사용하여 문제를 풀어내야
                      하는지에 대한
                      ‘사용할
                      수 있는 개념’, ‘실제 시험에서 사용 가능한 실전개념’에 대한 학습이 집중적으로 이루어집니다. 개념과 문제 풀이의 괴리, 그 벽을 허물 수 있는 강좌가 뉴런입니다.
                    </div>
                  </div>
                </div>
                <div class="con11 df">
                  <div class="fw700">수강신청 옵션</div>
                  <div class="fz12 fcGray">3가지 옵션 중 선택하실 수 있습니다.</div>
                </div>
                <div class="con10 df fz12">
                  <a href="#!" class="btn orange">Download</a>
                  <span>&nbsp;</span>
                  <a href="#!" class="btn">Mobile Streaming</a>
                  <span>&nbsp;</span>
                  <a href="#!" class="btn">Download + Mobile Streaming</a>
                </div>
                <div class="fz12 fcOrange">
                  인터넷 강의 파일을 다운받아 인터넷 연결 없이 강의를 시청하실 수 있습니다. P2P 방식으로 파일을 전송하며, 판매자가 Online 상태에서 전송이 가능합니다. 수강신청 전
                  선생님(판매자
                  또는 CP)의 접속여부를 확인하거나, 신청 후 판매자가 온라인 상태일 때 다운로드 받으실 수 있습니다.
                </div>
                <div class="bar mt30 mb40"></div>
                <div class="con12">
                  <div class="fw700">총 결제 포인트</div>
                  <div class="df fcOrange fw700 mb15 mt5">
                    <div class="fz26">123,456</div>
                    <div class="fz14">NEMOPoint</div>
                  </div>
                  <div class="btn_wrap df fz16">
                    <a href="#!" class="btn orange h50 fw700">수강신청</a>
                    <a href="#!" class="btn h50 on fw500"><i class="fas fa-heart"></i> 관심 강의</a>
                  </div>
                </div> -->
                <!-- <a href="#!" class="btn_close" onclick="closePopup();"><i class="fas fa-times"></i></a> -->
              </div>
              <div class="fll card03">
                <!-- <div class="df">
                  <div class="img_wrap"></div>
                  <div class="tx_wrap">
                    <div class="fz13 fw500">[9급 공무원] 수학 제 1강 등차수열차수열</div>
                    <div class="fz12 fw500">최영 선생님</div>
                  </div>
                </div>
                <div class="df">
                  <div class="img_wrap"></div>
                  <div class="tx_wrap">
                    <div class="fz13 fw500">[9급 공무원] 수학 제 1강 등차수열차수열</div>
                    <div class="fz12 fw500">최영 선생님</div>
                  </div>
                </div>
                <div class="df">
                  <div class="img_wrap"></div>
                  <div class="tx_wrap">
                    <div class="fz13 fw500">[9급 공무원] 수학 제 1강 등차수열차수열</div>
                    <div class="fz12 fw500">최영 선생님</div>
                  </div>
                </div>
                <div class="df">
                  <div class="img_wrap"></div>
                  <div class="tx_wrap">
                    <div class="fz13 fw500">[9급 공무원] 수학 제 1강 등차수열차수열</div>
                    <div class="fz12 fw500">최영 선생님</div>
                  </div>
                </div>
                <div class="df">
                  <div class="img_wrap"></div>
                  <div class="tx_wrap">
                    <div class="fz13 fw500">[9급 공무원] 수학 제 1강 등차수열차수열</div>
                    <div class="fz12 fw500">최영 선생님</div>
                  </div>
                </div>
                <div class="df">
                  <div class="img_wrap"></div>
                  <div class="tx_wrap">
                    <div class="fz13 fw500">[9급 공무원] 수학 제 1강 등차수열차수열</div>
                    <div class="fz12 fw500">최영 선생님</div>
                  </div>
                </div>
                <div class="df">
                  <div class="img_wrap"></div>
                  <div class="tx_wrap">
                    <div class="fz13 fw500">[9급 공무원] 수학 제 1강 등차수열차수열</div>
                    <div class="fz12 fw500">최영 선생님</div>
                  </div>
                </div>
                <div class="df">
                  <div class="img_wrap"></div>
                  <div class="tx_wrap">
                    <div class="fz13 fw500">[9급 공무원] 수학 제 1강 등차수열차수열</div>
                    <div class="fz12 fw500">최영 선생님</div>
                  </div>
                </div>
                <div class="df">
                  <div class="img_wrap"></div>
                  <div class="tx_wrap">
                    <div class="fz13 fw500">[9급 공무원] 수학 제 1강 등차수열차수열</div>
                    <div class="fz12 fw500">최영 선생님</div>
                  </div>
                </div> -->
                <!-- <div class="pageNavi_inner">
                  <div class="pageNavi ovf">
                    <a href="#!" class="fll"><i class="fas fa-angle-double-left"></i></a>
                    <a href="#!" class="fll"><i class="fas fa-angle-left"></i></a>
                    <a href="#!" class="fll on">1</a>
                    <a href="#!" class="fll"><i class="fas fa-angle-right"></i></a>
                    <a href="#!" class="fll"><i class="fas fa-angle-double-right"></i></a>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="pageNavi_inner">
        <div class="pageNavi ovf" id="paging">
          <!-- <a href="#!" class="fll"><i class="fas fa-angle-double-left"></i></a>
          <a href="#!" class="fll"><i class="fas fa-angle-left"></i></a>
          <a href="#!" class="fll on">1</a>
          <a href="#!" class="fll"><i class="fas fa-angle-right"></i></a>
          <a href="#!" class="fll"><i class="fas fa-angle-double-right"></i></a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="bar"></div>
  <!-- <div class="con bgc_fcfcfc">
    <div class="wrap-1200">
      <div class="subTitle">NEMOLAB PLAY</div>
      <div class="con3 df">
        <div class="item">
          <div class="tab_container">
            <div id="tab2_01" class="tab_con">
              <img src="images/01_front-page-logout_09.png" alt="">
              <div class="fz18 fw700">[nemolab] 제 1회 카르다노 밋업 개최</div>
              <div class="fw500">
                제 1회 카르다노 밋업 개최[nemolab] 제 1회 카르다노 밋업 개최[nemolab] 제 1회
              </div>
            </div>
            <div id="tab2_02" class="tab_con">
              <img src="images/01_front-page-logout_09.png" alt="">
              <div class="fz18 fw700">test2</div>
              <div class="fw500">
                test2
              </div>
            </div>
            <div id="tab2_03" class="tab_con">
              <img src="images/01_front-page-logout_09.png" alt="">
              <div class="fz18 fw700">test3</div>
              <div class="fw500">
                test3
              </div>
            </div>
            <div id="tab2_04" class="tab_con">
              <img src="images/01_front-page-logout_09.png" alt="">
              <div class="fz18 fw700">test4</div>
              <div class="fw500">
                test4
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="tab_header">
            <div class="tab_list">
              <a href="#tab2_01">
                <div class="fz15 fw500">[nemolab] 제1회 카르다노 코리 밋업 개최 현장스케치스케치</div>
                <div class="fz12">2019-01-30</div>
              </a>
            </div>
            <div class="tab_list">
              <a href="#tab2_02">
                <div class="fz15 fw500">[nemolab] 제1회 카르다노 코리 밋업 개최 현장스케치스케치</div>
                <div class="fz12">2019-01-30</div>
              </a>
            </div>
            <div class="tab_list">
              <a href="#tab2_03">
                <div class="fz15 fw500">[nemolab] 제1회 카르다노 코리 밋업 개최 현장스케치스케치</div>
                <div class="fz12">2019-01-30</div>
              </a>
            </div>
            <div class="tab_list">
              <a href="#tab2_04">
                <div class="fz15 fw500">[nemolab] 제1회 카르다노 코리 밋업 개최 현장스케치스케치</div>
                <div class="fz12">2019-01-30</div>
              </a>
            </div>
          </div>
          <div class="pageNavi_inner">
            <div class="pageNavi ovf">
              <a href="#!" class="fll"><i class="fas fa-angle-double-left"></i></a>
              <a href="#!" class="fll"><i class="fas fa-angle-left"></i></a>
              <a href="#!" class="fll on">1</a>
              <a href="#!" class="fll"><i class="fas fa-angle-right"></i></a>
              <a href="#!" class="fll"><i class="fas fa-angle-double-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

</div>




<script src="/js/paging.js"></script>


<!-- 서브 카테고리 아이템 -->
<script id="template-sub-category-item" type="text/template">
  <div class="tab_list"><a href="javascript:void(0);" onclick="selectSubCategory(this, 'LATEST', ${parent_category_no}, ${category_no});">${category_name}</a></div>
</script>


<!-- 파일 리스트 -->
<script id="template-list-item" type="text/template">

  <div class="fll" onclick="showDetail(${content_no}, ${mem_no});">
    <div class="wrap_img index_crop">
      <img src="${img_src}" class="img_crop" style="width:232px;">
      <!-- <a class="heart fcOrange"><i class="fas fa-heart"></i></a> -->
    </div>
    <div class="card-content">
      <div class="fz16 fw500">
        ${title}
      </div>
      <div class="fz13">${company_speaker}</div>
      <div class="fz12">${add_dt}</div>
    </div>
  </div>
</script>


<!-- 상세1-->
<script id="template-detail-card01" type="text/template">
  <div class="img_wrap">

  </div>
  <div class="tx_wrap">
    <div class="fz18 fw700">${speaker}</div>
    <div class="fz12 fw500">
      <span>Available</span>
      <span class="gray">${downtime}</span>
      <span class="bullet"></span>
    </div>
    <div class="fz13 fw500">
      {{html introduce}}
    </div>
  </div>
</script>

<!-- 상세2-->
<script id="template-detail-card02" type="text/template">
  <div class="fz26 fw700">${title}</div>
  <div class="table type03">
    <table>
      <colgroup>
        <col style="width:10%;">
        <col style="width:30%;">
        <col style="width:15%;">
        <col style="width:45%;">
      </colgroup>
      <tr>
        <th>시험</th>
        <td>${test_info}</td>
        <th>과목</th>
        <td>${subject}</td>
      </tr>
      <tr>
        <th>종류</th>
        <td>${catrgory_str}</td>
        <th>수강방식</th>
        <td>
          Mobile streaming
          <span class="fz12 fcGray">수강신청 후 모바일 전용 Streaming으로 학습이 가능합니다.</span>
        </td>
      </tr>
    </table>
  </div>
  <div class="ovh con9">
    <div class="fll fw500">강의내용</div>
    <div class="fll">
      <div class="fz13 fcGray">
        {{html desc}}
      </div>
    </div>
  </div>
  <!-- <div class="con11 df">
    <div class="fw700">수강신청 옵션</div>
    <div class="fz12 fcGray">3가지 옵션 중 선택하실 수 있습니다.</div>
  </div>
  <div class="con10 df fz12">
    <a href="#!" class="btn orange">Download</a>
    <span>&nbsp;</span>
    <a href="#!" class="btn">Mobile Streaming</a>
    <span>&nbsp;</span>
    <a href="#!" class="btn">Download + Mobile Streaming</a>
  </div>
  <div class="fz12 fcOrange">
    인터넷 강의 파일을 다운받아 인터넷 연결 없이 강의를 시청하실 수 있습니다. P2P 방식으로 파일을 전송하며, 판매자가 Online 상태에서 전송이 가능합니다. 수강신청 전
    선생님(판매자
    또는 CP)의 접속여부를 확인하거나, 신청 후 판매자가 온라인 상태일 때 다운로드 받으실 수 있습니다.
  </div>
  <div class="bar mt30 mb40"></div>
  <div class="con12">
    <div class="fw700">총 결제 포인트</div>
    <div class="df fcOrange fw700 mb15 mt5">
      <div class="fz26">123,456</div>
      <div class="fz14">NEMOPoint</div>
    </div>
    <div class="btn_wrap df fz16">
      <a href="#!" class="btn orange h50 fw700">수강신청</a>
      <a href="#!" class="btn h50 on fw500"><i class="fas fa-heart"></i> 관심 강의</a>
    </div>
  </div> -->
  <a href="#!" class="btn_close" onclick="closePopup();"><i class="fas fa-times"></i></a>
</script>

<!-- 상세 파일 리스트 -->
<script id="template-detail-list-item" type="text/template">
  <div class="df">
    <div class="img_wrap" style="background-image: url(${img_src})"></div>
    <div class="tx_wrap" onclick="showDetail(${content_no}, ${mem_no});">
      <div class="fz13 fw500">${title}</div>
      <div class="fz12 fw500">${speaker}</div>
    </div>
  </div>
</script>


<script>
  let page_num = 1;
  let cnt = 10;

  let type;
  let category_no;
  let sub_category_no;

  let file_list;


  $(document).ready(function() {
    let mobile = mobileCheck();
    if(mobile === 'ANDROID'){
      $('.m_popup_overlay').removeClass('hidden');
    }else if(mobile === 'IOS'){
      $('.m_popup_overlay').removeClass('hidden');

      //문구 및 설치하기 버튼 안보이게
      $('.m_popup_overlay .txt1 a').html('NEMOStudy for iOS는<br>준비중에 있습니다.<p class="mt50">곧 좋은 서비스로 소식 <br>알려드리겠습니다.');
      $('.m_popup_overlay .btn').hide();
      $('.m_popup_overlay .txt2').addClass('mt150');
    }else{
      $('.m_popup_overlay').addClass('hidden');
    }


    // showCommonPopup2('안내', '현재 개발/테스트 중입니다. </br>IEO 버튼을 클릭하면 IEO 안내 페이지로 이동됩니다.', '닫기',
    //   function (){
    //
    //   }, 'IEO', function (){
    //     location.href = '/service/ieo'
    //   }
    // );

    //파라미터를 통한 카테고리 선택.
    var p1 = getParameterByName('p1');
    var p2 = getParameterByName('p2');

    if(isEmpty(p1)){
      p1 = 'LATEST';
    }
    selectCategory(p1, p2);


    $('#search_value').bind('keyup',function (e){
      if (e.keyCode == 13) {
        getContentList();
      }
    });
    $('.searchBox a').bind('click',function (e){
      getContentList();
    });

  });

  /*
    카테고리 선택시.
  */
  function selectCategory(_type, _category_no){
    //카테고리 선택 된 표시하기
    // $('#category_list a').each(function(index, item){
    //   $(item).removeClass('fcOrange');
    // });
    // $(event).addClass('fcOrange');

    let obj = _type;
    if(!isEmpty(_category_no)){
       obj = obj + '_' + _category_no;
    }
    $('#category_list a').each(function(index, item){
      $(item).removeClass('fcOrange');
    });
    $('#' + obj).addClass('fcOrange');


    //선택된 타이틀 표시
    $('#subTitle').text($('#' + obj).text());

    //서브카테고리 표시
    $('#sub_category_list').empty();
    if(!isEmpty(_category_no)){
      let html = $('#template-sub-category-item')[0].innerHTML;

      let sub_category_obj = getCategoryObj(_category_no);
      let sub_category_list = sub_category_obj.sub_category;
      // for(i in CATEGORY){
      //   if(_category_no == CATEGORY[i].category_no){
      //     sub_category_list = CATEGORY[i]
      //     break;
      //   }
      // }


//console.log(CATEGORY[_category_no].sub_category);
      for(var i in sub_category_list){
        $.tmpl(html, sub_category_list[i]).appendTo('#sub_category_list');
      }
    }else{
      let html = $('#template-sub-category-item')[0].innerHTML;
      $.tmpl(html, {category_name : '&nbsp;'}).appendTo('#sub_category_list');
    }

    //페이지 번호 초기화
    page_num = 1;

    //검색어 초기화
    $('#search_value').val('');

    //서브카테고리 초기화
    sub_category_no = '';

    type = _type;
    category_no = _category_no;

    getContentList();

  }

  /*
    서브카테고리 선택시.
  */
  function selectSubCategory(event, _type, _category_no, _sub_category_no){
    //서브카테고리 선택 된 표시하기
    $('#sub_category_list a').each(function(index, item){
      $(item).removeClass('on');
    });
    $(event).addClass('on');

    //페이지 번호 초기화
    page_num = 1;
    //검색어 초기회
    $('#search_value').val('');

    type = _type;
    category_no = _category_no;
    sub_category_no = _sub_category_no;

    getContentList();
  }

  /*
    콘텐츠 리스트 조회.
  */
  function getContentList() {
    var dataMap = {
      'call_url': '/api/file/selectContentList.do',
      page_num: page_num,
      cnt: cnt
    }
    if(type !== undefined && type !== ''){
      dataMap.type = type;
    }else{
      dataMap.type = FILE_SEARCH_TYPE.LATEST;
    }
    if(category_no !== undefined && category_no !== ''){
      dataMap.category_no = category_no;
    }
    if(sub_category_no !== undefined && sub_category_no !== ''){
      dataMap.sub_category_no = sub_category_no;
    }
    if($('#search_value').val() !== ''){
      dataMap.search_value = $('#search_value').val();
    }

    $.ajax({
      type: "GET",
      url: "/api/getApi",
      data: dataMap,
      dataType: "json",
      success: function(response) {
        if (response.result.code === 0) {
          $('#tab1_01').empty();
          $('#popup-detail .card03').empty(); //상세부분쪽 리스트

          let html = $('#template-list-item')[0].innerHTML;
          let detail_list_html = $('#template-detail-list-item')[0].innerHTML;

          list = response.data.list;
          if(list.length > 0){
            for (var i = 0; i < list.length; i++) {
              var date = new Date(list[i].add_dt);
              list[i].add_dt = getFormatDate(date, '-');

              if(isEmpty(list[i].image_url)){
                if(isEmpty(list[i].member_image_url)){
                  list[i].img_src = '/images/default_thumbnail02.png';
                }else{
                  list[i].img_src = list[i].member_image_url;
                }

              }else{
                list[i].img_src = list[i].image_url;
              }

              if(!isEmpty(list[i].speaker) && !isEmpty(list[i].company)){
                list[i].company_speaker = list[i].company + ' , ' + list[i].speaker
              }else{
                if(!isEmpty(list[i].speaker)){
                  list[i].company_speaker = list[i].speaker;
                }else if(!isEmpty(list[i].company)){
                  list[i].company_speaker = list[i].company;
                }
              }



              $.tmpl(html, list[i]).appendTo('#tab1_01');
              $.tmpl(detail_list_html, list[i]).appendTo('#popup-detail .card03');  //상세부분쪽 리스트
            }
          }else{
            $('#tab1_01').html('<div style="text-align: center; margin-top: 20px;">조회된 데이터가 없습니다.</div>');
            $('#popup-detail .card03').html('<div style="text-align: center; margin-top: 20px;">조회된 데이터가 없습니다.</div>');
          }

          var page_viewList = Paging(response.data.total_cnt, 10, 4, page_num, "PagingView");

          $('#paging').empty().html(page_viewList);

          let paging_html = '';
          paging_html += '<div class="pageNavi_inner">';
          paging_html += '<div class="pageNavi ovf">';
          paging_html += page_viewList;
          paging_html += '</div>';
          paging_html += '</div>';

          // $('#popup-detail .card03').append();
          // $('#popup-detail .card03').append('<div class="pageNavi ovf">');
          $('#popup-detail .card03').append(paging_html);
          // $('#popup-detail .card03').append('</div>');
          // $('#popup-detail .card03').append('</div>');
        }else if(response.result.code === 999010 || response.result.code === 999011){
          location.href = '/member/login';
        } else {
          alert(`code : ${response.result.code} , msg : ${response.result.msg}`);
        }
      },
      error: function(data) {
        console.log('error');
        console.log(data);
      }

    });
  }

  /*
    상세보기.
  */
  function showDetail(content_no, mem_no){
    <%if(!is_login){%>
      document.location = '/login';
      return;
    <%}%>

    //판매자 정보 조회 후 데이터 받아오고 셋팅한다.
    var dataMap = {
      'call_url': '/api/member/selectMember.do',
      'select_mem_no': mem_no
    }
    $.ajax({
      type: "GET",
      url: "/api/getApi",
      data: dataMap,
      dataType: "json",
      success: function(response) {
        if (response.result.code === 0) {
          let memberInfo = response.data;

          //콘텐츠 상세 정보를 조회한다.
          var dataMap = {
            'call_url': '/api/file/selectContent.do',
            'content_no': content_no
          }
          $.ajax({
            type: "GET",
            url: "/api/getApi",
            data: dataMap,
            dataType: "json",
            success: function(response) {
              console.log(response);
              let content = response.data;
              let file_list = content.file_list;

              let down_time = '';
              if(memberInfo.down_start_time !== undefined && memberInfo.down_start_time != null && memberInfo.down_start_time != ''){
                let down_start_hh = memberInfo.down_start_time.substring(0,2);
                let down_start_mm = memberInfo.down_start_time.substring(2,4);

                let down_end_hh = memberInfo.down_end_time.substring(0,2);
                let down_end_mm = memberInfo.down_end_time.substring(2,4);
                down_time = `${down_start_hh}:${down_start_mm} ~ ${down_end_hh}:${down_end_mm}`;
              }

              //상세 card01
              let html = $('#template-detail-card01')[0].innerHTML;
              let introduce = '-';
              if(!isEmpty(memberInfo.introduce)){
                introduce = memberInfo.introduce.replace(/(?:\r\n|\r|\n)/g, '<br />')
              }

              let data = {
                speaker : content.speaker,
                downtime : down_time,
                introduce : introduce
              }

              $('#popup-detail .card01').empty();
              $.tmpl(html, data).appendTo('#popup-detail .card01');

              let img_url = '/images/default_thumbnail02.png';
              if(!isEmpty(content.member_image_url)){
                img_url = content.member_image_url;
              }

              $('#popup-detail .card01 .img_wrap').css('background-image', `url(${img_url})`);


              //상세 card02
              let category_obj = getCategoryObj(content.category_no);
              let sub_category_obj = getSubCategoryObj(content.category_no, content.sub_category_no);

              let test_info = (content.test_info) ? content.test_info : '-';
              let subject = (content.subject) ? content.subject : '-';
              //let play_sec = (content.play_sec) ? getTimeStringSeconds(content.play_sec) : '-';
              let category_str = category_obj.category_name;
              if(content.sub_category_no){
                category_str += '/';
                category_str += sub_category_obj.category_name;
              }

              let desc = content.desc.replace(/(?:\r\n|\r|\n)/g, '<br />');
              desc += '<br/><br/>';

              for (var i = 0; i < file_list.length; i++) {
                let file = file_list[i];
                desc += '<br/>'
                desc += (i+1) + '.  ' + file.title + ' (' + getTimeStringSeconds(file.play_sec) + ' , ' + addComma(file.price+'') + 'NEMOPoint )';

              }

              html = $('#template-detail-card02')[0].innerHTML;
              let data2 = {
                title : content.title,
                test_info : test_info,
                subject : subject,
                catrgory_str : category_str,
                desc : desc
              }

              $('#popup-detail .card02').empty();
              $.tmpl(html, data2).appendTo('#popup-detail .card02');

              openPopup2('detail');


            }
          });

        }else if(response.result.code === 999010 || response.result.code === 999011){
          location.href = '/member/login';
        } else {
          alert(`code : ${response.result.code} , msg : ${response.result.msg}`);
        }
      },
      error: function(data) {
        console.log('error');
        console.log(data);
      }

    });


  }


  var goPaging_PagingView = function(cPage) {
    page_num = cPage;
    getContentList();
  };


</script>
