@import 'https://fonts.googleapis.com/css?family=Lato:700&display=swap';

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    color: #1C2029;
    letter-spacing: -0.5px;
    line-height: 1;
}

.dff {
    display: flex !important;
    align-items: flex-start;
}

.mb0{
    margin-bottom:0 !important;
}
.mr10{
    margin-right:10px !important;
}

.row_40{
    width:40%;
}

.row_50{
    width:50%;
}

.wrap_1000 {
    width: 1000px;
    margin: 0 auto;
}
.con_wrap{
    padding:0 20px;
}

.wrap_title{
    font-size:25px;
    font-weight: 500;
    padding:40px 0;
}

.con_title{
    font-size:20px;
    font-weight: 500;
    padding:10px 0 30px;
}

.con_tab{
    padding-bottom:40px;
}

.con_tab .btn{
    display:inline-block;
    padding:15px 30px;
    border-radius: 3px;
    background-color:#ECECEC;
    margin-right:10px;
}

.con_tab .btn_orange{
    background-color:#F78B00;
}

.con_tab .btn_orange a{
    color:#fff;
}

.con_border{
    border-top: 2px dotted #CFD6DE;
    padding:30px 10px 20px;
}

.con_border:first-child, :not(.con_border) + .con_border {
    border-top: none;
    padding:0;
}

.con_wrap label{
    display:inline-block;
    margin-bottom:6px;
    padding-left:5px;
}

.con_l{
    width:35%;
}

.con_r{
    width:65%;
}

.box_bg{
    background-color:#E7F1FE;
    border-radius: 3px;
    padding:20px;
    margin-bottom:15px;
}

.txt_bg{
    display:inline-block;
    margin-bottom:5px;
    margin-right:30px;
    padding:5px 10px;
    border-radius: 25px;
    background-color:#1866B5;
    color:#fff;
    font-size:12px;
    font-weight: 400;
}
.input_bg{
    background-color: #ECECEC !important;
}

.input_w5{
    width:5% !important;
}

.input_w50{
    width:50% !important;
}

.input_w70{
    width:70% !important;
}

.input_w85{
    width:85% !important;
}
.best_price, .wish_price{
    margin-bottom:5px;
    padding:0 10px 5px 20px;
}

.best_price, .wish_price, .sales_price{
    font-weight: 500;
}

.price_ds span{
    font-size:12px;
}

.download_price,.streaming_price{
    display: inline-block;
    padding-left:10px;
    font-size:25px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.con_close{
    font-size:25px;
    text-align: right;
}

.add_btn{
    padding:10px 15px;
    border:1px solid #707070;
    border-radius:3px;
}
.register{
    margin:100px 0 50px;
}

.register .btn{
    padding:15px 50px;
    border-radius:3px;
    font-size:18px;
    background-color:#DF6422;
    color:#fff;
}

.register .txt_box p{
    font-size:14px;
    line-height: 22px;
    padding-bottom:5px;
    color:#707070;

}

.con_info {
    display:inline-block;
    float:right;
    margin-right:100px;
    color:#707070;
    font-size:12px;
}

.con_info p{
    display:inline-block;
    padding-left:10px;
}

.con_wrap .file_up{
    position: relative;
}

.con_wrap .file_up input[type=file]{
    display: none;
}

.con_wrap .file_up input[type=file]+label{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 12px;
    line-height: 3;
}
.con_wrap .file_up input[type=file]+label span{
    padding:0 25px;
    background-color: #707070;
    color:#fff;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0,-50%);
    white-space: nowrap;
}

.wrap_select {
    width: 100%;
    position: relative;
    border: 1px solid #CFD6DE;
    background-color: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:10px;
}

.wrap_select::after {
    content: "\f078";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 1;
    transform: translate(0, -50%);
}

input[type='password'],
input[type='email'],
input[type='text'],
input[type='number'],
textarea {
    margin-bottom:10px;
    border:1px solid #CFD6DE;
    border-radius: 3px;
}

.con_num{
    width:5%;
    padding-right:10px;
}
.con_file{
    width:50%;
    padding-right:40px;
}
.con_file input{
    width:80%;
}
.con_price{
    width:50%;
}

.pop_scroll{
    height:200px;
    overflow: auto;
}

.popup_fix{
    width:100%;
    height:100%;
    position:fixed;
    z-index: 1500;
}
.popup_loading{
    margin:10% auto;
    width:450px;
    height:350px;
    padding:30px;
    background-color: #fff;
    border:1px solid #D8D8D8;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.10);
}

.popup_title{
    font-size:20px;
    font-weight: 500;
    margin:30px 0;
}

.file_name span{
    padding-right:10px;
}

.load{
    padding:0 20px;
}

.loading_bg{
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 25px;
}
.loading_bg .loadingbar{
    width:0%;
    height:10px;
    border-radius: 25px;
    background-color: #dd591e;
    background-image: linear-gradient(to left, #dd591e, #de7527);
    color: #fff0e3;
    margin-top:10px;
    margin-bottom:30px;
}

/*---------nemodax.css------------*/
.hidden {
    display: none !important;
}

.input_type2 .input-field button {
    width: 100%;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    cursor: pointer;
}

.wrap_file2 {
    width: 100%;
    margin-right: 5px;
    margin-bottom: 0;
    margin-top: 0;
}
.wrap_file2 .btn {
    padding-left: 0;
    line-height: 1;
    border: none;
    background: none;
    position: relative;
}

.wrap_file2 input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}

.create2_crop input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}

#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  background-color: #dd591e;
  background-image: linear-gradient(to left, #dd591e, #de7527);
  color: #fff0e3;
  width: 0%;
  height: 30px;

}

.index_crop {
  width: 232px;
  height: 141px;
  overflow: hidden;
}

.create_crop {
  width: 203px;
  height: 205px;
  overflow: hidden;
  position: relative;
}

.signup_crop {
  width: 140px;
  height: 87px;
  overflow: hidden;
  position: relative;
}

.create2_crop {
  width: 278px;
  height: 156px;
  overflow: hidden;
  position: relative;
  border:1px solid #CFD6DE;
  border-radius: 3px;
}

.img_crop{
  position: absolute;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*----------------------------*/
