.hidden {
    display: none !important;
}


.input_type2 .input-field button {
    width: 100%;
}
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    cursor: pointer;
}

.wrap_file2 {
    width: 100%;
    margin-right: 5px;
    margin-bottom: 0;
    margin-top: 0;
}
.wrap_file2 .btn {
    padding-left: 0;
    line-height: 1;
    border: none;
    background: none;
    position: relative;
}

.wrap_file2 input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}

.create2_crop input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}


#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  background-color: #dd591e;
  background-image: linear-gradient(to left, #dd591e, #de7527);
  color: #fff0e3;
  width: 0%;
  height: 30px;

}


.index_crop {
  width: 232px;
  height: 141px;
  overflow: hidden;
}

.create_crop {
  width: 203px;
  height: 205px;
  overflow: hidden;
  position: relative;
}

.signup_crop {
  width: 140px;
  height: 87px;
  overflow: hidden;
  position: relative;
}

.create2_crop {
  width: 230px;
  height: 140px;
  overflow: hidden;
  position: relative;
}

.img_crop{
  position: absolute;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
  resize: none;
}
