<div class="container">

      <div class="dividend_bg">
        <div class="contxt tac">
          DIVIDEND 안내
        </div>
      </div>
      <div class="con wrap-1200">
        <div class="con2">
          <div class="fz24 fw700 tac mb100">
            <span class="fObar"></span>
            <p class="mt50 mb10">사용성 가치 + 보유의 가치</p>
            <p><img src="/images/img_nemocoin.png"></p>

            <div class="wrap-450 df jsb mt100">
              <div class="">
                <img src="/images/img_wallet_01.png">
                <p class="fz18 fw500 mt20">사용성의 가치</p>
              </div>
              <img src="/images/img_plus.png">
              <div class="">
                <img src="/images/img_wallet_02.png">
               <p class="fz18 fw500 mt20">보유의 가치</p>
              </div>
            </div>

            <div class="fz16 fw400 mt50 mb100">
              <p>
                NEMODaX.com은 CP(Contens Provider 또는 판매자)의 판매 성과 및 구매자의 누적 평가에 따라 신뢰도가 책정되며, <br>
                신뢰도 레벨에 따라 NEMOPoint를 NEMOCoin으로 환전 시 환전 수수료율에 혜택을 받을 수 있습니다. <br><br>

                단순히 거래소 등록을 통한 유통에 의존하는 현 암호화폐 시장은 사용성 가치를 제고하지 못하여 그 가치를 제대로 인정받지 못 하고 있으며,<br>
                사용처가 불분명한 암호화폐 시장은 단순 투자의 목적으로만 발행되는 암호화폐가 대부분입니다.<br><br>

                NEMODaX.com에서 발행하는 NEMOCoin은 사용처를 분명히 정의하는것은 물론이고,<br>
                투자의 가치까지 제고하기 위해 DIVIDEND(배당) 시스템을 서비스(NEMODaX.com)에 적용하였습니다.
            </div>
          </div>

          <div class="bar"></div>

          <div class="fz24 fw700 tac mt100 mb100">
            <span class="fObar"></span>
            <p class="mt50"> NEMODaX.com에서는 <span class="fcOrange">두 가지 형태의 지갑을 제공합니다.</span></p>
          </div>
          <div class="df jsb txtbox">
            <img src="/images/img_wallet_03.png">
            <div class="ml30">
              <p class="fz22 fw700 mb20">REGULAR</p>
              일반 지갑으로 콘텐츠를 구매하기 위한 NEMOPoint 및 NEMOCoin, 그리고 Eth를 보관할 수 있는 지갑 입니다. 지갑 자체에 Transaction을 진행할 수 있어 일반 지갑으로 편하게 사용이 가능합니다.
            </div>
          </div>

          <div class="df jsb txtbox">
            <img src="/images/img_wallet_04.png">
            <div class="ml30">
              <p class="fz22 fw700 mb20">DIVIDEND</p>
              NEMODaX.com에만 존재하는 배당 전용 지갑입니다.<br><br>

              NEMOCoin과 Eth만 보관이 가능하며, 해당 지갑에 약정에 의해 일정 기간 보관하는 인원에게 인센티브가 돌아갑니다. 배당지갑은 자유롭게 사용자에 의해 오픈이 가능하며, 약정은 NEMODaX.com의 일정에 따라 별도 공지 됩니다. 공지에 따라 약정 시작일 부터 참여자의 자유 의지에 따라 보관되는 NEMOCoin양을 기준으로 3개월 보관 - 2%, 6개월 보관 - 5%, 12개월 - 10%의 NEMOCoin을 보상으로 추가 지급 받을 수 있습니다. <br><br>

              “배당” 약정은 공개 된 기간 안에 DIVIDEND 지갑으로 이동 보관 된 금액만을 대상으로 추가 보상이 지급되며, 지급 된 보상은 Regular(일반) 지갑으로 지급되어 자유롭게 사용하실 수 있습니다. NEMODaX.com에서 구성한 DIVIDEND(배당) 시스템은 Network에 참여하는 모든 분들께 “보유의 가치”를 드리기위한 하나의 방법이며, 지속적인 연구/개발 및 서비스 성장을 통해 더 높은 가치를 전달하기 위해 노력하겠습니다.
            </div>
          </div>
        </div>
      </div>
    </div>
