<!-- <html> -->

<div class="container">

  <div class="guide_bg">
    <div class="contxt tac">
      사용가이드
    </div>
  </div>
  <div class="con wrap-1000">
    <div class="">
      <div class="fz24 fw700 tac mb100 guide">
        <div class="guide_tab df jsb">
          <a class="guide_tabOn" href="javascript:void(0);">NEMODaX 사용가이드</a>
          <a href="javascript:void(0);">NEMOStudy 사용가이드</a>
          <a href="javascript:void(0);">NEMOCoin & Point 가이드 </a>
        </div>
        <div class="tab dax_tab">
          <div class="play">
            <p>① NEMODaX.com 시작하기 - 화면소개</p>
            <iframe width="690" height="387" src="https://www.youtube.com/embed/I2Z_AUMmYHo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="bar"></div>
          <div class="play">
            <p>② NEMODaX.com 시작하기 - 계정생성</p>
            <iframe width="690" height="387" src="https://www.youtube.com/embed/a8LXdHCDSLE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="bar"></div>
          <div class="play">
            <p>③ NEMODaX.com 시작하기 - 지갑생성</p>
            <iframe width="690" height="387" src="https://www.youtube.com/embed/uVyv6PGZG4c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="bar"></div>
          <div class="play">
            <p>④ NEMODaX.com 시작하기 - 콘텐츠 등록</p>
            <iframe width="690" height="387" src="https://www.youtube.com/embed/C-ywGxyM6KQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="bar"></div>
          <div class="play">
            <p>⑤ NEMODaX.com 시작하기 - 환전</p>
            <iframe width="690" height="387" src="https://www.youtube.com/embed/PeHHaIr8G80" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="tab stduy_tab">
          <div class="play">
            <p>① NEMOStudy</p>
            <iframe width="690" height="387" src="https://www.youtube.com/embed/7bZ4Rx8hU08" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="bar"></div>
          <div class="play">
            <p>② NEMOStudy Charge</p>
            <iframe width="690" height="387" src="https://www.youtube.com/embed/7bZ4Rx8hU08" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
<!--190614 nemocoin 탭추가-->
        <div class="tab coin_tab">
          <div class="wrap_nemocoin">
            <span class="icon_nemo"></span>
            <p class="fz24 fw700 mt50 mb100">NEMOCoin & NEMOPoint</p>
              <img class="mb100" src="/images/img_guide.png">
            <div class="df jsb">
              <div class="wrap_txtbg">
                <img class="mb10" src="/images/img_coin.png" alt="">
                <p class="fz24">NEMOCoin</p>
                <p class="fz16">네모코인은 ERC-20을 기반으로 개발된 암호화폐입니다.</p>
                <p class="fz14 fw400">NEMOCoin은 ERC-20 기반의 암호화폐로서 거래소 상장 시 투자자의 투자 요소에 따라 시세에 영향을 받으며, 서비스 재화인 [NEMOPoint]를 구매할 수 있는 유일한 통화입니다.</p>
              </div>
              <div class="wrap_txtbg">
                <img class="mb10" src="/images/img_point.png" alt="">
                <p class="fz24">NEMOPoint</p>
                <p class="fz16">네모포인트는 서비스 내 제화로 가상화폐입니다.</p>
                <p class="fz14 fw400">NEMOPoint는 가상화폐로서 서비스 재화로의 역할을하며,네모스터디 & 네모닥에서 콘텐츠를 구매할 수 있는 유일한 재화입니다. 그 가치는 원화와 1:1로 서비스 내에서 동일한 가치를 갖으며, 변동성이 존재하지 않습니다.</p>
              </div>
            </div>
          </div>
          <div class="bar"></div>
          <div class="wrap_nemocoin">
            <span class="icon_nemo"></span>
            <p class="fz24 fw700 tac mt50 mb100">네모코인 (NEMOCoin) 구매 방법</p>
            <p class="fz16 fw400 mb100">네모코인(NEMOCoin)은 2019.06.03일부로 국내 2개의 거래소에 상장이 되었습니다. 네모닥 & 네모스터디 서비스 사용을 위한<br>네모코인(NEMOCoin) 구매는 상장이 완료 된 [Dcoin]과 [PROBIT] 거래소에서 구매 후 네모닥 & 네모스터디로 옮기셔야 합니다.</p>
            <div class="btn df jsb mb50">
              <div class="">
                <img src="/images/logo_dcoin.png"><a href="https://kr.dcoin.com/currencyTrading/NEMO_ETH/" target="_blank">바로가기</a>
              </div>
              <div class="">
                <img src="/images/logo_probit.png"><a href="https://www.probit.kr/app/exchange/NEMO-KRW" target="_blank">바로가기</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

  $(document).ready(function() {
    $('.guide_tab a').eq(0).on('click', function (e) {

      $('.dax_tab').show();
      $('.stduy_tab').hide();
      $('.coin_tab').hide();

      $('.guide_tab a').eq(0).addClass('guide_tabOn');
      $('.guide_tab a').eq(1).removeClass('guide_tabOn');
      $('.guide_tab a').eq(2).removeClass('guide_tabOn');

    });

    $('.guide_tab a').eq(1).on('click', function (e) {
      $('.dax_tab').hide();
      $('.stduy_tab').show();
      $('.coin_tab').hide();

      $('.guide_tab a').eq(0).removeClass('guide_tabOn');
      $('.guide_tab a').eq(1).addClass('guide_tabOn');
      $('.guide_tab a').eq(2).removeClass('guide_tabOn');

    });

    $('.guide_tab a').eq(2).on('click', function (e) {
      $('.dax_tab').hide();
      $('.stduy_tab').hide();
      $('.coin_tab').show();

      $('.guide_tab a').eq(0).removeClass('guide_tabOn');
      $('.guide_tab a').eq(1).removeClass('guide_tabOn');
      $('.guide_tab a').eq(2).addClass('guide_tabOn');

    });


    $('.guide_tab a').eq(0).click();

  });


</script>
