<!DOCTYPE html>
<html>
<head>
	<title>NEMODaX</title>

	<meta charset="utf-8" />
	<meta property=“og:title” content=“NEMODaX”>
	<meta property=“og:url” content=“https://www.nemodax.com/“>
	<meta property=“og:image” content=“https://www.nemodax.com/images/nemodax_logo2.jpg”>
	<meta property=“og:description” content=“가치 연결의 시작 NEMODaX”/>

	<link href="/ieo_css/reset.css" rel="stylesheet">
	<link href="/ieo_css/main.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500&amp;subset=korean" rel="stylesheet">
</head>

<body>
	<div id="wrap">
		<div class="header_wrap">
			<div class="container ltext">
				<a href="#"><img src="/ieo_img/nemodax_logo.jpg"></a>
				<div class="lang">
					<a href="#">KOR</a>
					<ul>
						<li><a href="/service/ieo">KOR</a></li>
						<li><a href="/service/ieo_en">ENG</a></li>
					</ul>
				</div>

				<ul class="nav_list">
					<li><a href="#nemodax">NEMODaX?</a></li>
					<li><a href="#nemolab">자생시스템?</a></li>
					<li><a href="#token">TOKEN ECONOMY</a></li>
					<li><a href="#roadmap">ROADMAP&MILESTONE</a></li>
					<li><a href="#member">MEMBER</a></li>
					<li><a href="#contactlink">CONTACT</a></li>

				</ul>
			</div>
		</div>

		<div class="con150 con01" id="nemodax">
			<div class="container">
				<img src="/ieo_img/content01.png">
				<div class="whitepaper_wrap">
					<ul>
						<li><a class="btn" target="_blank" href="/doc/NEMODaX_White_Paper_ver.1.0_KOR.pdf">White Paper - KOREAN</a></li>
						<li><a class="btn" target="_blank" href="/doc/NEMODaX_White_Paper_ver.1.0_ENG.pdf">White Paper - ENGLISH</a></li>
						<li><a class="btn" target="_blank" href="/doc/NEMODaX_White_Paper_ver.1.0_JP.pdf">White Paper - JAPANESE</a></li>
					</ul>
					<ul>
						<li><a class="btn" target="_blank" href="/doc/nemodax_onepage_k.pdf">One Page - KOREAN</a></li>
						<li><a class="btn" target="_blank" href="/doc/nemodax_onepage_e.pdf">One Page - ENGLISH</a></li>
						<li><a class="btn" target="_blank" href="/doc/nemodax_onepage_j.pdf">One Page - JAPANESE</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="news_wrap">
			<div class="container">
				<div class="">
					<div class="news">
						<a href="https://www.tokenpost.kr/article-9070" target="_blank">
							<div class="nh">네모랩 디코인과 네모닥 글로벌 마케팅 파트너 협약 체결</div>
							블록체인 기술을 기반으로 한 P2P 데이터/콘텐츠 거래 플랫폼 네모닥(NEMODaX : http://nemodax.com/ )을 개발 중인 네모랩(대표 이왕재, http://nemolab.kr/ )은 글로벌 시장에서 탄탄한 보안 기술과 인프라 능력을 인정받고 있는 디코인 코리아(대표 서재원, https://kr.dcoin.com/ )와 함께 네모닥의 글로벌 마케팅 파트너 계약을 체결하였다고 5월 2일 발표하였다.
							<p>2019-05-03</p>
						</a>
					</div>
					<div class="news">
						<a href="http://www.thebchain.co.kr/news/articleView.html?idxno=4178" target="_blank">
						<div class="nh">“블록체인으로 큰 투자 없이 쉽게 오픈마켓 연다”</div>
						해시넷이 18일 서울 강남구 마루180에서 ‘제2회 해시넷 블록체인 밋업’을 개최했다. 지금의 블록체인 산업 트렌드를 짚어보고 주목할 만한 프로젝트를 소개하는 자리다.
						<p>2019-04-26</p>
						</a>
					</div>
					<div class="news">
						<a href="http://www.thebchain.co.kr/news/articleView.html?idxno=4109" target="_blank">
						<div class="nh">2회 해시넷 밋업서 테조스-네모닥-디코인 등 소개</div>
						블록체인·암호화폐 정보 포털 서비스 운영 업체인 해시넷(대표 서창녕)이 18일 저녁 강남 마루180 두번째 정기 블록체인 밋업을 열고 다양한 블록체인 프로젝트를 소개했다.
						<p>2019-04-19</p>
						</a>
					</div>
				</div>

				<div class="">
					<div class="news">
						<a href="http://www.blockchainnews.co.kr/news/view.php?idx=3925" target="_blank">
						<div class="nh">해시넷 “이제는 플랫폼·디앱에 주목”</div>
						해시넷이 18일 서울 강남구 마루180에서 ‘제2회 해시넷 블록체인 밋업’을 개최했다. 지금의 블록체인 산업 트렌드를 짚어보고 주목할 만한 프로젝트를 소개하는 자리다.
						<p>2019-04-19</p>
						</a>
					</div>
					<div class="news">
						<a href="http://www.blockchaintoday.co.kr/news/articleView.html?idxno=1227" target="_blank">
						<div class="nh">신뢰할 수 있는 사회를 만드는데 기여하는 대표 블록체인 기술기업을 지향한다</div>
						네모랩은 2017년 12월 12일에 설립된 블록체인 연구 개발회사로 현재 7명이 블록체인을 기반으로 한 P2P 데이터(콘텐츠) 거래 플랫폼을 개발하고 있다.또한 블록체인 기술은 현재의 중앙화된 시스템을 탈중앙화 할 수 있는 신뢰기술로 받아들여지고 있다.
						<p>2019-01-15</p>
						</a>
					</div>
					<div class="news">
					</div>
				</div>
			</div>
		</div>

		<div class="con150 con02" id="nemolab">
			<div class="container">
				<img src="/ieo_img/content02.png">
				<div class="ltext"><a class="btn" href="http://nemolab.kr/" target="_blank">NEMOLab HOMEPAGE</a></div>
			</div>
		</div>

		<div class="con con03" id="">
			<div class="container">
				<img src="/ieo_img/content03.png">
			</div>
		</div>

		<div class="con con04" id="token">
			<div class="container">
				<img src="/ieo_img/content04.png">
			</div>
		</div>

		<div class="con con05" id="roadmap">
			<div class="container">
				<img src="/ieo_img/content05.png">
			</div>
		</div>

		<div class="con con06" id="member">
			<div class="container">
				<img src="/ieo_img/content06.png">
					<div class="teamlist">
						<ul>
							<li><img src="/ieo_img/team01.png">
								<p class="name">이왕재<a href="https://www.linkedin.com/in/opensearch/" target="_blank"><img src="/ieo_img/icon_team_in.png"></a></p>
								<p>CEO</p>
							</li>

							<li><img src="/ieo_img/team02.png">
								<p class="name">전영대<a href="https://www.linkedin.com/in/youngdae-jun-a5209a153/" target="_blank"><img src="/ieo_img/icon_team_in.png"></a></p>
								<p>개발</p>
							</li>

							<li><img src="/ieo_img/team03.png">
								<p class="name">이윤수<a href="https://www.linkedin.com/in/yunsu-lee-057105163/" target="_blank"><img src="/ieo_img/icon_team_in.png"></a></p>
								<p>개발</p>
							</li>

							<li><img src="/ieo_img/team04.png">
								<p class="name">강희준<a href="https://www.linkedin.com/in/heejun-kang-86548936/" target="_blank"><img src="/ieo_img/icon_team_in.png"></a></p>
								<p>개발</p>
							</li>
						</ul>
					</div>

					<div class="teamlist">
						<ul>
							<li><img src="/ieo_img/team05.png">
								<p class="name">김슬기<a href="https://www.linkedin.com/in/seulgi-kim-2289b517b/" target="_blank"><img src="/ieo_img/icon_team_in.png"></a></p>
								<p>디자인</p>

							</li>
							<li><img src="/ieo_img/team06.png">
								<p class="name">정성인<a href="https://www.linkedin.com/in/seongin-jeong-61b623182/" target="_blank"><img src="/ieo_img/icon_team_in.png"></a></p>
								<p>마케팅</p>

							</li>
							<li><img src="/ieo_img/team07.png">
								<p class="name">안중혁<a href="https://www.linkedin.com/in/ahnjh0311/" target="_blank"><img src="/ieo_img/icon_team_in.png"></a></p>
								<p>기획</p>
							</li>
						</ul>
					</div>

					<div class="con06_01"><img src="/ieo_img/content06_01.png"></div>

					<div class="teamlist">
						<ul>
							<li><img src="/ieo_img/advisor01.png">
								<p class="name">명승은<a href="https://www.linkedin.com/in/ringmedia" target="_blank"><img src="/ieo_img/icon_team_in.png"></a></p>
								<p>밴처스퀘어 대표이사</p>
							</li>

							<li><img src="/ieo_img/advisor02.png">
								<p class="name">Simon Yu<a href="https://www.linkedin.com/in/simonyu0311" target="_blank"><img src="/ieo_img/icon_team_in.png"></a></p>
								<p>CEO & Co-Founder at Storm</p>
							</li>
						</ul>
					</div>

			</div>
		</div>

		<div class="con con07" id="contactlink">
			<div class="container">
				<img src="/ieo_img/content07.png">

				<div class="contact_wrap relposition">
						<div class="contxt">
							<p>모든 문의사항은 이메일을 통해 접수 받고 있습니다.</p>
							nemodax@nemolab.kr로 접수 부탁드립니다. 빠른 시간안에 확인 후 답변 드리도록 하겠습니다.
						</div>
						<div class="contact_btn"><a href="mailto:nemodax@nemolab.kr">문의하기</a></div>

				</div>
			</div>
		</div>


		<div class="map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d791.2445511827668!2d127.05599828815431!3d37.50843219873186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca4149b6b148f%3A0x5119e9a30749e54b!2zTEftirjsnIjthZQx7LCo!5e0!3m2!1sko!2skr!4v1556756644632!5m2!1sko!2skr" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>

		<div class="footer">
			<div class="container relposition">
				<div class="snslist">
					<ul>
						<li><a href="https://blog.naver.com/nemodax" target="_blank"><img src="/ieo_img/icon_blog.png"></a></li>
						<li><a href="https://www.facebook.com/pg/TheNEMODaX" target="_blank"><img src="/ieo_img/icon_facebook.png"></a></li>
						<li><a href="https://twitter.com/TheNEMODaX" target="_blank"><img src="/ieo_img/icon_twitter.png"></a></li>
					</ul>
				</div>

				<div class="address">
					<a href="#"><img src="/ieo_img/nemodax_logo.jpg"></a>
					<p>NEMODaX (네모닥) / NEMOStudy (네모스터디/ mobile streaming)</p>
					<p><a href="#">nemodax@nemolab.kr</a></p>
					<p>주식회사 네모랩 06168 서울 특별시 강남구 삼성로 96길 6 1501호(LG트윈텔)</p>
				</div>

				<div class="copyright">
					<p>Copyright 2019 NEMOLAB</p>
				</div>
			</div>
		</div>
	</div>
</body>


</html>
