<!-- <html> -->
<div class="container">

  <div class="notice_bg">
    <div class="contxt tac">
      공지사항
    </div>
  </div>
  <div class="con wrap-1200">
    <div class="notice_con">
      <div class="table">
        <table>
          <colgroup>
            <col style="width:75%;">
            <col style="width:15%;">
            <col style="width:10%;">
          </colgroup>
          <thead>

          </thead>
          <tbody>


          </tbody>
        </table>
      </div>
      <div class="pageNavi_inner">
        <div class="pageNavi ovf" id="paging">
          <a href="#!" class="fll"><i class="fas fa-angle-double-left"></i></a>
          <a href="#!" class="fll"><i class="fas fa-angle-left"></i></a>
          <a href="#!" class="fll on">1</a>
          <a href="#!" class="fll"><i class="fas fa-angle-right"></i></a>
          <a href="#!" class="fll"><i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="bar"></div>
</div>


<script src="/js/paging.js"></script>

<script id="template-list-item" type="text/template">
  <tr class="cursor" id="notice_${no}" onclick="javascript:showMessage(${no});">
    <td class="tover tal">${title}</td>
    <td>${add_dt}</td>
    <td><i class="fas fa-angle-right"></i></td>
  </tr>
  <tr class="notice_txt" style="display:none;" id="message_${no}">
    <td colspan=2 class="tover tal">{{html message}}</td>
    <td></td>
  </tr>


  <!-- <tr id="notice_${no}">
    <td>${no}</td>
    <td class="tover tal"><a href="javascript:showMessage(${no});">${title}</a></td>
    <td>${add_dt}</td>
  </tr>
  <tr class="notice_txt" style="display:none;" id="message_${no}">
    <td></td>
    <td class="">
      {{html message}}
    </td>
    <td></td>
  </tr> -->
</script>

<script type="text/javascript">
  var page_num = 1;
  var cnt = 10;

  $(document).ready(function() {
    getNoticeList();
  });


  function getNoticeList() {
    var dataMap = {
      'call_url': '/api/notice/selectNoticeList.do',
      page_num: page_num,
      cnt: cnt
    }

    $.ajax({
      type: "GET",
      url: "/api/getApi",
      data: dataMap,
      dataType: "json",
      success: function(response) {
        if (response.result.code === 0) {
          $('.table tbody').empty();

          let html = $('#template-list-item')[0].innerHTML;
          let list = response.data.notice_list;

          if(list.length > 0){
            for (var i = 0; i < list.length; i++) {

              list[i].no = ((page_num - 1) * 10 ) + i + 1
              var date = new Date(list[i].add_dt);
              list[i].add_dt = getFormatDate(date, '.');

              $.tmpl(html, list[i]).appendTo('.table tbody');

              var page_viewList = Paging(response.data.total_cnt, 10, 5, page_num, "PagingView");

              $('#paging').empty().html(page_viewList);
            }
          }else{
            $('.table tbody').html('<div style="text-align: center; margin-top: 20px;">조회된 데이터가 없습니다.</div>');
          }
        }
      },
      error: function(data) {
        console.log('error');
        console.log(data);
      }
    });

  }


  var goPaging_PagingView = function(cPage) {
    page_num = cPage;
    getNoticeList();
  };


  function showMessage(no){
    $('.notice_txt').hide();
    $('#message_' + no).show();

  }
</script>
