<!-- <html> -->
<div class="container">

  <div class="reliability_bg">
    <div class="contxt tac">
      신뢰도 정책
    </div>
  </div>
  <div class="con wrap-1200">
    <div class="con2">
      <div class="fz24 fw700 tac mb100">
        <span class="fObar"></span>
        <p class="mt50 mb50">판매자 신뢰도에 따른 혜택</p>
        <p class="fz18 fw500">NEMODaX.com은 CP(Contens Provider 또는 판매자)의 판매 성과 및 구매자의 누적 평가에 따라 신뢰도가 책정되며,<br>
        신뢰도 레벨에 따라 NEMOPoint를 NEMOCoin으로 환전 시 환전 수수료율에 혜택을 받을 수 있습니다.
        </p>

        <div class="fz16 fw400 mt100 mb100">
          <img class="mb100" src="/images/img_graph.png">
          <p>단순히 거래소 등록을 통한 유통에 의존하는 현 암호화폐 시장은 사용성 가치를 제고하지 못하여 그 가치를 제대로 인정받지 못 하고 있으며, <br>
              사용처가 불분명한 암호화폐 시장은 단순 투자의 목적으로만 발행되는 암호화폐가 대부분입니다.<br><br>
              NEMODaX.com에서 발행하는 NEMOCoin은 사용처를 분명히 정의하는것은 물론이고,<br>
              투자의 가치까지 제고하기 위해 DIVIDEND(배당) 시스템을 서비스(NEMODaX.com)에 적용하였습니다.
          </p>
        </div>
      </div>

      <div class="bar"></div>

      <div class="fz24 fw700 tac mt100 mb50">
      <span class="fObar"></span>
       <p class="mt50 mb50">신뢰도 정책</p>
       <p class="fz16 fw400 ">NEMODaX.com에서는 판매자의 신뢰도를 총 13단계로 구분하고 있습니다.<br><br>
          신뢰도는 판매하는 콘텐츠의 평가에 따라 구분되며, 책정 된 신뢰도는 수익으로 취득한 NEMOPoint(가상화폐)를 <br>
          NEMOCoin(암호화폐)로 교환할 때 발생하는 수수료율에 차등 적용 됩니다. <br><br>
          교환 수수료는 최대 13%에서 신뢰도 등급에따라 최소 0.2%까지 책정됩니다.
        </p>
      </div>

       <table class="grade">
        <tr>
          <th>판매자 등급</th>
          <th>누적평가</th>
          <th>등록 데이터</th>
          <th>교환 수수료 혜택</th>
        </tr>
        <tr>
          <td>grade 1</td>
          <td>0 ~ 100</td>
          <td rowspan="3">10</td>
          <td rowspan="2">13.00 %</td>
        </tr>
        <tr>
          <td>grade 2</td>
          <td>101 ~ 200</td>
        </tr>
        <tr>
          <td>grade 3</td>
          <td>201 ~ 300</td>
          <td>10.00 %</td>
        </tr>

        <tr>
          <td>grade 4</td>
          <td>701 ~ 1,700</td>
          <td>30</td>
          <td rowspan="2">8.00 %</td>
        </tr>
        <tr>
          <td>grade 5</td>
          <td>1,701 ~ 5,700</td>
          <td>50</td>
        </tr>

        <tr>
          <td>grade 6</td>
          <td>5,701 ~ 14,700</td>
          <td rowspan="2">150</td>
          <td rowspan="3">6.00 %</td>
        </tr>
        <tr>
          <td>grade 7</td>
          <td>14,701 ~ 35,700</td>
        </tr>
        <tr>
          <td>grade 8</td>
          <td>35,701 ~ 61,700</td>
          <td>300</td>
        </tr>

        <tr>
          <td>grade 9</td>
          <td>61,701 ~ 100,000</td>
          <td>500</td>
          <td>5.00 %</td>
        </tr>

        <tr>
          <td>grade 10</td>
          <td>100,001 ~ 200,000</td>
          <td>700</td>
          <td>3.00 %</td>
        </tr>

        <tr>
          <td>grade 11</td>
          <td>200,001 ~ 500,000</td>
          <td rowspan="2">1,500</td>
          <td rowspan="2">1.50 %</td>
        </tr>
        <tr>
          <td>grade 12</td>
          <td>500,001 ~ 1,000,000</td>
        </tr>

        <tr>
          <td>grade 13</td>
          <td>1,000,001 ~</td>
          <td>3,000</td>
          <td>0.20 %</td>
        </tr>
       </table>

      <div class="fz24 fw700 tac mt100 mb100">
        <span class="fObar"></span>
        <p class="mt50 mb50">NEMODaX.com은 신뢰를 바탕으로 구매자와 판매자가 가치 연결을 지향합니다.</p>
        <p class="fz16 fw400">
          정직한 콘텐츠를 판매하는 판매자와 정직한 구매자가 만나 정당한 평가를 거쳐 판매자는 정당한 혜택을 받을 수 있게 됩니다.<br>
          판매자 신뢰도 평가는 투명하게 관리되며, 추가적인 조건은 판매자에게 개별 공시됩니다.
        </p>
      </div>

    </div>
  </div>

  <div class="bar"></div>
</div>
