<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/nemodax.css">
  <title>NEMODaX</title>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/constants.js"></script>
  <script src="/js/sha256.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141541744-1"></script>
  <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-141541744-1');
  </script>

  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window,document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
   fbq('init', '674162256346141');
  fbq('track', 'PageView');
  </script>
  <noscript>
   <img height="1" width="1"
  src="https://www.facebook.com/tr?id=674162256346141&ev=PageView
  &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->

</head>

<body>
  <div class="wrapper signUp">
    <div class="container bgc_fcfcfc mh100vh">
      <div class="wrap-440" id="login">
        <div class="con_logoText">
          <a href="/" class="logo"><img src="/images/nemodax2.png" alt=""></a>
          <div class="fz14">아직 NEMODaX 계정이 없다면? <a href="/member/terms" class="fcOrange fz500">회원가입</a></div>
        </div>
        <div class="con66 mt80">
          <div class="form_type2">
            <div class="form-input">
              <label for="">아이디</label>
              <input type="email" name="mem_id" id="mem_id">
            </div>
            <div class="form-input">
              <label for="">비밀번호</label>
              <input type="password" name="pwd" id="pwd">
              <span class="er fcOrange fz12" id="common_msg">아이디 또는 비밀번호를 다시 확인하세요.</span>
            </div>
          </div>
          <a href="javasctip:void(0);" class="btn_bottom">완료</a>
          <div class="tac fz12 fw500 ">
            <!-- <a href="#!">아이디 찾기</a>
            <span></span> -->
            <a href="/member/pw">비밀번호 찾기</a>
          </div>
        </div>
        <div class="copy_bottom">
          © 2019. NEMOLab CORP. All Rights Reserved
        </div>
      </div>



      <div class="wrap-440 hidden" id="terms">
        <div class="con_logoText">
          <a href="/" class="logo"><img src="/images/nemodax2.png" alt=""></a>
          <div class="fz20 fw500">약관동의</div>
        </div>
        <div class="con7 mt80">
          <div class="form_type3">
            <div class="form-input input-checkbox">
              <input type="checkbox" id="all_agree">
              <label for="all_agree" class="fw500">이용약관, 개인정보 수집 및 이용 모두 동의 하십니까?</label>
            </div>
            <div class="bar_dash"></div>
            <div class="form-input input-checkbox">
              <input type="checkbox" id="terms_agree">
              <label for="terms_agree">NEMODaX.com 이용약관 동의 <span class="fcOrange">(필수)</span></label>
            </div>
            <div class="form-input">
              <textarea name=""
                id="">NEMODax 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다. 본 약관은 다양한 NEMODax 서비스의 이용과 관련하여 네이버 서비스를 제공하는 NEMODax 주식회사(이하 NEMODax)와 이를 이용하는 NEMODax 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명합니다.</textarea>
            </div>
            <div class="form-input input-checkbox">
              <input type="checkbox" id="privacy_agree">
              <label for="privacy_agree">개인정보 수집 및 이용에 대한 안내 및 동의 <span class="fcOrange">(필수)</span></label>
            </div>
            <div class="form-input">
              <textarea name=""
                id="">NEMODax 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다. 본 약관은 다양한 NEMODax 서비스의 이용과 관련하여 네이버 서비스를 제공하는 NEMODax 주식회사(이하 NEMODax)와 이를 이용하는 NEMODax 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명합니다.</textarea>
            </div>
          </div>
          <div class="fz12 fcOrange mt50 hidden" id="errMsg">
            * NEMODaX.com 이용약관 및 개인정보 수집 및 이용에 대한 안내는 필수 사항으로 동의가 필요 합니다.
          </div>
          <a href="javascript:void(0);" class="btn_bottom" id="btn_next">확인</a>
        </div>
        <div class="copy_bottom">
          © 2019. NEMOLab CORP. All Rights Reserved
        </div>
      </div>



    </div>
  </div>


  <script>

    $(document).ready(function(){
      //로그인 버튼
      $('.btn_bottom').eq(0).bind('click',function (e){
        login();
      });

      $('#pwd').bind('keyup',function (e){
        if (e.keyCode == 13) {
          login();
        }
      });

      //동의 버튼
      $('#btn_next').bind('click',function (e){

        if(!$('#terms_agree').is(":checked")){
          $('#errMsg').removeClass('hidden');
          return;
        }
        if(!$('#privacy_agree').is(":checked")){
          $('#errMsg').removeClass('hidden');
          return;
        }

        login();
      });

      $('#all_agree').click(function(e) {
        if(!$('#terms_agree').is(":checked")
            || !$('#privacy_agree').is(":checked")){
          //모두체크
          $('#terms_agree').prop("checked", true);
          $('#privacy_agree').prop("checked", true);
        }else{
          //모두체크해제
          $('#terms_agree').prop("checked", false);
          $('#privacy_agree').prop("checked", false);
        }
      });


      $("#terms_agree").click(function(e) {
        viewTerms();
      });

      $("#privacy_agree").click(function(e) {
        viewTerms();
      });

    });




    function login(){
      //아이디(이메일) 체크
      let mem_id = $('#mem_id').val();
      let objMsg = $('#common_msg');
      if($.trim(mem_id) === ''){
        showErrMsg(objMsg, '아이디(email)를 입력해주세요.');
        $('#mem_id').focus();
        return false;
      }

      let pwd = $('#pwd').val();
      if($.trim(pwd) === ''){
        showErrMsg(objMsg, '비밀번호를 입력해주세요.');
        $('#pwd').focus();
        return false;
      }


      var dataMap = {
        mem_id : $('#mem_id').val(),
        pwd : SHA256($('#pwd').val()),
        os_cd : OS_CD
      };

      if($('#terms_agree').is(":checked")){
        dataMap.terms_yn = 'Y';
      }
      if($('#privacy_agree').is(":checked")){
        dataMap.privacy_yn = 'Y';
      }

      $.ajax({
        type: "GET",
        url: "/member/login_process",
        data : dataMap,
        dataType: "json",
        success: function( data ) {
          if(data.result.code === 0){
            location.href = '/';
          }else if(data.result.code === 1008){
            $('#terms').removeClass('hidden');
            $('#login').addClass('hidden');
          }else{
            showErrMsg(objMsg, data.result.msg);
            //alert(`code : ${data.result.code} , msg : ${data.result.msg}`);
          }
        },
        error: function( data ) {
          console.log('error');
          console.log(data);
        }

      });
    }


    function viewTerms() {
      if( !$("#terms_agree").is(":checked") || !$("#privacy_agree").is(":checked")) {
          $("#all_agree").prop("checked",false);
      }

      if( $("#terms_agree").is(":checked") && $("#privacy_agree").is(":checked")) {
          $("#all_agree").prop("checked",true);
      }

      return true;
    }

    function showErrMsg(obj, msg){
      obj.html(msg);
      //obj.removeClass('hidden');
      obj.show();
    }




  </script>
</body>

</html>
