<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <title>NEMODaX</title>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/common.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141541744-1"></script>
  <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-141541744-1');
  </script>

  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window,document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
   fbq('init', '674162256346141');
  fbq('track', 'PageView');
  </script>
  <noscript>
   <img height="1" width="1"
  src="https://www.facebook.com/tr?id=674162256346141&ev=PageView
  &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->
</head>

<body>
  <div class="wrapper signUp">
    <div class="container bgc_fcfcfc mh100vh">
      <div class="wrap-440">
        <div class="con_logoText">
          <a href="/" class="logo"><img src="/images/nemodax2.png" alt=""></a>
          <div class="fz14">아직 NEMODaX 계정이 없다면? <a href="/member/terms" class="fcOrange fz500">회원가입</a></div>
        </div>

        <div class="con66 mt80">
          <div class="form_type2">
            <div class="form-input error">
              <label for="">아이디</label>
              <div class="item">
                <input type="email" placeholder="이메일을 입력해주세요." value="" id="mem_id">
                <span class="er fcOrange fz12" id="common_msg">등록되지 않은 Email 입니다.</span>
              </div>

              <!-- <div class=" fz14 fcOrange mt50">
                Password 재설정을 위한 링크를 등록하신 Email로 발송하였습니다.
                Email에 포함 된 Guide에 따라 PW 재설정 후 다시 로그인 해주세요.
              </div> -->
            </div>
          </div>
          <a href="javascript:void(0);" class="btn_bottom">PW 재설정 링크 발송</a>
          <!-- <div class="tac fz12 fw500 ">
            <a href="#!">비밀번호 찾기</a>
          </div> -->
        </div>

        <div class="copy_bottom">
          © 2019. NEMOLab CORP. All Rights Reserved
        </div>
      </div>
    </div>
  </div>

  <script>

    $('.btn_bottom').bind('click',function (e){
      pw();
    });

    function pw(){
      //아이디(이메일) 체크
      let mem_id = $('#mem_id').val();
      let objMsg = $('#common_msg');
      if($.trim(mem_id) === ''){
        showErrMsg(objMsg, '아이디(email)를 입력해주세요.');
        $('#mem_id').focus();
        return false;
      }

      var dataMap = {
        email : $('#mem_id').val(),
        call_url : '/api/member/sendPwdResetEmail.do'
      };

      $.ajax({
        type: "GET",
        url: "/api/getApi",
        data : dataMap,
        dataType: "json",
        success: function( data ) {
          if(data.result.code === 0){
            location.href = `/member/pwreset?email=${$('#mem_id').val()}`;
          }else{
            showErrMsg(objMsg, data.result.msg);
            //alert(`code : ${data.result.code} , msg : ${data.result.msg}`);
          }
        },
        error: function( data ) {
          console.log('error');
          console.log(data);
        }

      });
    }


    function showErrMsg(obj, msg){
      obj.html(msg);
      obj.show();
    }


  </script>
</body>

</html>
