<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <script src="/js/sha256.js"></script>
  <title>NEMODaX</title>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/util.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141541744-1"></script>
  <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-141541744-1');
  </script>

  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window,document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
   fbq('init', '674162256346141');
  fbq('track', 'PageView');
  </script>
  <noscript>
   <img height="1" width="1"
  src="https://www.facebook.com/tr?id=674162256346141&ev=PageView
  &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->
</head>

<body>
  <div class="wrapper signUp">
    <div class="container bgc_fcfcfc mh100vh">
      <div class="wrap-440">
        <div class="con_logoText">
          <a href="/" class="logo"><img src="/images/nemodax2.png" alt=""></a>
          <div class="fz14">아직 NEMODaX 계정이 없다면? <a href="/member/terms" class="fcOrange fz500">회원가입</a></div>
        </div>
        <div class="con66 mt80">
          <div class="form_type2">
            <div class="form-input">
              <label for="">인증번호</label>
              <input type="text" placeholder="인증코드를 입력해주세요." value="" id="security_code">
              <span class="er fcOrange fz12" id="code_msg">인증코드가 일치하지 않습니다.</span>
            </div>
            <div class="form-input">
              <label for="">신규비밀번호</label>
              <input type="password" placeholder="비밀번호를 입력해주세요." value="" id="pwd">
            </div>
            <div class="form-input">
              <label for="">신규비밀번호 확인</label>
              <input type="password" placeholder="비밀번호를 한번 더 입력해주세요." value="" id="pwd2">
              <span class="er fcOrange fz12" id="pwd_msg">PW가 일치하지 않습니다.</span>
            </div>
          </div>
          <a href="javasctip:void(0);" class="btn_bottom">설정 완료</a>
        </div>
        <div class="copy_bottom">
          © 2019. NEMOLab CORP. All Rights Reserved
        </div>
      </div>
    </div>
  </div>

  <script>

    let email;
    $(document).ready(function() {
      //파라미터를 통한 카테고리 선택.
      email = getParameterByName('email');

      $('.btn_bottom').bind('click',function (e){
        pwset();
      });
    });

    function pwset(){
      $('.er').hide();

      //email 체크(parameter로 넘어옴.)
      let objMsg = $('#code_msg');
      if(email === ''){
        showErrMsg(objMsg, '정상적인 경로가 아닙니다.');
        return false;
      }

      //security_code 체크
      let security_code = $('#security_code').val();
      objMsg = $('#code_msg');
      if($.trim(security_code) === ''){
        showErrMsg(objMsg, '인증코드를 입력해주세요.');
        $('#security_code').focus();
        return false;
      }

      //비밀번호체크
      let pwd = $('#pwd').val();
      objMsg = $('#pwd_msg');
      if($.trim(pwd) === ''){
        showErrMsg(objMsg, '영문+숫자 조합으로 최소 8자 이상 입력해주세요.');
        $('#pwd').focus();
        return false;
      }
      if(!checkPassword(pwd)){
        showErrMsg(objMsg, '영문+숫자 조합으로 최소 8자 이상 입력해주세요.');
        $('#pwd').focus();
        return false;
      }

      //비밀번호 확인 체크
      let pwd2 = $('#pwd2').val();
      objMsg = $('#pwd_msg');
      if(pwd !== pwd2){
        showErrMsg(objMsg, '동일한 비밀번호를 입력해주세요.');
        $('#pwd2').focus();
        return false;
      }

      var dataMap = {
        security_code : $('#security_code').val(),
        email :  email,
        pwd : SHA256($('#pwd').val()),
        call_url : '/api/member/updateMemberPassword.do'
      };

      $.ajax({
        type: "GET",
        url: "/api/getApi",
        data : dataMap,
        dataType: "json",
        success: function( data ) {
          if(data.result.code === 0){
            location.href = `/member/login`;
          }else{
            objMsg = $('#code_msg');
            showErrMsg(objMsg, data.result.msg);
            //alert(`code : ${data.result.code} , msg : ${data.result.msg}`);
          }
        },
        error: function( data ) {
          console.log('error');
          console.log(data);
        }
      });
    }

    function showErrMsg(obj, msg){
      obj.html(msg);
      obj.show();
    }

  </script>
</body>

</html>
