<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/nemodax.css">
  <title>NEMODaX</title>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/sha256.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.0.1/firebase-auth.js"></script>
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141541744-1"></script>
  <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-141541744-1');
  </script>

  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window,document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
   fbq('init', '674162256346141');
  fbq('track', 'PageView');
  </script>
  <noscript>
   <img height="1" width="1"
  src="https://www.facebook.com/tr?id=674162256346141&ev=PageView
  &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->
</head>

<body>
  <div class="wrapper signUp">
    <div class="container bgc_fcfcfc mh100vh">
      <div class="wrap-440">
        <div class="con_logoText">
          <a href="/" class="logo"><img src="/images/nemodax2.png" alt=""></a>
          <div class="fz20 fw500">회원가입</div>
        </div>
        <div class="con5 mt50">

          <form name="signup_form" id="signup_form">
            <input type="hidden" name="pwd" id="pwd"/>
            <input type="hidden" name="birthday" id="birthday"/>
            <input type="hidden" name="down_start_time" id="down_start_time"/>
            <input type="hidden" name="down_end_time" id="down_end_time"/>
            <input type="hidden" name="os_cd" id="os_cd" value="WEB"/>
            <input type="hidden" name="image_path" id="image_path"/>
            <input type="hidden" name="email_yn" id="email_yn" value="<%= email_yn %>"/>
            <input type="hidden" name="terms_yn" id="terms_yn" value="<%= terms_yn %>"/>
            <input type="hidden" name="privacy_yn" id="privacy_yn" value="<%= privacy_yn %>"/>

            <div class="form_type1">
              <div class="form-input df error">
                <label for="">아이디 *</label>
                <div class="item">
                  <input type="email" placeholder="이메일을 입력해주세요." id="mem_id" name="mem_id" maxlength="40">
                  <span class="er" id="mem_id_msg">이미 등록된 Email입니다.</span>
                </div>
              </div>
              <div class="form-input df">
                <label for="">비밀번호 *</label>
                <div class="item">
                  <input type="password" placeholder="비밀번호를 입력해주세요." name="opwd" id="opwd" maxlength="20">
                  <span class="er" id="opwd_msg">영문+숫자 조합으로 최소 5자 이상 입력해주세요.</span>
                </div>
              </div>
              <div class="form-input df">
                <label for="">비밀번호 확인 *</label>
                <div class="item">
                  <input type="password" placeholder="비밀번호를 한번 더 입력해주세요." id="cpwd" type="password" maxlength="20">
                  <span class="er" id="cpwd_msg">비밀번호가 일치하지 않습니다.</span>
                </div>
              </div>
              <div class="form-input df">
                <label for="">이름 *</label>
                <div class="item">
                  <input type="text" placeholder="이름을 입력해주세요." id="name" name="name" maxlength="40">
                  <span class="er" id="name_msg">이름을 입력해주세요.</span>
                </div>
              </div>
              <div class="form-input df">
                <label for="">생년월일 *</label>
                <div>
                  <div class="item df">
                    <div class="form_input_inner">
                      <input type="number" placeholder="YYYY" class="tac" name="yy" id="yy">
                    </div>
                    <span class="w15"></span>
                    <div class="form_input_inner">
                      <input type="number" placeholder="MM" class="tac" name="mm" id="mm">
                    </div>
                    <span class="w15"></span>
                    <div class="form_input_inner">
                      <input type="number" placeholder="DD" class="tac" name="dd" id="dd">
                    </div>
                  </div>
                  <span class="er" id="birthday_msg">모두 입력해주세요.</span>
                </div>

              </div>
              <div class="form-input df">
                <label for="">성별 *</label>
                <div>
                  <div class="item df">
                    <div class="form-radio">
                      <input type="radio" id="gender_male" name="gender" value="MALE">
                      <label for="gender_male">남자</label>
                    </div>
                    <div class="form-radio">
                      <input type="radio" id="gender_female" name="gender" value="FEMALE">
                      <label for="gender_female">여자</label>
                    </div>
                  </div>
                  <span class="er" id="gender_msg">성별을 선택해주세요.</span>
                </div>
              </div>
              <div class="form-input df">
                <label for="">전화번호 *</label>
                <div class="item">
                  <div class="item_inner df">
                    <div class="wrap_select">
                      <select name="nation_cd" id="nation_cd">
                        <option value="+82">+82</option>
                      </select>
                    </div>
                    <span class="w15"></span>
                    <div class="form-input_inner w140">
                      <input type="text" placeholder="'-' 없이 입력해주세요." id="phone" name="phone">
                    </div>
                    <span class="w15"></span>
                    <!-- <a href="#!" class="btn_01 orange" id="btn_code_send">인증번호</a> -->
                    <button class="btn_01 orange" id="btn_code_send">인증번호</button>
                  </div>
                  <div class="item_inner df mt10">
                    <div class="form-input_inner w215">
                      <input type="text" id="code" name="code">
                    </div>
                    <span class="w15"></span>
                    <a href="#!" class="btn_01" id="btn_verify">확인</a>
                  </div>
                  <span class="er" id="phone_msg">인증번호가 일치하지 않습니다.</span>
                </div>
              </div>
              <!-- <div class="form-input df">
                <label for="">소속</label>
                <div class="item">
                  <input type="text" placeholder="강의바다" id="company" name="company" maxlength="40">
                  <span></span>
                </div>
              </div> -->
              <div class="form-input df">
                <label for="">접속가능시간</label>
                <div>
                  <div class="item df jsb tac">
                    <div class="wrap_select">
                      <select id="down_start_time_hh" name="down_start_time_hh">
                        <option value="">HH</option>
                        <option value="00">00</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                      </select>
                    </div>
                    <span class="w15 tac">:</span>
                    <div class="wrap_select">
                      <select id="down_start_time_mm" name="down_start_time_mm">
                        <option value="">MM</option>
                        <option value="00">00</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                      </select>
                    </div>
                    <span class="w15 tac">~</span>
                    <div class="wrap_select">
                      <select id="down_end_time_hh" name="down_end_time_hh">
                        <option value="">HH</option>
                        <option value="00">00</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                      </select>
                    </div>
                    <span class="w15 tac">:</span>
                    <div class="wrap_select">
                      <select id="down_end_time_mm" name="down_end_time_mm">
                        <option value="">MM</option>
                        <option value="00">00</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                      </select>
                    </div>
                  </div>
                  <span class="er" id="down_time_msg">인증번호가 일치하지 않습니다.</span>
                </div>
              </div>
              <div class="form-input df">
                <label for="">대표 이미지</label>
                <div class="item df">
                  <div class="wrap_file2">
                    <div class="btn signup_crop">
                      <span>
                        <img src="/images/04_personal-information_03.png" alt="" id="image_section" class="img_crop">
                      </span>
                      <input type="file" id="upload">
                      <!-- <span for="upload"><img src="/images/04_personal-information_03.png" alt="" id="image_section"></span> -->
                    </div>
                  </div>

                  <div class="fz12 fcOrange">
                    대표 이미지를 등록해주세요.
                    콘텐츠 등록 시 메인 이미지로
                    등록되어 표시 됩니다.
                  </div>
                </div>
              </div>
              <div class="form-input df">
                <label for="">인사말</label>
                <div class="item">
                  <textarea placeholder="선생님의 소개를 입력해주세요." id="introduce" name="introduce" maxlength="200"></textarea>
                </div>
              </div>
            </div>
          </form>

          <!-- <div class="tac">
            <div class="fz14 fcOrange mt50">* 필수 정보가 모두 입력되지 않았습니다. 회원정보를 입력해주세요.</div>
          </div> -->
          <a href="javascript:void(0);" class="btn_bottom" id="btn_signup">완료</a>
        </div>
        <div class="copy_bottom">
          © 2019. NEMOLab CORP. All Rights Reserved
        </div>
      </div>
    </div>
  </div>


  <script type="text/javascript">
      let s3_bucket = '<%=config.info.s3_bucket%>';

      let authPhoneFlag = false;
      let authNationCd;
      let authPhone;

      // Initialize Firebase
      var firebaseConfig = {
        apiKey: "AIzaSyC5JrnP6AvJAKqb_AsmzpxePGrIRrHIW70",
        authDomain: "nemodax-f5926.firebaseapp.com",
        databaseURL: "https://nemodax-f5926.firebaseio.com",
        projectId: "nemodax-f5926",
        storageBucket: "nemodax-f5926.appspot.com",
        messagingSenderId: "987941163871",
        appId: "1:987941163871:web:2c8b3721732e6b5f"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);

      //firebase.auth().languageCode = 'it';
      // To apply the default browser preference instead of explicitly setting it.
      firebase.auth().useDeviceLanguage();

      //AWS S3 Setting
      //var bucketName = 'nemodax-upload-dev';
      var bucketRegion = 'ap-northeast-2';
      var IdentityPoolId = 'ap-northeast-2:836df382-4633-4f5f-9e09-fa4ad2204706';

      AWS.config.update({
        region: bucketRegion,
        credentials: new AWS.CognitoIdentityCredentials({
          IdentityPoolId: IdentityPoolId
        })
      });

      var s3 = new AWS.S3({
        apiVersion: '2006-03-01',
        params: {Bucket: s3_bucket}
      });



      $(document).ready(function() {

        //인증코드 발송 버튼에 recaptcha 설정
        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('btn_code_send', {
          'size': 'invisible',
          'callback': function(response) {
            // reCAPTCHA solved, allow signInWithPhoneNumber.
            //console.log('recaptchaVerifier callback :: ');
            //console.log(response);

            if(!sendPhoneAuthCode()){
              grecaptcha.reset(window.recaptchaWidgetId);
            }
          }
        });

        recaptchaVerifier.render().then(function(widgetId) {
          window.recaptchaWidgetId = widgetId;
        });


        //코드 확인 버튼
        $('#btn_verify').bind('click', function (e){
          let code = $('#code').val();
          if($.trim(code) === ''){
            showErrMsg($('#phone_msg'), '인증코드를 입력해주세요.');
            return false;
          }

          e.preventDefault();

          window.confirmationResult.confirm(code).then(function (result) {
            // User signed in successfully.
            var user = result.user;
            //console.log(user);

            window.confirmationResult = null;
            authPhoneFlag = true;
            authPhone = $('#phone').val();
            authNationCd = $("#nation_cd option:selected").val();

            showErrMsg($('#phone_msg'), '전화번호 인증 완료.');
            alert('인증되었습니다.');

          }).catch(function (error) {
            // User couldn't sign in (bad verification code?)
            // ...
            alert('인증에 실패하였습니다.');
          });
        });

        //회원가입 버튼
        $('#btn_signup').bind('click',function (e){
          if(!validation()){
            return;
          }

          //이미지 업로드 먼저 하고 완료 시 회원가입 api 호출하게 되어있음.
          fileUpload();

        })

        //대표이미지 선택시.
        $("#upload").change(function(){
          if (this.files && this.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image_section').attr('src', e.target.result);
            }

            reader.readAsDataURL(this.files[0]);
          }
        });

      });

      //회원가입 필드 체크
      function validation(){

        $('.er').hide();

        if($('#terms_yn').val() !== 'Y' || $('#privacy_yn').val() !== 'Y'){
          alert('약관동의를 안했거나 정상적이지 않은 경로를 통해 접속 하였습니다.');
          return;
        }

        //아이디(이메일) 체크
        let mem_id = $('#mem_id').val();
        let objMsg = $('#mem_id_msg');
        if($.trim(mem_id) === ''){
          showErrMsg(objMsg, 'email을 입력해주세요.');
          $('#mem_id').focus();
          return false;
        }
        if(!checkEmail(mem_id)){
          showErrMsg(objMsg, '올바른 email 형식이 아닙니다.');
          $('#mem_id').focus();
          return false;
        }

        //비밀번호체크
        let opwd = $('#opwd').val();
        objMsg = $('#opwd_msg');
        if($.trim(opwd) === ''){
          showErrMsg(objMsg, '영문+숫자 조합으로 최소 8자 이상 입력해주세요.');
          $('#opwd').focus();
          return false;
        }
        if(!checkPassword(opwd)){
          showErrMsg(objMsg, '영문+숫자 조합으로 최소 8자 이상 입력해주세요.');
          $('#opwd').focus();
          return false;
        }

        //비밀번호 확인 체크
        let cpwd = $('#cpwd').val();
        objMsg = $('#cpwd_msg');
        if(opwd !== cpwd){
          showErrMsg(objMsg, '비밀번호가 일치하지 않습니다.');
          $('#cpwd').focus();
          return false;
        }

        $('#pwd').val(SHA256(opwd));

        //이름 체크
        let name = $('#name').val();
        objMsg = $('#name_msg');
        if($.trim(name) === ''){
          showErrMsg(objMsg, '이름을 입력해주세요.');
          $('#name').focus();
          return false;
        }

        //생년월일 체크
        let yy = $('#yy').val();
        let mm = $('#mm').val();
        let dd = $('#dd').val();
        objMsg = $('#birthday_msg');
        if(yy == "" || yy.length != 4) {
          showErrMsg(objMsg, '태어난 년도 4자리를 정확하게 입력하세요.');
          $('#yy').focus();
          return false;
        }
        if(mm == "" || mm.length != 2) {
          showErrMsg(objMsg, '태어난 월 2자리를 정확하게 입력하세요.');
          $('#mm').focus();
          return false;
        }
        if(dd == "" || dd.length != 2) {
          showErrMsg(objMsg, '태어난 일 2자리를 정확하게 입력하세요.');
          $('#dd').focus();
          return false;
        }
        let birthday = yy + mm + dd;
        if(!isValidDate(birthday)){
          showErrMsg(objMsg, '생년월일을 다시 확인해주세요.');
          return false;
        }
        $('#birthday').val(birthday);

        //성별체크
        var gender = $(":input:radio[name=gender]:checked").val();
        objMsg = $('#gender_msg');
        if(gender === undefined || gender === ''){
          showErrMsg(objMsg, '성별이 선택되지 않았습니다.');
          return false;
        }

        //국가코드,전화번호 체크
        let nation_cd = $("#nation_cd option:selected").val();
        let phone = $('#phone').val();
        objMsg = $('#phone_msg');
        if(nation_cd === ''){
          showErrMsg(objMsg, '국가코드를 선택해주세요.');
          return false;
        }
        if($.trim(phone) === ''){
          showErrMsg(objMsg, '휴대폰번호를 입력해주세요.');
          return false;
        }
        if(!isValidPhone(phone)){
          showErrMsg(objMsg, '휴대폰 번호를 정확하게 입력해주세요.');
          return false;
        }
        if(!authPhoneFlag){
          showErrMsg(objMsg, '휴대폰 인증을 해주세요.');
          return false;
        }
        if(authPhone !== phone || authNationCd !== nation_cd){
          showErrMsg(objMsg, '인증된 휴대폰 번호를 변경하였습니다. 인증을 다시 해주세요.');
          return false;
        }


        //접속가능시간체크
        let down_start_time_hh = $('#down_start_time_hh option:selected').val();
        let down_start_time_mm = $('#down_start_time_mm option:selected').val();
        let down_end_time_hh = $('#down_end_time_hh option:selected').val();
        let down_end_time_mm = $('#down_end_time_mm option:selected').val();

        objMsg = $('#down_time_msg');
        //모두선택하거나 모두 선택안하거나를 제외
        if((down_start_time_hh !== '' && down_start_time_mm !== '' && down_end_time_hh !== '' && down_end_time_mm !== '')
          || (down_start_time_hh === '' && down_start_time_mm === '' && down_end_time_hh === '' && down_end_time_mm === '')){

        }else{
          showErrMsg(objMsg, '접속가능시간을 모두 선택해주세요.');
          return false;
        }
        $('#down_start_time').val(down_start_time_hh + down_start_time_mm);
        $('#down_end_time').val(down_end_time_hh + down_end_time_mm);

        return true;
      }

      function signup(){
        var dataMap = $('#signup_form').serialize();

        $.ajax({
          type: "POST",
          url: "/member/signup_process",
          data : dataMap,
          dataType: "json",
          success: function( data ) {
            if(data.result.code === 0){
              //location.href = '/';
              alert('정상적으로 회원 가입 되었습니다.');
              document.location.href = '/member/login';

            }else{
              alert(data.result.msg);
            }
          },
          error: function( data ) {
            console.log('error');
            console.log(data);
          }

        });
      }

      //인증코드 발송(firebase 이용)
      function sendPhoneAuthCode(){
        //국가코드,전화번호 체크
        let nation_cd = $("#nation_cd option:selected").val();
        let phone = $('#phone').val();
        let objMsg = $('#phone_msg');
        if(nation_cd === ''){
          showErrMsg(objMsg, '국가코드를 선택해주세요.');
          return false;
        }
        if($.trim(phone) === ''){
          showErrMsg(objMsg, '휴대폰번호를 입력해주세요.');
          return false;
        }
        if(!isValidPhone(phone)){
          showErrMsg(objMsg, '휴대폰 번호를 정확하게 입력해주세요.');

          return false;
        }

        var phoneNumber = "+" + $('#nation_cd option:selected').val() +  $('#phone').val();
        var appVerifier = window.recaptchaVerifier;
        // console.log(phoneNumber);
        // console.log(appVerifier);

        firebase.auth().signInWithPhoneNumber(phoneNumber, appVerifier)
          .then(function (confirmationResult) {
            // SMS sent. Prompt user to type the code from the message, then sign the
            // user in with confirmationResult.confirm(code).
            window.confirmationResult = confirmationResult;
            //console.log(confirmationResult);
            //alert('인증번호를 발송하였습니다.');
            showErrMsg($('#phone_msg'), '인증번호를 발송하였습니다.');

          }).catch(function (error) {
            // Error; SMS not sent
            // ...
            console.log(error);
            alert('인증번호 발송에 실패 하였습니다.');

          });
      }

      //이미지 업로드.
      function fileUpload() {
        var files = document.getElementById('upload').files;

        if (!files.length) {
          signup();
        }else{
          var file = files[0];
          var fileName = file.name;
          var ext = fileName.substring(fileName.lastIndexOf(".")+1, fileName.length); //파일 확장자

          var timestap = getTimeStamp();
          var uploadKey = 'image/member/' + timestap.substring(0,8) + '/' + timestap + '_' + getRandomStr(6) + '.' + ext;

          var params = {
              Key: uploadKey,
              Body: file,
              ACL: 'private'
            };
          var options = {partSize: 10 * 1024 * 1024, queueSize: 1};

          s3.upload(params, options).on('httpUploadProgress', function(evt) {

              var percentComplete = Math.round(evt.loaded * 100 / evt.total);
              // document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
              //$('.progress-bar-success').css('width', percentComplete.toString() + '%').html(percentComplete.toString()+'%');
              //console.log(percentComplete);

              // console.log("Uploaded :: " + parseInt((evt.loaded * 100) / evt.total)+'%');
          }).send(function(err, data) {
              if(!err) {
                //alert('upload complete');

                $('#image_path').val(uploadKey);
                signup();
              }
          });
        }
      }


      function showErrMsg(obj, msg){
        obj.html(msg);
        //obj.show();
        obj.css("display", "block");

      }

    </script>


</body>

</html>
