<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/nemodax.css">
  <title>NEMODaX</title>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/common.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141541744-1"></script>
  <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-141541744-1');
  </script>

  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window,document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
   fbq('init', '674162256346141');
  fbq('track', 'PageView');
  </script>
  <noscript>
   <img height="1" width="1"
  src="https://www.facebook.com/tr?id=674162256346141&ev=PageView
  &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->
</head>

<body>
  <div class="wrapper signUp">
    <div class="container bgc_fcfcfc mh100vh">
      <div class="wrap-440">
        <div class="con_logoText">
          <a href="/" class="logo"><img src="/images/nemodax2.png" alt=""></a>
          <div class="fz20 fw500">회원가입 - 약관동의</div>
        </div>
        <div class="con7 mt80">
          <div class="form_type3">
            <div class="form-input input-checkbox">
              <input type="checkbox" id="all_agree">
              <label for="all_agree" class="fw500">이용약관, 개인정보 수집 및 이용, 프로모션안내 메일 수신(선택)에 모두 동의 하십니까?</label>
            </div>
            <div class="bar_dash"></div>
            <div class="form-input input-checkbox">
              <input type="checkbox" id="terms_agree">
              <label for="terms_agree">NEMODaX.com 이용약관 동의 <span class="fcOrange">(필수)</span></label>
            </div>
            <div class="form-input">
              <textarea name="" id="">제1조(목적)
이 약관은 네모랩(NEMOLab)이 운영하는 NEMODaX.com 서비스(이하에서 "NEMODaX.com"이라 한다)와 NEMOStudy 서비스(이하에서 “NEMOStudy”라 한다)에서 제공하는 인터넷 관련 서비스(이하에서 통칭하여 “NEMO 서비스”라 한다)를 이용함에 있어 NEMO 서비스와 이용자의 권리·의무 및 책임사항을 규정함을 목적으로 한다.

제2조(정의)
1."NEMODaX.com"이란 이용자 간에 가상화폐인 NEMOPoint와 암호화폐인 NEMOCoin을 이용하여 데이터 및 콘텐츠(이하 “콘텐츠 등”이라 함)를 거래할 수 있는 블록체인 기반의 P2P 데이터 거래 플랫폼으로 네모랩이 제공하는 것을 말한다.
2.“NEMOStudy”란 “NEMODaX.com”의 Vertical service로, “NEMODaX.com”의 Study 카테고리에 등록되는 학습을 목적으로 하는 인터넷 강의 영상에 대한 Mobile Streaming 전용 서비스를 말한다.
3.“NEMO 서비스”란 네모랩이 운영하는 “NEMODaX.com”과 “NEMOStudy” 서비스를 말한다.
4.“이용자”란 "NEMO 서비스"에 접속하여 이 약관에 따라 "NEMO 서비스"가 제공하는 서비스를 받는 회원 및 비회원을 말한다.
5.“회원”이라 함은 "NEMO 서비스"에 회원등록을 한 자로서, 계속적으로 "NEMO 서비스"가 제공하는 서비스를 이용할 수 있는 자를 말한다.
6.“비회원”이라 함은 회원에 가입하지 않고 "NEMO 서비스"를 이용하는 자를 말한다.
7.“판매자”란 CP, CREATOR 혹은 저작권자로 “NEMO 서비스”를 통해 판매를 목적으로 하는 콘텐츠 및 데이터를 등록하고 노출을 시도하는 이용자를 말한다.
8.“구매자”는 “NEMO 서비스”를 통해 판매자로부터 콘텐츠 등을 구매하여 이용하는 이용자를 말한다.
9.“불법/허위 데이터”란 다음 각 호에 해당하는 데이터를 말한다.
A.저작권 및 판권이 존재하는 데이터 및 콘텐츠를 제3자가 판매의 목적으로 등록한 경우
B.불법 복제 된 데이터 및 콘텐츠를 제3자가 판매를 목적으로 등록한 경우
C.유료 컨텐츠 및 디자인물을 정당한 라이센스 구입 없이 사용한 데이터 및 콘텐츠를 판매를 목적으로 등록한 경우
D.네모닥에 등록 된 콘텐츠를 구매 후, 저작권자 및 판권자의 동의 없이 재 배포하는 경우

제3조(가상화폐(Virtual Currency)인 NEMOPoint와 암호화폐(Cryptocurrency)인 NEMOCoin의 특징 및 기능)
1.특징
A.NEMOCoin은 암호화폐 이더리움(Ethereum, 이하에서 ‘ETH’라 한다)의 ERC 20 Token을 기반으로 개발 된 암호화폐(Cryptocurrency)이다.
B.NEMOPoint(가상화폐)는 NEMOCoin(암호화폐)으로 구매/교환을 할 수 있다.
2.가치
A.가상화폐인 NEMOPoint는 원화(KRW)와 그 가치를 같이한다(1:1).
B.암호화폐인 NEMOCoin의 가치는 변동성을 갖는다. NEMOCoin의 초기 기준 가격은 1 NEMOCoin당 한화(KRW) 50원(Won)으로 산정 되었으며, 거래소 등록 후 거래소에서 일반 투자자의 거래 성향 및 거래량에 따라 그 가치는 변동성을 갖게 된다.
3.용도
A.가상화폐인 NEMOPoint는 NEMO 서비스에서 데이터 및 콘텐츠를 실제 구매할 때 사용되는 InService 재화로서 그 역할을 하고, 콘텐츠 및 데이터 판매자(CP)도 판매 시 1차적으로 NEMOPoint를 판매 대금으로 지급받는다.
B.암호화폐인 NEMOCoin은 NEMOPoint를 구매할 수 있는 유일한 재화로서 그 역할을 지정한다
4.최소 거래 단위 : 가상화폐인 NEMOPoint는 최소 1 NEMOPoint 단위(=1원)부터 거래가 가능하며, 암호화폐인 NEMOCoin은 최소 0.0001 NEMOCoin 부터 거래가 가능하다.
5.환금성 : 콘텐츠 및 데이터 판매자(CP)가 지급받은 NEMOPoint는 가상화폐로서 실물경제에 가치를 갖을 수 없으며, 실제 수익을 위해서 NEMOCoin(암호화폐)의 현 시세로 교환이 가능하며, 이는 거래소에 상장 시 현금과 같이 유통될 수 있다.

제4조(NEMOCoin의 배당(DIVIDEND)정책)
1.NEMOCoin은 증권형 토큰(STO)이 아니며(법률의견서 참조), NEMOCoin의 보유자는 보유에 따라 지분을 가지지 아니하며 투자관계와 무관하다.
2.NEMOCoin은 참여보상원칙에 따라 배당되며, 구체적인 참여보상기준에 대해서는 별도로 정한다.
3.NEMOCoin의 배당(DIVIDEND)은 지정된 날짜에 참여한 제한된 인원에게 제공하는 혜택이다.
4.NEMOCoin에서는 배당 전용 지갑(Personal Address)을 제공하며, 배당에 참여한 인원은 약정에따라 3개월, 6개월, 12개월 동안 REGULAR(일반)지갑이 아닌, 배당 지갑에 NEMOCoin을 보관하여야 한다.
5.모집 기간 외에 DIVIDEND(배당)지갑으로 옮긴 NEMOCoin은 배당 프로모션 참여에 제한되며, 해당 참여자에게 공지 후 참가 자격을 박탈할 수 있다.
6.보관 기간에 따라 인센티브로 2%, 5%, 10%의 추가 NEMOCoin을 인센티브로 받을 수 있다.
7.인센티브로 제공되는 추가 NEMOCoin은 Regular(일반) 지갑으로 제공되며, 사용에 제한을 두지 않는다.
8.1년 이상의 배당 참여자를 위해서는 1년간 보관한 대상에게 만기일 1개월 전에 추가 조건을 공시하며, 공시 내용은 네모닥 서비스 제공 및 토큰 이코노미 사정에 의해 그 조건 및 기간이 변경될 수 있다.


제5조 (약관 등의 명시와 설명 및 개정)
1. "NEMO 서비스"는 이 약관의 내용과 상호 및 대표자 성명, 영업소 소재지 주소(소비자의 불만을 처리할 수 있는 곳의 주소를 포함), 전화번호, 팩스번호, 전자우편주소, 사업자등록번호, 통신판매업 신고번호, 개인정보관리책임자 등을 이용자가 쉽게 알 수 있도록 “NEMO 서비스”의 초기 서비스화면(전면)에 게시한다. 다만, 약관의 내용은 이용자가 연결화면을 통하여 볼 수 있도록 할 수 있다.
2.“NEMO 서비스”는 이용자가 약관에 동의하기에 앞서 약관에 정하여져 있는 내용 중 청약철회, 환불조건 등과 같은 중요한 내용을 이용자가 이해할 수 있도록 별도의 연결화면 또는 팝업화면 등을 제공하여 이용자의 확인을 구하여야 한다.
3."NEMO 서비스"는 「전자상거래 등에서의 소비자보호에 관한 법률」, 「약관의 규제에 관한 법률」, 「전자문서 및 전자거래기본법」, 「전자금융거래법」, 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」, 「방문판매 등에 관한 법률」, 「소비자기본법」 등 관련 법을 위배하지 않는 범위에서 이 약관을 개정할 수 있다.
4."NEMO 서비스"가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 “NEMO 서비스”의 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지한다. 다만, 이용자에게 불리하게 약관내용을 변경하는 경우에는 최소한 30일 이상의 사전 유예기간을 두고 공지한다. 이 경우 "NEMO 서비스"는 개정 전 내용과 개정 후 내용을 명확하게 비교하여 이용자가 알기 쉽도록 표시한다.
5."NEMO 서비스"가 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정 전의 약관조항이 그대로 적용된다. 다만 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 받기를 원하는 뜻을 제3항에 의한 개정약관의 공지기간 내에 "NEMO 서비스"에 송신하여 "NEMO 서비스"의 동의를 받은 경우에는 개정약관 조항이 적용된다.
6.이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 전자상거래 등에서의 소비자보호에 관한 법률, 약관의 규제 등에 관한 법률, 공정거래위원회가 정하는 전자상거래 등에서의 소비자 보호지침 및 관계법령 또는 상관례에 따른다.

제6조(서비스의 제공 및 변경)
“NEMO 서비스”에서 제공하는 모든 기능은 이용자(회원)에게 “판매자"와 “구매자"를 구분하여 제공하지 않으며, 공통으로 모든 기능을 제공하지만 이용자 선택에 따라 그 특성이 “판매자"와 “구매자"로 구분된다.
1. "NEMO 서비스"는 플랫폼 제공자로서 다음과 같은 업무를 수행한다.
A.재화 또는 콘텐츠 구매에 대한 정보 제공 및 구매계약의 중개
B.구매자와 판매자의 자기결정에 의해 상호간 디지털 콘텐츠 및 데이터의 거래가 이루어질 수 있는 사이버 거래장소(오픈마켓) 제공 및 관련 부가 서비스
C.구매계약 체결 및 매매보호 지원 서비스, 구매자에 대한 신고, 평가, 공유에 대한 정보 제공 및 인센티브 제공 서비스
D.“NEMOStudy”에서 Streaming 형태의 콘텐츠 제공이 가능하도록 스트리밍 서버 및 관련 솔루션 제공
E.판매자에 대한 포인트(NEMOPoint) 환전 서비스
F.기타 "NEMO 서비스"가 정하는 업무
2. "NEMO 서비스"는 이용자가 콘텐츠 등 구매시 선택한 옵션(①Download, ②Streaming, ③Download+Streaming)에 따라 다음 각 호의 방법으로 서비스를 이용할 수 있도록 한다.
A.Download는 PC 전용 구매 옵션으로 자신의 PC에 데이터를 내려 받아 시청이 가능하다.
B.Streaming은 모바일 전용 구매 옵션으로,
(1)판매자가 “NEMODaX.com”에서 데이터 등록 시 Streaming 옵션을 선택하면 해당 데이터는 Teruten의 DRM Solution이 적용된 상태로 NEMODaX Streaming Server에 등록된다.
(2)구매자 모바일에 “NEMOStudy”가 설치되어 있다면 “NEMODaX.com”과 계정 동기화를 거쳐 어디서든 시청이 가능하다.
(3)Mobile Streaming을 옵션으로 선택한 콘텐츠는 암호화된 상태로 저장되므로 구매 시 적절한 절차를 거쳐 인증키를 받지 않은 이용자는 해당 콘텐츠를 재생할 수 없다.
C.Download+Streaming은 PC와 모바일 모두에서 이용할 수 있는 옵션이다.
3.“NEMO 서비스”에서 거래되는 데이터는 다음 각 호와 같다.
A.Study : 학습을 목적으로 제작되는 모든 인터넷 강의 영상 데이터를 지칭
B.Report Data : PDF File을 기본형식으로 등록되는 데이터(콘텐츠)를 지칭. 데이터(콘텐츠)를 제작한 판매자 혹은 CP의 저작권이 존재하며, 작성자의 ‘개인 분석’ 및 의견이 포함되어있어 보호가 이루어져야하는 데이터
C.Entertain : 영상(드라마, 뮤직비디오, 예능 영상 등), 영화, 음악 등으로 분류되며 avi, mpeg4, mkv, mp4, wav 등의 형식으로 등록되는 저작권이 존재하는 모든 데이터로 저작권자가 존재하며 저작권자 보호가 이루어져야하는 데이터
D.기타 : 대분류, 소분류에 정의되지 않은 모든 데이터로, ‘기타’ 항목을 선택하고 저작권 및 판권에 대한 내용을 판매자가 직접 기입하여 등록신청한 후 저작권 및 판권에 대한 정보가 확인되면 데이터 및 콘텐츠는 등록되고 “NEMO 서비스”에 의해 보호됨
4.구매자는 콘텐츠 등이 품절이나 기술적 사양의 변경 등 판매자의 사유로 인하여 제공이 곤란한 경우 장차 구매자에게 제공될 콘텐츠 등의 내용을 변경될 수 있다는 점을 이해하고 이에 동의한다. 이 경우 판매자는 변경된 콘텐츠 등의 내용 및 제공일자를 명시하여 현재의 콘텐츠 등의 내용을 게시한 곳에 즉시 공지한다.
5.판매자는 콘텐츠 등을 제공하기로 구매자와 계약을 체결한 이후 콘텐츠 등의 품절이나 기술적 사양의 변경 등 판매자의 사유로 인하여 제공이 곤란하여 그 내용을 변경하여야 할 경우 그 사유를 "NEMO 서비스"에 즉시 알려야하며, "NEMO 서비스"는 그 사유를 이용자에게 통지 가능한 주소로 지체 없이 통지한다.
6.전항의 경우 판매자는 이로 인하여 이용자가 입은 손해를 배상하여야 하지만, 판매자가 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니한다. “NEMO 서비스"는 플랫폼만을 제공하므로 이에 관하여 손해배상 책임이 없다.

제7조(서비스의 중단)
1.네모랩은 천재지변(NEMOCoin이 이용하는 이더리움 블록체인 네트워크 상의 장애를 포함한다) 또는 이에 준하는 불가항력, 정보통신설비의 보수점검, 교체 또는 고장, 통신의 두절 등으로 인하여 일시적 또는 종국적으로 서비스를 제공할 수 없는 경우, 서비스 제공에 관한 책임이 면제된다. 이 경우 네모랩은 "NEMO 서비스" 홈페이지에 이를 게시하거나 기타의 방법으로 회원들에게 통지한다.
2.사업종목의 전환, 사업의 포기, 업체 간의 통합 등의 이유로 서비스를 제공할 수 없게 되는 경우에는 "NEMO 서비스"는 제11조에 정한 방법으로 이용자에게 통지하고 당초 "NEMO 서비스"에서 제시한 조건에 따라 소비자에게 보상한다. 다만, "NEMO 서비스"가 보상기준 등을 고지하지 아니한 경우에는  이용자들의 마일리지 또는 적립금 등을 NEMO 서비스에서 통용되는 NEMOPoint의 통화가치에 상응하는 현물 또는 현금으로 이용자에게 지급한다.

제8조(회원가입)
1. 이용자는 "NEMO 서비스"가 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로서 회원가입을 신청한다.
2."NEMO 서비스"는 제1항과 같이 회원으로 가입할 것을 신청한 이용자 중 다음 각 호에 해당하지 않는 한 회원으로 등록한다.
A.가입신청자가 이 약관 제9조 제3항에 의하여 이전에 회원자격을 상실한 적이 있는 경우, 다만 제9조 제3항에 의한 회원자격 상실 후 3년이 경과한 자로서 "NEMO 서비스"의 회원재가입 승낙을 얻은 경우에는 예외로 한다.
B.등록 내용에 허위, 기재누락, 오기가 있는 경우
C.기타 회원으로 등록하는 것이 "NEMO 서비스"의 기술상 현저히 지장이 있다고 판단되는 경우
3.회원가입계약의 성립 시기는 "NEMO 서비스"의 승낙이 회원에게 도달한 시점으로 한다.
4.회원은 회원가입 시 등록한 사항에 변경이 있는 경우, 상당한 기간 이내에 "NEMO 서비스"에 대하여 회원정보 수정 등의 방법으로 그 변경사항을 알려야 한다.

제9조(회원 탈퇴 및 자격 상실 등)
1. 회원은 "NEMO 서비스"에 언제든지 탈퇴를 요청할 수 있으며 "NEMO 서비스"는 즉시 회원탈퇴를 처리한다.
2.회원이 다음 각 호의 사유에 해당하는 경우, "NEMO 서비스"는 회원자격을 제한 및 정지시킬 수 있다.
A.가입 신청 시에 허위 내용을 등록한 경우
B."NEMO 서비스"를 이용하여 구입한 콘텐츠 등의 대금, 기타 "NEMO 서비스" 이용에 관련하여 회원이 부담하는 채무를 기일에 지급하지 않는 경우
C.다른 사람의 "NEMO 서비스" 이용을 방해하거나 그 정보를 도용하는 등 전자상거래 질서를 위협하는 경우
D."NEMO 서비스"를 이용하여 법령 또는 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우
3."NEMO 서비스"가 회원 자격을 제한·정지시킨 후, 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 "NEMO 서비스"는 회원자격을 상실시킬 수 있다.
4."NEMO 서비스"가 회원자격을 상실시키는 경우에는 회원등록을 말소한다. 이 경우 회원에게 이를 통지하고, 회원등록 말소 전에 최소한 30일 이상의 기간을 정하여 소명할 기회를 부여한다.

제10조(휴면계정)
1.6개월(180일) 이상 접속 기록이 없는 회원 중 다음에 해당하는 회원의 계정은 “휴면계정”으로 전환된다.
A.보유 NEMOPoint가 10,000 NEMOPoint 이하인 회원
B.보유 NEMOCoin이 100 NEMOCoin 이하인 회원
C.보유 ETH가 0.005 ETH 이하인 회원
2.6개월(180일) 이상 접속 기록이 없는 회원 중 A호에 해당하지 않는 회원의 경우 1주일에 한 번 3차에 거친 “휴면계정 전환" 알림을 송신 후 3주 후까지 접속 기록이 없을 시 휴면 계정으로 전환된다.
3.휴면계정으로 전환 된 계정의 보유 중인 개인 자산(NEMOPoint, NEMOCoin, ETH)의 변경사항은 없으며, 휴면계정 복귀 시 그대로 유지된다.
4.휴면계정으로 전환 된 계정은 별도 DB에 관리된다.
5.회원은 휴면계정 복귀를 위해서는 다음 사항을 포함한 별도 인증 절차를 거쳐야한다.
A.ID(Email) 확인
B.PW 확인등록
C.전화번호 인증 재 확인

제11조(회원에 대한 통지)
1."NEMO 서비스"가 회원에 대한 통지를 하는 경우, 회원이 "NEMO 서비스"와 미리 약정하여 지정한 ①전자우편 주소, ②핸드폰 SMS(문자메시지), ③카카오톡과 같은 SNS 등으로 할 수 있다.
2."NEMO 서비스"는 불특정다수 회원에 대한 통지의 경우 1주일이상 "NEMO 서비스" 게시판에 게시함으로서 개별 통지에 갈음할 수 있다. 다만, 회원 본인의 거래와 관련하여 중대한 영향을 미치는 사항에 대하여는 개별적으로 통지한다.

제12조(구매신청 및 개인정보 제공 동의 등)
1. "NEMO 서비스" 이용자는 "NEMO 서비스" 상에서 다음 또는 이와 유사한 방법에 의하여 판매자의 콘텐츠 등에 관한 구매를 신청하며, 플랫폼인 "NEMO 서비스"는 이용자가 구매신청을 함에 있어서 다음의 각 내용을 알기 쉽게 제공하여야 한다.
A.콘텐츠 등의 검색 및 선택
B.받는 사람의 아이디 등의 입력
C.약관내용, 청약철회권이 제한되는 서비스 등의 비용부담과 관련한 내용에 대한 확인
D.이 약관에 동의하고 위 C.호의 사항을 확인하거나 거부하는 표시  (예, 마우스 클릭)
E.콘텐츠 등의 구매신청 및 이에 관한 확인 또는 판매자나 "NEMO 서비스"의 확인에 대한 동의
F.결제방법의 선택
2."NEMO 서비스"가 제3자에게 구매자 개인정보를 제공할 필요가 있는 경우 ① 개인정보를 제공받는 자, ②개인정보를 제공받는 자의 개인정보 이용목적, ③제공하는 개인정보의 항목, ④개인정보를 제공받는 자의 개인정보 보유 및 이용기간을 구매자에게 알리고 동의를 받아야 한다(동의를 받은 사항이 변경되는 경우에도 같다).
3."NEMO 서비스"가 제3자에게 구매자의 개인정보를 취급할 수 있도록 업무를 위탁하는 경우에는 ①개인정보 취급위탁을 받는 자, ②개인정보 취급위탁을 하는 업무의 내용을 구매자에게 알리고 동의를 받아야 한다(동의를 받은 사항이 변경되는 경우에도 같다). 다만, 서비스제공에 관한 계약이행을 위해 필요하고 구매자의 편의증진과 관련된 경우에는 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」에서 정하고 있는 방법으로 개인정보 취급방침을 통해 알림으로써 고지절차와 동의절차를 거치지 않아도 된다.


제13조 (계약의 성립)
1. "NEMO 서비스"는 제12조와 같은 구매신청에 대하여 다음 각 호에 해당하면 판매자에게 그 신청을 전달하지 않을 수 있다. 다만, 미성년자와 계약을 체결하는 경우에는 법정대리인의 동의를 얻지 못하면 미성년자 본인 또는 법정대리인이 계약을 취소할 수 있다는 내용을 고지하여야 한다.
A.신청 내용에 허위, 기재누락, 오기가 있는 경우
B.미성년자가 청소년보호법에서 금지하는 재화 및 용역을 구매하는 경우
C.기타 구매신청에 승낙하는 것이 "NEMO 서비스" 기술상 현저히 지장이 있다고 판단하는 경우
2.판매자의 승낙이 "NEMO 서비스"를 통해 제15조 제1항의 수신확인통지형태로 구매자에게 도달한 시점에 계약이 성립한 것으로 본다.
3."NEMO 서비스"를 통해 전달되는 승낙의 의사표시에는 이용자의 구매 신청에 대한 확인 및 판매가능 여부, 구매신청의 정정 취소 등에 관한 정보 등을 포함하여야 한다.

제14조(지급방법) "NEMO 서비스"에서 구매한 재화 또는 용역에 대한 대금지급방법은 NEMOPoint로만 할 수 있다. 단, "NEMO 서비스"는 이용자의 지급방법에 대하여 콘텐츠 등의 대금에 어떠한 명목의 수수료도 추가하여 징수하지 아니한다.

제15조(수신확인통지, 구매신청 변경 및 취소)
1. "NEMO 서비스"는 이용자의 구매신청이 있는 경우 판매자의 의사를 확인하여 이용자에게 수신확인통지를 한다.
2.수신확인통지를 받은 이용자는 의사표시의 불일치 등이 있는 경우에는 수신확인통지를 받은 후 즉시 구매신청 변경 및 취소를 요청할 수 있고 "NEMO 서비스"는 이용자의 이용 전에 이용자의 요청이 있는 경우에는 지체 없이 그 요청을 판매자에게 전달하여야 한다. 다만 이미 대금을 지불한 경우에는 제18조의 청약철회 등에 관한 규정에 따른다.

제16조(콘텐츠 등의 공급)
1.판매자는 구매자와 콘텐츠 등의 공급시기에 관하여 별도의 약정이 없는 이상, 구매자가 청약한 날부터 5영업일 이내에 콘텐츠 등을 공급할 수 있도록 필요한 조치를 취하며, 7영업일 이상 구매자가 콘텐츠를 공급받지 못할 경우 서비스 제공사(네모랩)은 구매자의 요청에 따라 구매 대금을 우선 환불하고, 판매자에게 통지한다.
2.판매자는 "NEMO 서비스"에 이용자가 구매한 콘텐츠 등에 대해 공급이 가능한 시간대를 명시하고 정보를 공개하며, 해당 정보에 강제력은 존재하지 않는다.

제17조(환불 정책)
1.구매자의 경우 불법 데이터 또는 허위 데이터로 정의 되거나, 확인 된 콘텐츠를 구매 시 구매를 위해 사용한 NEMOPoint(가상 화폐)를 100% 환불해주는 것을 원칙으로 한다.
2.불법 데이터 또는 허위 데이터로 정의 되거나, 확인 된 콘텐츠를 판매한 판매자는 확인 된 콘텐츠 판매로 획득한 NEMOPoint를 환원해야 하며, “NEMO 서비스”는 판매자에게 통보 후 시스템에서 환불 조치를 취한다.

제18조(청약철회 등)
1."NEMO 서비스"를 통해 콘텐츠 등의 구매 계약을 체결한 이용자는 「전자상거래 등에서의 소비자보호에 관한 법률」 제13조 제2항에 따른 계약내용에 관한 서면을 받은 날(그 서면을 받은 때보다 콘텐츠 등의 공급이 늦게 이루어진 경우에는 콘텐츠 등을 공급받거나 콘텐츠 등의 공급이 시작된 날을 말합니다)부터 7일 이내에는 청약의 철회를 할 수 있다. 다만, 청약철회에 관하여 「전자상거래 등에서의 소비자보호에 관한 법률」에 달리 정함이 있는 경우에는 동 법 규정에 따른다.
2."NEMO 서비스"를 통해 콘텐츠 등의 구매 계약을 체결한 이용자는 제1항 본문에 해당하는 경우라도 다음 각 호에 해당하는 경우에는 청약철회등을 할 수 없다. 다만 가분적 콘텐츠의 경우 제공이 개시되지 아니한 부분에 대하여는 그러하지 아니하다.
A.구매자가 콘텐츠를 이미 다운로드한 경우
B.구매자가 콘텐츠를 시청하는 등 방법으로 이용한 경우
C.기타 「전자상거래 등에서의 소비자보호에 관한 법률」 제17조 제2항 제5호에 의한 디지털콘텐츠의 제공이 개시된 경우
3.제2항의 경우에도 "NEMO 서비스"가 사전에 청약철회 등이 제한되는 사실을 소비자가 쉽게 알 수 있는 곳에 명기하거나 시용상품을 제공하는 등의 조치를 하지 않았다면 이용자의 청약철회 등이 제한되지 않는다.
4."NEMO 서비스"를 통해 콘텐츠 등의 구매 계약을 체결한 이용자는 제1항, 제2항에도 불구하고 아래 사유가 존재하면 청약철회를 할 수 있다.
A.불법 콘텐츠로 분류 될 경우 : 불법 성인 콘텐츠, 불법 복제 및 유통 콘텐츠, 판권 또는 저작권자의 동의 없이 유통 된 콘텐츠
B.허위 콘텐츠로 분류 될 경우 : 제목과 영상내용이 상이할 경우, 다운로드 된 영상이 존재하지 않을 경우
C.콘텐츠 퀄리티에 문제가 있는 경우로 다음에 해당하는 경우 : 다운로드 된 영상의 음성이 없을 경우, 다운로드 된 영상의 음성이 인식되지 않을 경우, 다운로드 된 영상이 시각적으로 영상 내용을 알아볼 수 없을 경우, 다운로드 된 영상에 이미지 또는 영상 자체에 광고가 삽입되어있을 경우
D.콘텐츠 등의 내용이 표시·광고 내용과 다르거나 계약내용과 다르게 이행된 경우로 콘텐츠 등을 공급받은 날부터 3월, 그 사실을 안 날 또는 알 수 있었던 날부터 30일이 경과하지 아니한 경우
E.구매자의 청약철회 사유를 판매자가 이해하였으며 환불에 동의 한 경우

제19조(청약철회 등의 효과)
1."NEMO 서비스"는 이용자가 콘텐츠 등을 환불한 경우 환불 처리일로부터 3영업일 이내에 이미 지급받은 콘텐츠 등의 대금을 환급한다. 이 경우 "NEMO 서비스"가 이용자에게 환급을 지연한때에는 그 지연기간에 대하여 「전자상거래 등에서의 소비자보호에 관한 법률 시행령」제21조의2에서 정하는 지연이자율을 곱하여 산정한 지연이자를 지급한다.
2.청약철회 등의 경우 공급받은 콘텐츠 등의 환불에 필요한 비용은 이용자가 부담한다. "NEMO 서비스"는 이용자에게 청약철회 등을 이유로 위약금 또는 손해배상을 청구하지 않는다. 다만 콘텐츠 등의 내용이 표시·광고 내용과 다르거나 계약내용과 다르게 이행되어 청약철회 등을 하는 경우 콘텐츠 등의 청약철회에 필요한 비용은 "NEMO 서비스"가 부담한다.
3.이용자가 콘텐츠 등을 제공받을 때 제공을 위한 별도의 비용을 부담한 경우에 "NEMO 서비스"는 청약철회 시 그 비용을 누가 부담하는지를 이용자가 알기 쉽도록 명확하게 표시한다.


제20조(개인정보보호)
1. "NEMO 서비스"는 이용자의 개인정보 수집시 서비스 제공을 위하여 필요한 범위에서 최소한의 개인정보를 수집한다.
2."NEMO 서비스"는 회원가입시 구매계약 이행에 필요한 정보를 미리 수집하지 않는다. 다만, 관련 법령상 의무이행을 위하여 구매계약 이전에 본인확인이 필요한 경우로서 최소한의 특정 개인정보를 수집하는 경우에는 그러하지 아니한다.
3."NEMO 서비스"는 이용자의 개인정보를 수집·이용하는 때에는 당해 이용자에게 그 목적을 고지하고 동의를 받는다.
4."NEMO 서비스"는 수집된 개인정보를 목적외의 용도로 이용할 수 없으며, 새로운 이용목적이 발생한 경우 또는 제3자에게 제공하는 경우에는 이용·제공단계에서 당해 이용자에게 그 목적을 고지하고 동의를 받는다. 다만, 관련 법령에 달리 정함이 있는 경우에는 예외로 한다.
5."NEMO 서비스"가 제2항과 제3항에 의해 이용자의 동의를 받아야 하는 경우에는 개인정보관리 책임자의 신원(소속, 성명 및 전화번호, 기타 연락처), 정보의 수집목적 및 이용목적, 제3자에 대한 정보제공 관련사항(제공받은자, 제공목적 및 제공할 정보의 내용) 등 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 제22조 제2항이 규정한 사항을 미리 명시하거나 고지해야 하며 이용자는 언제든지 이 동의를 철회할 수 있다.
6.이용자는 언제든지 "NEMO 서비스"가 가지고 있는 자신의 개인정보에 대해 열람 및 오류정정을 요구할 수 있으며 "NEMO 서비스"는 이에 대해 지체 없이 필요한 조치를 취할 의무를 진다. 이용자가 오류의 정정을 요구한 경우에는 "NEMO 서비스"는 그 오류를 정정할 때까지 당해 개인정보를 이용하지 않는다.
7."NEMO 서비스"는 개인정보 보호를 위하여 이용자의 개인정보를 취급하는 자를 최소한으로 제한하여야 하며 신용카드, 은행계좌 등을 포함한 이용자의 개인정보의 분실, 도난, 유출, 동의 없는 제3자 제공, 변조 등으로 인한 이용자의 손해에 대하여 모든 책임을 진다.
8."NEMO 서비스" 또는 그로부터 개인정보를 제공받은 제3자는 개인정보의 수집목적 또는 제공받은 목적을 달성한 때에는 당해 개인정보를 지체 없이 파기한다.
9."NEMO 서비스"는 개인정보의 수집·이용·제공에 관한 동의 란을 미리 선택한 것으로 설정해두지 않는다. 또한 개인정보의 수집·이용·제공에 관한 이용자의 동의거절시 제한되는 서비스를 구체적으로 명시하고, 필수수집항목이 아닌 개인정보의 수집·이용·제공에 관한 이용자의 동의 거절을 이유로 회원가입 등 서비스 제공을 제한하거나 거절하지 않는다.

제21조("NEMO 서비스"의 의무)
1."NEMO 서비스"는 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 이 약관이 정하는 바에 따라 지속적이고, 안정적으로 재화․용역을 제공하는데 최선을 다하여야 한다.
2."NEMO 서비스"는 이용자가 안전하게 인터넷 서비스를 이용할 수 있도록 이용자의 개인정보(신용정보 포함)보호를 위한 보안 시스템을 갖추어야 한다.
3."NEMO 서비스"가 상품이나 용역에 대하여 「표시․광고의 공정화에 관한 법률」 제3조 소정의 부당한 표시·광고행위를 함으로써 이용자가 손해를 입은 때에는 이를 배상할 책임을 진다.
4."NEMO 서비스"는 이용자가 원하지 않는 영리목적의 광고성 전자우편을 발송하지 않는다.

제22조(회원의 ID 및 비밀번호에 대한 의무)
1. 제20조의 경우를 제외한 ID와 비밀번호에 관한 관리책임은 회원에게 있다.
2.회원은 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안된다.
3.회원이 자신의 ID 및 비밀번호를 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 바로 "NEMO 서비스"에 통보하고 "NEMO 서비스"의 안내가 있는 경우에는 그에 따라야 한다.

제23조(이용자의 의무) 이용자는 다음 각 호의 행위를 하여서는 안 된다.
A. 신청 또는 변경시 허위 내용의 등록
B.타인의 정보 도용
C."NEMO 서비스"에 게시된 정보의 변경
D."NEMO 서비스"가 정한 정보 이외의 정보(컴퓨터 프로그램 등) 등의 송신 또는 게시
E."NEMO 서비스" 기타 제3자의 저작권 등 지적재산권에 대한 침해
F."NEMO 서비스" 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위
G.외설 또는 폭력적인 메시지, 화상, 음성, 기타 공서양속에 반하는 정보를 “NEMO 서비스”에 공개 또는 게시하는 행위

제24조(저작권의 귀속 및 이용제한)
1. "NEMO 서비스"가 작성한 저작물에 대한 저작권 기타 지적재산권은 "NEMO 서비스"에 귀속한다.
2.이용자는 "NEMO 서비스"를 이용함으로써 얻은 정보 중 "NEMO 서비스"에게 지적재산권이 귀속된 정보를 "NEMO 서비스"의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 노출하여서는 안 된다.
3."NEMO 서비스"는 약정에 따라 이용자에게 귀속된 저작권을 사용하는 경우 당해 이용자에게 통보하여야 한다.

제25조(분쟁해결)
1. "NEMO 서비스"는 이용자가 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상처리하기 위하여 피해보상처리기구를 설치·운영한다.
2."NEMO 서비스"는 이용자로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리한다. 다만, 신속한 처리가 곤란한 경우에는 이용자에게 그 사유와 처리일정을 즉시 통보한다.
3."NEMO 서비스"와 이용자 간에 발생한 전자상거래 분쟁과 관련하여 이용자의 피해구제신청이 있는 경우에는 공정거래위원회 또는 시·도지사가 의뢰하는 분쟁조정기관의 조정에 따를 수 있다.

제26조(재판권 및 준거법)
1.“NEMO 서비스”와 이용자 간에 발생한 전자상거래 분쟁에 관한 소송은 네모랩 본사 주소를 관할하는 지방법원의 전속관할로 한다.
2.“NEMO 서비스”와 이용자 간에 제기된 전자상거래 소송에는 한국법을 적용한다.
</textarea>
            </div>
            <div class="form-input input-checkbox">
              <input type="checkbox" id="privacy_agree">
              <label for="privacy_agree">개인정보 수집 및 이용에 대한 안내 및 동의 <span class="fcOrange">(필수)</span></label>
            </div>
            <div class="form-input">
<textarea name="" id=""> 네모랩(이하 ‘회사’라 한다)은 정보통신망 이용촉진 및 정보보호에 관한 법률, 개인정보보호법 등 개인정보보호 법령에 따라 정보주체의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보 처리지침을 수립·공개합니다.

제1조(개인정보의 처리목적) 회사는 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 개인정보 보호법 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.

1.서비스 회원 가입 및 관리
 회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리, 제한적 본인확인제 시행에 따른 본인확인, 콘텐츠(데이터) 구입자 본인 확인, 서비스 부정이용 방지, 만 14세 미만 아동의 개인정보 처리시 법정대리인의 동의여부 확인, 각종 고지·통지, 고충처리 등을 목적으로 개인정보를 처리합니다.
2.데이터 또는 콘텐츠 제공
 물품배송, 서비스 제공, 계약서·청구서 발송, 콘텐츠 제공, 맞춤서비스 제공, 본인인증, 연령인증, 요금결제·정산, 채권추심 등을 목적으로 개인정보를 처리합니다.
3.고충처리
 민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락․통지, 처리결과 통보 등의 목적으로 개인정보를 처리합니다.

 제2조(처리하는 개인정보 항목) 회사는 다음의 개인정보 항목을 처리하고 있습니다.
A.NEMODaX.com, NEMOStudy 등 당사가 제공하는 서비스의 회원 가입 및 관리
- 필수항목 : 성명, 생년월일, 아이디, 비밀번호, 주소, 전화번호, 성별, 이메일주소, 아이핀번호 등 당사 서비스 제공을 위해 필수적인 정보
- 선택항목 : 관심분야 등 필수항목이 아닌 정보로서 당사 서비스의 품질 향상을 위해 필요한 정보

B.NEMODaX.com의 NEMOCoin 구입 서비스 이용
-필수항목 : 성명, 생년월일, 아이디, 비밀번호, 주소, 전화번호, 이메일주소, 아이핀번호, 신용카드번호, 은행계좌정보 등 결제정보

C.NEMODaX.com, NEMOStudy의 모바일 서비스 제공
-필수항목 : 디바이스ID

D.지갑 서비스 제공
-필수항목 : 이더리움, NEMOCoin 암호화폐 지갑 주소(지갑 주소 정보는 서비스를 위해 서비스에 생성 된 계정과 통합 관리됩니다).

E.데이터 또는 콘텐츠의 제공
-필수항목 : 성명, 생년월일, 아이디, 비밀번호, 주소, 전화번호, 이메일주소
-선택항목 : 관심분야, 과거 구매내역

F.인터넷 서비스 이용과정에서 아래 개인정보 항목이 자동으로 생성되어 수집될 수 있습니다.
-IP주소, 쿠키, MAC주소, 서비스 이용기록, 방문기록, 불량 이용기록 등

제3조(개인정보의 처리 및 보유기간)
1.08회사는 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집시에 동의받은 개인정보 보유·이용기간 내에서 개인정보를 처리·보유합니다.
2.각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.
A.회원 가입 및 관리 : 사업자/단체 홈페이지 탈퇴시까지
다만, 다음의 사유에 해당하는 경우에는 해당 사유 종료시까지
(1)관계 법령 위반에 따른 수사·조사 등이 진행중인 경우에는 해당 수사·조사 종료시까지
(2)홈페이지 이용에 따른 채권·채무관계 잔존시에는 해당 채권·채무관계 정산시까지
B.재화 또는 서비스 제공 : 재화·서비스 공급완료 및 요금결제․정산 완료시까지
다만, 다음의 사유에 해당하는 경우에는 최소한 해당 기간 종료시까지
(1)「전자상거래 등에서의 소비자 보호에 관한 법률」에 따른 표시·광고, 계약내용 및 이행 등 거래에 관한 기록
- 표시·광고에 관한 기록 : 6월
- 계약 또는 청약철회, 대금결제, 재화 등의 공급기록 : 5년
- 소비자 불만 또는 분쟁처리에 관한 기록 : 3년

(2)「통신비밀보호법」제41조에 따른 통신사실확인자료 보관
- 가입자 전기통신일시, 개시․종료시간, 상대방 가입자번호, 사용도수, 발신기지국 위치추적자료 : 1년
- 컴퓨터통신, 인터넷 로그기록자료, 접속지 추적자료 : 3개월

제4조(개인정보의 제3자 제공)
회사는 정보주체의 개인정보를 제1조(개인정보의 처리 목적)에서 명시한 범위 내에서만 처리하며, 정보주체의 동의, 법률의 특별한 규정 등 개인정보 보호법 제17조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.

제5조(개인정보처리의 위탁)
회사는 개인정보처리를 위탁하지 않고 있으며, 자체 관리 중입니다. 추후 개인정보처리를 위탁하게 되는 경우 지체없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.

제6조(정보주체의 권리·의무 및 행사방법)
1.정보주체는 회사에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다. 다만, 블록체인에 기록된 정보는 그 속성상 정정이 곤란할 수 있습니다.
A.개인정보 열람요구
B.오류 등이 있을 경우 정정 요구
C.삭제요구
D.처리정지 요구
2.네모닥에서 개인 사용자에게 제공되는 블록체인 상(이더리움)에서 만들어지는 지갑의 경우 지갑 주소, 지갑 전용 비밀번호 및 Key File을 서비스에서 관리/제공하지 않습니다. 이는 분실 및 도난 시 다시 설정하거나, 찾을 수 없는 것을 의미합니다.
3.제1항에 따른 권리 행사는 회사가 제공한 어플리케이션 및 이메일 등 정보통신망을 통하여 하실 수 있으며 회사는 이에 대해 지체없이 조치하겠습니다.
4.정보주체가 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우에는 회사는 정정 또는 삭제를 완료할 때까지 당해 개인정보를 이용하거나 제공하지 않습니다.
5.정보주체는 개인정보 보호법 등 관계법령을 위반하여 회사가 처리하고 있는 정보주체 본인이나 타인의 개인정보 및 사생활을 침해하여서는 아니됩니다.

제7조(개인정보의 파기)
1.회사는 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체없이 해당 개인정보를 파기합니다.
2.정보주체로부터 동의받은 개인정보 보유기간이 경과하거나 처리목적이 달성되었음에도 불구하고 다른 법령에 따라 개인정보를 계속 보존하여야 하는 경우에는, 해당 개인정보를 별도의 데이터베이스(DB)로 옮기거나 보관장소를 달리하여 보존합니다.
3.개인정보 파기의 절차 및 방법은 다음과 같습니다.
A.파기절차 : 회사는 파기 사유가 발생한 개인정보를 선정하고, 회사의 개인정보 보호책임자의 승인을 받아 개인정보를 파기합니다.
B.파기방법: 회사는 전자적 파일 형태로 기록․저장된 개인정보는 기록을 재생할 수 없도록 로우레밸포멧(Low Level Format) 등의 방법을 이용하여 파기하며, 종이 문서에 기록․저장된 개인정보는 분쇄기로 분쇄하거나 소각하여 파기합니다.

제8조(개인정보의 안전성 확보조치) 회사는 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.
A.관리적 조치 : 내부관리계획 수립·시행, 정기적 직원 교육 등
B.기술적 조치 : 개인정보처리시스템 등의 접근권한 관리, 접근통제시스템 설치, 고유식별정보 등의 암호화, 보안프로그램 설치
C.물리적 조치 : 전산실, 자료보관실 등의 접근통제

제9조(개인정보 자동 수집 장치의 설치∙운영 및 거부에 관한 사항)
1.회사는 이용자에게 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’를 사용합니다.
2.쿠키는 웹사이트를 운영하는데 이용되는 서버(http, https)가 이용자의 컴퓨터 브라우저에게 보내는 소량의 정보이며 이용자들의 PC 컴퓨터내의 하드디스크에 저장되기도 합니다.
A.쿠키의 사용목적: 이용자가 방문한 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 인기 검색어, 보안접속 여부, 등을 파악하여 이용자에게 최적화된 정보 제공을 위해 사용됩니다.
B.쿠키의 설치∙운영 및 거부 : 웹브라우저 상단의 도구>인터넷 옵션>개인정보 메뉴의 옵션 설정을 통해 쿠키 저장을 거부 할 수 있습니다.
C.쿠키 저장을 거부할 경우 맞춤형 서비스 이용에 어려움이 발생할 수 있습니다.

제10조(개인정보 보호책임자)
1.회사는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.

▶ 개인정보 보호책임자
성명 : 이왕재
직책 : 대표이사
연락처 : (전화번호) 070-8244-1212, (이메일) nemodax@nemolab.kr

2.정보주체께서는 회사의 서비스(또는 사업)을 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의하실 수 있습니다. 회사는 정보주체의 문의에 대해 지체없이 답변 및 처리해드릴 것입니다.

제11조(개인정보 열람청구) 정보주체는 개인정보 보호법 제35조에 따른 개인정보의 열람 청구를 아래의 부서에 할 수 있습니다. 회사는 정보주체의 개인정보 열람청구가 신속하게 처리되도록 노력하겠습니다.

▶ 개인정보 열람청구 접수·처리 담당자
담당자 : 이왕재
연락처 : (이메일) nemodax@nemolab.kr

제12조(권익침해 구제방법) 정보주체는 아래의 기관에 대해 개인정보 침해에 대한 피해구제, 상담 등을 문의하실 수 있습니다.

<아래의 기관은 회사와는 별개의 기관으로서, 회사의 자체적인 개인정보 불만처리, 피해구제 결과에 만족하지 못하시거나 보다 자세한 도움이 필요하시면 문의하여 주시기 바랍니다>

▶ 개인정보 침해신고센터 (한국인터넷진흥원 운영)
- 소관업무 : 개인정보 침해사실 신고, 상담 신청
- 홈페이지 : privacy.kisa.or.kr
- 전화 : (국번없이) 118
- 주소 : (58324) 전남 나주시 진흥길 9(빛가람동 301-2) 3층 개인정보침해신고센터

▶ 개인정보 분쟁조정위원회
- 소관업무 : 개인정보 분쟁조정신청, 집단분쟁조정 (민사적 해결)
- 홈페이지 : www.kopico.go.kr
- 전화 : (국번없이) 1833-6972
- 주소 : (03171)서울특별시 종로구 세종대로 209 정부서울청사 4층

▶ 대검찰청 사이버범죄수사단 : 02-3480-3573 (www.spo.go.kr)

▶ 경찰청 사이버안전국 : 182 (http://cyberbureau.police.go.kr)

제13조(영상정보처리기기 설치·운영)
네모랩은 별도로 영상정보처리기기를 설치·운영하고 있지 아니합니다.

제14조(개인정보 처리방침 변경)
1.이 개인정보 처리방침은 2019. 06. 03. 부터 적용됩니다.
</textarea>
            </div>
            <div class="form-input input-checkbox">
              <input type="checkbox" id="email_agree">
              <label for="email_agree">이벤트 및 프로모션 등의 안내 메일 수신 동의 <span>(선택)</span></label>
            </div>
          </div>
          <div class="fz12 fcOrange mt50 hidden" id="errMsg">
            * NEMODaX.com 이용약관 및 개인정보 수집 및 이용에 대한 안내는 필수 사항으로 동의가 필요 합니다.
          </div>
          <a href="javascript:void(0);" class="btn_bottom" id="btn_next">확인</a>
        </div>
        <div class="copy_bottom">
          © 2019. NEMOLab CORP. All Rights Reserved
        </div>
      </div>
    </div>
  </div>


  <script>


      $(document).ready(function(){
        $('#btn_next').bind('click',function (e){

          if(!$('#terms_agree').is(":checked")){
            $('#errMsg').removeClass('hidden');
            return;
          }
          if(!$('#privacy_agree').is(":checked")){
            $('#errMsg').removeClass('hidden');
            return;
          }

          let email_yn = 'N';
          if($('#email_agree').is(":checked")){
            email_yn = 'Y';
          }


          document.location.href = `/member/signup?email_yn=${email_yn}&terms_yn=Y&privacy_yn=Y`;
        });

        $('#all_agree').click(function(e) {
          if(!$('#terms_agree').is(":checked")
              || !$('#privacy_agree').is(":checked")
              || !$('#email_agree').is(":checked")){
            //모두체크
            $('#terms_agree').prop("checked", true);
            $('#privacy_agree').prop("checked", true);
            $('#email_agree').prop("checked", true);

          }else{
            //모두체크해제
            $('#terms_agree').prop("checked", false);
            $('#privacy_agree').prop("checked", false);
            $('#email_agree').prop("checked", false);
          }
        });


        $("#terms_agree").click(function(e) {
          viewTerms();
        });

        $("#privacy_agree").click(function(e) {
          viewTerms();
        });

        $("#email_agree").click(function(e) {
          viewTerms();
        });


      });


      function viewTerms() {
        if( !$("#terms_agree").is(":checked") || !$("#privacy_agree").is(":checked") || !$("#email_agree").is(":checked")) {
            $("#all_agree").prop("checked",false);
        }

        if( $("#terms_agree").is(":checked") && $("#privacy_agree").is(":checked") && $("#email_agree").is(":checked")) {
            $("#all_agree").prop("checked",true);
        }

        return true;
      }

    </script>

</body>

</html>
