<!-- <html> -->
<div class="container">
  <div class="conbg">
    <div class="contxt">
      ROADMAP & MILESTONE
    </div>
  </div>
  <div class="con wrap-1200">
    <div class="con2">
      <div class="fw500 fz30 mb100">
        <a href="#"><img src="/images/nemodax4.jpg"></a>
         <p>가치 연결의 시작을 위한 연구/개발은 지속됩니다.</p>
        <div class="mt100 tac">
           <a href="#"><img src="/images/roadmap.jpg"></a>
        </div>
      </div>
      <div class="roadmap_txt dfc mt100">
        <dl>
          <span class="fz12">2019.2Q</span>
          <dt><strong class="line">NEMODaX.com사전오픈</strong></dt>
            <dd>판매용 콘텐츠를 등록하는 콘텐츠 및 데이터<br> 판매자 혹은 cp를 위한 기능 오픈</dd>
        </dl>

        <dl>
          <span class="fz12">2019.2Q</span>
          <dt><strong class="line">NEMOStduy 정식오픈</strong></dt>
            <dd>모바일 전용 스트리밍 서비스 오픈<br> (포인트 결제/암호화폐 Transaction)</dd>
        </dl>

        <dl>
          <span class="fz12">2019.2Q</span>
          <dt><strong class="line">NEMODaX.com Ver 1.0</strong></dt>
            <dd>판매자와 일반사용자의 커뮤니케이션 <br> 기능 정식 적용</dd>
            <dd>등록파일 암호화/IPFS 파일 전송 및 <br> 다운로드 기능 정식 적용</dd>
        </dl>

        <dl>
          <span class="fz12">2019.2Q</span>
          <dt><strong class="line">NEMODaX.com Ver 2.0</strong></dt>
            <dd>IPFS 노드 참여 시스템 적용</dd>
            <dd>음란물 및 불법 복제 데이터 감지 시스템 적용</dd>
            <dd>NEMODaX Regular Personal Wallet <br> 거래소 지갑과 연동</dd>
            <dd>블록체인기반 저작권 증명 시스템 적용</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
