body{    
    font-family: Noto Sans KR, sans-serif;
    font-weight: 300;
    font-size:14px;
    color:#444;
}
#wrap{width:100%; text-align: center; min-width:1180px;}

.container{width:1180px; margin:0 auto; }
.header_wrap{width:100%; background-color: #0c0e1e; padding:30px 0; border-bottom:2px solid #f58220; position: fixed; z-index: 10;}
.ltext {text-align: left; }
.relposition { position:relative; }

.nav_list{float:right; }
.nav_list li{display: inline-block; padding-left:20px; font-size:16px; font-weight:400;}
.nav_list li a:hover{color:#f58220;}

.lang {position:relative; float:right; font-size: 12px; padding:5px;}
.lang>a{padding:0 30px; color:#f58220; font-weight: 400}
.lang ul{position:absolute; left:50%; transform: translateX(-50%); padding-top:10px; background-color: #0c0e1e; display: none;}
.lang ul li{padding:15px 20px;}
.lang li a:hover{color:#f58220; font-weight: 400;}


.lang:hover ul {
    display: block;
}

.lang div:hover ul {
    display: block;
}

.con{padding:100px 0;}
.con150{padding:150px 0;}
.con01{background-image: url("../ieo_img/bg_content01.png"); padding-bottom:150px;}

.btn{width:260px; padding:15px 0; margin:5px 10px; border:1px solid #fff; display:inline-block; text-align: center;}
.btn:hover{border:1px solid #f58220; color:#f58220;}

.whitepaper_wrap{padding:50px;}
.whitepaper_wrap li{display:inline-block;}

.news_wrap{position: relative;}
.news_wrap .container{position: absolute; padding:20px 0; left:50%; transform:translateX(-50%); bottom:-120px; background-color:#161829; box-shadow: 0 0 20px #06070f; z-index:5; }
.news{width:30%; padding:15px 10px 0; display:inline-block; text-align: left; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.news a{color:#999;}
.news a:hover{text-decoration: underline;}
.nh{font-size:16px; font-weight: 500; color:#fff; padding-bottom:10px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.con02{background-color: #0c0e1e; padding-top:200px; }
.con02 img{padding-bottom:80px;}

.con03{background-image: url("../ieo_img/bg_content03.png"); background-repeat: no-repeat; background-size:cover; text-align: right;}

.con05{background-color: #161a34;}

.con06{background-color: #f1f1f1;}
.con07{background-color: #eaeaea;}
.con06_01{padding-top:120px;}

.teamlist{padding-top:100px; padding}
.teamlist li{display:inline-block; padding:0 30px; font-size:16px; font-weight:400; color:#666; }
.name{font-size:18px; font-weight:500; color:#444; }
.name img{margin-left:10px; vertical-align: bottom;}

.contact_wrap{font-size:16px; color:#666; font-weight:400; text-align: left; padding-top:80px;}
.contxt{display:inline-block;}
.contxt p{font-size:24px; font-weight:500; color:#444;}

.contact_btn{display:inline-block; padding:20px 90px; font-size:18px; font-weight:400; background-color:#2f3341; position:absolute; right:0; bottom:0}
.contact_btn a:hover{text-decoration: underline;}

.footer{background-color: #0c0e1e; text-align: left; color:#fff; padding-top:80px; padding-bottom:30px;}
.address img{padding-bottom:50px;}
.snslist{position:absolute; right:0; text-align: right;}
.snslist li{display:inline-block; padding:0 10px; }

.copyright{text-align: left; margin-top:50px;}